//CORE COLORS*/
//Should not be used directly in any less files other than this one*/
@Highlight-Color-1: white; //TODO: Replace with actual color.
@Highlight-Color-2: white; //TODO: Replace with actual color.

//MAIN COLORS
//These variables can be used in other less files (controls less files etc)
//These should be derived from Core colors using fadeout(), lighten() darken() less functions.

@Main-Font-Family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
@Main-Font-Family-2: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;

@List-Item-Hover-Background-Color: #e7f7ff; //used by listbox
@List-Item-Selected-Background-Color: #cde6f7; //used by listbox

@Input-Border-Color: #999999; //used by many controls
@Input-Focus-Border-Color: #2a8dd4; //used by many controls.

@Panel-Header-Background-Color-1: #EFEFEF; //used by any control with a web-part style header bar.
@Panel-Header-Background-Color-2: #EFEFEF; //used by any control with a web-part style header bar.
@Panel-Header-Text-Color: #6c6e70;
@Panel-Header-Border-Color: #e9e4e8;

//STATIC COLORS*/
//Colors that typically do not change even when the core colors are changed.*/

//SIZE VARIABLES*/
//Standard Heights and paddings that can't be made fluid by using flex*/

//ANIMATION SPEEDS
//used in a variety of places
