// PURPOSE
//Please note that this file should not contain any colors, please add the colors to specific theme's less files.
//This file should only have layout related styles

//The Control developer can choose to import these or not, depending on whether they need them.
@import (reference) "@{SourceCode-Designer-Variables-File}";

.theme-entry .SFC.hidden,
.theme-entry .SFC .hidden,
.theme-entry > form > div > .grid .grid-content-cell-wrapper > *.SFC.hidden,
.theme-entry .SFCDimensionsWrapper.hidden,
.workflowContainer .tree li.hidden
{
	display: none;
}

.theme-entry .SFC .stylewrapper
{
	overflow: auto;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.theme-entry .SFC
{
	overflow: hidden;
	position: relative;
}

.theme-entry .SFC div.text-input .input-control-watermark
{
	text-align: start;
}

.theme-entry .SFC .disable-overlay
{
	top: 0px;
	left: 0px;
	position: absolute;
	border-style: none;
	opacity: 0.01;
}

.theme-entry .SFC.disabled .disable-overlay,
.theme-entry .SFC.preview .disable-overlay,
.theme-entry .SFC.preview .disable-overlay .condtional-format-preview .disable-overlay
{
	bottom: 0px;
	right: 0px;
}

.theme-entry .SFC.disabled
{
	opacity: 0.5;
}

.layoutTable
{
	display: inline-table;
	width: 100%;
	height: 100%;
}

.layoutRow
{
	display: table-row;
}

.layoutCell
{
	display: table-cell;
}

//Highlight for designer search in the activity picker in the properties grid
//for the report header and reporting controls
.workflowTreeContainer .highlight
{
	display: inline-block;
}

//Runtime
//Highlight for search in the activity picker
//for the report header
//Note this color is only correct for platinum
//This cannot (only) be added per theme since custom themes eg platinum 2 will render incorrectly / have no color
//The color should move to an all themes file in future
.theme-entry .workflowTreeContainer .highlight
{
	display: inline-block;
}

/*Simple scrollbar*/
.theme-entry .simplebar-track {
	margin: @Scrollbar-Track-Margin;
}

.theme-entry .simplebar-scrollbar::before {
	background-color: @Scrollbar-Handle-Color;
}

.theme-entry .simplebar-scrollbar.simplebar-visible::before {
	background-color: @Scrollbar-Handle-Hover-Color;
}
