/*Author: 		Lewis Garmston*/

/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */
@import "../../../Designer_Variables.less";


body 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.blockedbrowser-outer-panel,
.blockedbrowser-middle-panel
{
    height: 361px;
}

.blockedbrowser-outer-panel,
.blockedbrowser-help-link 
{
    position: absolute;
}

.blockedbrowser-outer-panel 
{
    left: 50%;
    margin-left: -330px;
    margin-top: -180px;
    top: 50%;
    width: 660px;
}

.blockedbrowser-middle-panel,
.blockedbrowser-k2-smartforms-logo,
.browser-not-supported-heading,
.browser-not-supported-text,
.blockedbrowser-chrome-name,
.blockedbrowser-edge-name
{
    position: relative;
}

.blockedbrowser-left-panel,
.blockedbrowser-middle-panel,
.blockedbrowser-right-panel
{
    float: left;
}

.blockedbrowser-left-panel,
.blockedbrowser-right-panel
{
    width: 8px;
}

.blockedbrowser-k2-smartforms-logo
{
    padding-top: 40px;
}

.blockedbrowser-k2-smartforms-logo img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.browser-not-supported-heading,
.browser-not-supported-text,
.blockedbrowser-chrome-name,
.blockedbrowser-edge-name,
.blockedbrowser-help-link 
{
    text-align: center;
}

.browser-not-supported-heading,
.blockedbrowser-help-link,
.blockedbrowser-help-anchor:link 
{
    color: #36474f;
}


.browser-not-supported-heading
{
    font-size: 1.5rem;
    padding-top: 30px;
}

.browser-not-supported-text,
.blockedbrowser-chrome-name,
.blockedbrowser-edge-name 
{
    font-size: 1rem;
}

.browser-not-supported-text 
{
    color: #36474f;
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 6px;
}

.blockedbrowser-chrome-name,
.blockedbrowser-edge-name
{
    color: #36474f;
}

.blockedbrowser-chrome-name 
{
    padding-top: 12px;
}

.blockedbrowser-help-link
{
    bottom: 0;
    font-size: 1rem;
    left: 0;
    padding-bottom: 6px;
    right: 0;
}

.mobile .blockedbrowser-chrome-name,
.mobile .blockedbrowser-edge-name
{
    display: none;
}

.hidden 
{
    display: none;
}

.cm-help-link 
{
    font-size: 1rem;
}

#cmContainer * 
{
    font-family: Helvetica, sans-serif;
}
