/*Author: 		Lewis Garmston*/

/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */

/* [893303] Min-width for Table control so it display a thin bar when width of table is set to 0px in design-time */
.picker_layer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  background-color: #d4d0c8;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  overflow: visible;
  height: auto;
  width: auto;
}
.picker_buttons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #d4d0c8;
  border-style: solid;
  border-color: #666666;
  border-width: 1px;
  padding: 1px;
  cursor: pointer;
  color: #343e41;
}
.cell_color {
  cursor: pointer;
  width: 9px;
  height: 9px;
}
.color_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}
.choosed_color_cell {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.default_color_btn {
  width: 17px;
  height: 17px;
  background-image: url(../Images/Icons/No16.png);
  background-repeat: no-repeat;
  background-position: center;
}
.font_layer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  background-color: #d4d0c8;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  overflow: visible;
  height: auto;
  width: auto;
}
td.cell_font {
  cursor: pointer;
  background-color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 14px;
  padding-left: 3px;
}
td.cell_font.selected {
  cursor: pointer;
  background-color: #cccccc;
}
