/*Author: 		Ge-org Brohammer*/

/*Purpose: 		Styling of the drop-textbox used in conditions for conditional formatting*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */

/* [893303] Min-width for Table control so it display a thin bar when width of table is set to 0px in design-time */
.drop-text {
  border-style: none;
  margin: 0;
  padding: 0;
}
.webkit .drop-text {
  outline: none;
}
.drop-text.watermark {
  font-style: italic;
  color: rgba(78, 87, 88, 0.2);
  min-width: 250px;
}
