
.icon.left-bracket,
a.ui-draggable-dragging.left-bracket
{
    background-image: url("../Images/Icons/Functions/BracketLeft16@{res}.png");
}

.icon.right-bracket,
a.ui-draggable-dragging.right-bracket
{
    background-image: url("../Images/Icons/Functions/BracketRight16@{res}.png");
}

.icon.literal.true,
a.ui-draggable-dragging.literal.true
{
    background-image: url("../Images/Icons/Functions/True16@{res}.png");
}

.icon.literal.false,
a.ui-draggable-dragging.literal.false
{
    background-image: url("../Images/Icons/Functions/False16@{res}.png");
}

.icon.literal.empty-string,
a.ui-draggable-dragging.literal.empty-string
{
    background-image: url("../Images/Icons/Functions/Empty16@{res}.png");
}

.icon.expression,
a.ui-draggable-dragging.expression
{
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction16@{res}.png");
}
