

.ico
{
    &.icon-add
    {
        background-image: url("../Images/Icons/Ribbon/Add16@{res}.png");
    }

    &.icon-delete
    {
        background-image: url("../Images/Icons/Ribbon/Delete16@{res}.png");
    }

    &.icon-delete-all
    {
        background-image: url("../Images/Icons/Ribbon/RemoveAll16@{res}.png");
    }

    &.icon-edit
    {
        background-image: url("../Images/Icons/Ribbon/Edit16@{res}.png");
    }

    &.icon-refresh
    {
        background-image: url("../Images/Icons/ContextBrowser/Refresh16@{res}.png");
    }

    &.icon-remove
    {
        background-image: url("../Images/Icons/Ribbon/Remove16@{res}.png");
    }

    &.icon-remove-all
    {
        background-image: url("../Images/Icons/Ribbon/RemoveAll16@{res}.png");
    }

    &.icon-error
    {
        background-image: url("../Images/Icons/Ribbon/Error16@{res}.png");
    }

    &.icon-error.medium
    {
        background-image: url("../Images/Icons/Management/Error32@{res}.png");
    }

    &.icon-error.large
    {
        background-image: url("../Images/Icons/Management/Error64@{res}.png");
    }

    &.icon-info
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt16@{res}.png");
    }

    &.icon-info.medium
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt32@{res}.png");
    }

    &.icon-info.large
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt64@{res}.png");
    }

    &.icon-question
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt16@{res}.png");
    }

    &.icon-question.medium
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt32@{res}.png");
    }

    &.icon-question.large
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt64@{res}.png");
    }

    &.icon-warning
    {
        background-image: url("../Images/Icons/Ribbon/ErrorHandling16@{res}.png");
    }

    &.icon-warning.medium
    {
        background-image: url("../Images/Icons/Ribbon/ErrorHandling32@{res}.png");
    }

    &.icon-warning.large
    {
        background-image: url("../Images/Icons/Ribbon/ErrorHandling64@{res}.png");
    }

    &.icon-action
    {
        background-image: url("../Images/Icons/Toolbox/Action16@{res}.png");
    }

    &.icon-action.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-condition
    {
        background-image: url("../Images/Icons/Toolbox/Conditions16@{res}.png");
    }

    &.icon-condition.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-conditional-style
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
    }

    &.icon-conditional-style.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-control
    {
        background-image: url("../Images/Icons/Toolbox/Controls16@{res}.png");
    }

    &.icon-control.medium
    {
        background-image: url("../Images/Icons/Toolbox/Controls32@{res}.png");
    }

    &.icon-control-event
    {
        background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
    }

    &.icon-control-event.medium
    {
        background-image: url("../Images/Icons/Toolbox/Event32@{res}.png");
    }

    &.icon-control-method
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-control-method.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-control-method-parameter
    {
        background-image: url("../Images/Icons/Toolbox/Parameter16@{res}.png");
    }

    &.icon-control-method-parameter.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-control-property
    {
        background-image: url("../Images/Icons/Toolbox/Properties16@{res}.png");
    }

    &.icon-control-property.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-event
    {
        background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
    }

    &.icon-event.medium
    {
        background-image: url("../Images/Icons/Toolbox/Event32@{res}.png");
    }

    &.icon-expression
    {
        background-image: url("../Images/Icons/Functions/RegularExpressionFunction16@{res}.png");
    }

    &.icon-expression.medium
    {
        background-image: url("../Images/Icons/Functions/RegularExpressionFunction32@{res}.png");
    }

    &.icon-field
    {
        background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab16@{res}.png");
    }

    &.icon-field.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-filter
    {
        background-image: url("../Images/Icons/Runtime/Filter16@{res}.png");
    }

    &.icon-filter.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form
    {
        background-image: url("../Images/Icons/FileTypes/Form16@{res}.png");
    }

    &.icon-form.medium
    {
        background-image: url("../Images/Icons/FileTypes/Form32@{res}.png");
    }

    &.icon-styleprofile
    {
        background-image: url("../Images/Icons/FileTypes/StyleProfile16@{res}.png");
    }

    &.icon-styleprofile.medium
    {
        background-image: url("../Images/Icons/FileTypes/StyleProfile32@{res}.png");
    }

    &.icon-process
    {
        background-image: url("../Images/Icons/FileTypes/ProcessDefinition16@{res}.png");
    }

    &.icon-process.medium
    {
        background-image: url("../Images/Icons/FileTypes/ProcessDefinition32@{res}.png");
    }

    &.icon-smartobject
    {
        background-image: url("../Images/Icons/FileTypes/SmartObject16@{res}.png");
    }

    &.icon-smartobject.medium
    {
        background-image: url("../Images/Icons/FileTypes/SmartObject32@{res}.png");
    }

    &.icon-view
    {
        background-image: url("../Images/Icons/FileTypes/View16@{res}.png");
    }

    &.icon-view.medium
    {
        background-image: url("../Images/Icons/FileTypes/View32@{res}.png");
    }

    &.icon-conditional-style-error
    {
        background-image: url("../Images/Icons/Badges/ConditionalStyling_Error16@{res}.png");
    }

    &.icon-conditional-style-error.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-expression-error
    {
        background-image: url("../Images/Icons/Badges/RegularExpressionFunctionError16@{res}.png");
    }

    &.icon-expression-error.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-sub-form
    {
        //background-image: url("../Images/Icons/SubFormGeneric16@{res}.png");
        background-image: url("../Images/Icons/FileTypes/Form16@{res}.png");
    }

    &.icon-sub-form.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-multiselect-control
    {
        background-image: url("../Images/Icons/DataTypes/MultiValue16@{res}.png");
    }

    &.icon-multiselect-control.medium
    {
        background-image: url("../Images/Icons/DataTypes/MultiValue32@{res}.png");
    }



    &.icon-smartobject-method
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-smartobject-method.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-smartobject-property
    {
        background-image: url("../Images/Icons/Ribbon/Properties16@{res}.png");
    }

    &.icon-smartobject-property.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-smartobject-method-parameter
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-smartobject-method-parameter.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-instance
    {
        background-image: url("../Images/Icons/Management/ServiceInstance16@{res}.png");
    }

    &.icon-service-instance.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object
    {
        background-image: url("../Images/Icons/Management/ServiceObject16@{res}.png");
    }

    &.icon-service-object.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object-browser
    {
        background-image: url("../Images/Icons/Management/ServiceObject16@{res}.png");
    }

    &.icon-service-object-browser.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object-method
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-service-object-method.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object-method-parameter
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-service-object-method-parameter.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object-method-property
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-service-object-method-property.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-service-object-servicetype
    {
        background-image: url("../Images/Icons/Management/SmartObjectServices16@{res}.png");
    }

    &.icon-service-object-servicetype.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-event
    {
        background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
    }

    &.icon-form-event.medium
    {
        background-image: url("../Images/Icons/Toolbox/Event32@{res}.png");
    }

    &.icon-form-error
    {
        background-image: url("../Images/Icons/Badges/FormError16@{res}.png");
    }

    &.icon-form-error.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-parameter
    {
        background-image: url("../Images/Icons/Toolbox/Parameter16@{res}.png");
    }

    &.icon-form-parameter.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-state
    {
        background-image: url("../Images/Icons/Rules/State16@{res}.png");
    }

    &.icon-form-state.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-state-error
    {
        background-image: url("../Images/Icons/Badges/StateError16@{res}.png");
    }

    &.icon-form-state-error.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-styleprofile-error
    {
        background-image: url("../Images/Icons/Badges/StyleProfileError16@{res}.png");
    }

    &.icon-view-event
    {
        background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
    }

    &.icon-view-event.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-view-error
    {
        background-image: url("../Images/Icons/Badges/ViewError16@{res}.png");
    }

    &.icon-view-error.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-view-method
    {
        background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
    }

    &.icon-view-method.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-content-view
    {
        background-image: url("../Images/Icons/FileTypes/View16@{res}.png");
    }

    &.icon-content-view.medium
    {
        background-image: url("../Images/Icons/FileTypes/View32@{res}.png");
    }

    &.icon-item-view
    {
        background-image: url("../Images/Icons/FileTypes/View16@{res}.png");
    }

    &.icon-item-view.medium
    {
        background-image: url("../Images/Icons/FileTypes/View32@{res}.png");
    }

    &.icon-list-view
    {
        background-image: url("../Images/Icons/FileTypes/View16@{res}.png");
    }

    &.icon-list-view.medium
    {
        background-image: url("../Images/Icons/FileTypes/View32@{res}.png");
    }

    &.icon-workflow-view
    {
        background-image: url("../Images/Icons/Ribbon/Workflow16@{res}.png");
    }

    &.icon-workflow-view.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-process-instance
    {
        background-image: url("../Images/Icons/ContextBrowser/ProcessInstance16@{res}.png");
    }

    &.icon-process-instance.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-process-data-field
    {
        background-image: url("../Images/Icons/ContextBrowser/DataField16@{res}.png");
    }

    &.icon-process-data-field.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-process-xml-field
    {
        background-image: url("../Images/Icons/DataTypes/XML16@{res}.png");
    }

    &.icon-process-xml-field.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-workflow-actions
    {
        background-image: url("../Images/Icons/Ribbon/Workflow16@{res}.png");
    }

    &.icon-workflow-actions.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-checked-out
    {
        background-image: url("../Images/Icons/FileTypes/Form_CheckOut16@{res}.png");
    }

    &.icon-form-checked-out.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-form-checked-out-user
    {
        background-image: url("../Images/Icons/FileTypes/Form_UserCheckOut16@{res}.png");
    }

    &.icon-form-checked-out-user.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-styleprofile-checked-out
    {
        background-image: url("../Images/Icons/FileTypes/StyleProfile_CheckOut16@{res}.png");
    }

    &.icon-styleprofile-checked-out-user
    {
        background-image: url("../Images/Icons/FileTypes/StyleProfile_UserCheckOut16@{res}.png");
    }

    &.icon-view-checked-out
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
    }

    &.icon-view-checked-out.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-view-checked-out-user
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
    }

    &.icon-view-checked-out-user.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-list-view-checked-out
    {
        background-image: url("../Images/Icons/FileTypes/View_CheckOut16@{res}.png");
    }

    &.icon-list-view-checked-out.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-list-view-checked-out-user
    {
        background-image: url("../Images/Icons/FileTypes/View_UserCheckOut16@{res}.png");
    }

    &.icon-list-view-checked-out-user.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-item-view-checked-out
    {
        background-image: url("../Images/Icons/FileTypes/View_CheckOut16@{res}.png");
    }

    &.icon-item-view-checked-out.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-item-view-checked-out-user
    {
        background-image: url("../Images/Icons/FileTypes/View_UserCheckOut16@{res}.png");
    }

    &.icon-item-view-checked-out-user.medium
    {
        background-image: url("../Images/Icons/Placeholder/Placeholder32@{res}.png");
    }

    &.icon-date
    {
        background-image: url( "../Images/Icons/DataTypes/Date16@{res}.png");
    }
}

.icon
{
    &.icon-size16
    {
        &.ic
        {
            &-dropdown
            {
                background-image: url("../Images/Icons/DropdownSet/Dropdown16@{res}.png");
            }

            &-form
            {
                background-image: url("../Images/Icons/FileTypes/Form16@{res}.png");
            }

            &-styleprofile
            {
                background-image: url("../Images/Icons/FileTypes/StyleProfile16@{res}.png");
            }

            &-subform
            {
                background-image: url("../Images/Icons/FileTypes/SubForm16@{res}.png");
            }

            &-smartobject
            {
                background-image: url("../Images/Icons/FileTypes/SmartObject16@{res}.png");
            }

            &-workflow
            {
                background-image: url("../Images/Icons/Toolbar/Workflow16@{res}.png");
            }

            &-view
            {
                background-image: url("../Images/Icons/FileTypes/View16@{res}.png");
            }

            &-subview
            {
                background-image: url("../Images/Icons/FileTypes/SubView16@{res}.png");
            }

            &-close
            {
                background-image: url("../Images/Icons/Runtime/HeaderClose16@{res}.png");
            }
            //for file tabs
            &-avatarempty
            {
                background-image: url("../Images/Icons/Avatar/EmptyAvatar16@{res}.png");
            }

            &-rule
            {
                background-image: url("../Images/Icons/Rules/Rule16@{res}.png");
            }

            &-rule.error
            {
                background-image: url("../Images/Icons/Rules/Rule_Error16@{res}.png");
            }
        }
    }

    &.icon-size16
    {
        &.icon-set-interactive
        {
            &.icon-mode-hyperlink
            {
                &.ic-pageleft
                {
                    background-image: url("../Images/Icons/Interactive/PageLeftHover16_Dark@{res}.png");
                }

                &.ic-pageright
                {
                    background-image: url("../Images/Icons/Interactive/PageRightHover16_Dark@{res}.png");
                }
            }
        }
    }

    &.icon-size16
    {
        &.icon-set-toolbar
        {
            &.ic-copy
            {
                background-image: url("../Images/Icons/Toolbar/Copy16@{res}.png");
            }
        }
    }

    &.icon-size32
    {
        &.ic
        {
            &-dropdown
            {
                background-image: url("../Images/Icons/PlaceHolder/PlaceHolder32@{res}.png");
            }

            &-form
            {
                background-image: url("../Images/Icons/FileTypes/Form32@{res}.png");
            }

            &-styleprofile
            {
                background-image: url("../Images/Icons/FileTypes/StyleProfile32@{res}.png");
            }

            &-smartobject
            {
                background-image: url("../Images/Icons/FileTypes/SmartObject32@{res}.png");
            }

            &-workflow
            {
                background-image: url("../Images/Icons/Toolbar/Workflow32@{res}.png");
            }

            &-view
            {
                background-image: url("../Images/Icons/FileTypes/View32@{res}.png");
            }
            //for file tabs
        }
    }

    &.icon-size64
    {
        &.ic
        {
            &-error
            {
                background-image: url("../Images/Icons/Management/Error64@{res}.png");
            }

            &-avatarempty
            {
                background-image: url("../Images/Icons/Avatar/EmptyAvatar64@{res}.png");
            }
        }
    }

    &.icon-size128
    {
        &.ic
        {
            &-designerlogo
            {
                background-image: url("../Images/Icons/Logos/K2DesignerLogo128@{res}.png");
            }
        }
    }

    &.dark
    {
        &.icon-size16
        {
            &.ic
            {
                &-form
                {
                    background-image: url("../Images/Icons/FileTypes/Form_Alt16@{res}.png");
                }

                &-styleprofile
                {
                    background-image: url("../Images/Icons/FileTypes/StyleProfile_Alt16@{res}.png");
                }

                &-smartobject
                {
                    background-image: url("../Images/Icons/FileTypes/SmartObject_Alt16@{res}.png");
                }

                &-workflow
                {
                    background-image: url("../Images/Icons/FileTypes/Workflow_Alt16@{res}.png");
                }

                &-view
                {
                    background-image: url("../Images/Icons/FileTypes/View_Alt16@{res}.png");
                }

                &-close
                {
                    background-image: url("../Images/Icons/Runtime/HeaderClose_Selected16@{res}.png");
                }
                //for file tabs
                &-back
                {
                    background-image: url("../Images/Icons/Arrows/CollapseMenu_Alt16@{res}.png");
                }
                //back button in appbar
                &-avatarempty
                {
                    background-image: url("../Images/Icons/Avatar/EmptyAvatar_Alt16@{res}.png");
                }
            }
        }
    }

    &.readonly
    {
        &.icon-size16
        {
            &.ic
            {
                &-run
                {
                    background-image: url("../Images/Icons/Toolbar/Run_ReadOnly16@{res}.png");
                }
            }
        }
    }
}


.bg-deadarea
{
    background-image: url("../Images/Icons/Backgrounds/DeadAreaBackground@{res}.png");
    background-size: 11px 11px;
    background-repeat:repeat;
}

