
#AppStudioIntroPanel .recents-box li
{
    & > a
    {
        background-image: url("../Images/Icons/Toolbar/Document16@{res}.png");
    }
}

#AppStudioIntroPanel
{
    .main-section
    {
        background-image:none;
    }

    .main-logo
    {
        background-image: url("../images/Icons/DesignerHome/DesignerLogo70@{res}.png");
    }

    .create-button
    {
        &.smartobject
        {
            background-image: url("../images/Icons/DesignerHome/SMOBackground190@{res}.png");
        }

        &.view
        {
            background-image: url("../images/Icons/DesignerHome/ViewBackground190@{res}.png");
        }

        &.form
        {
            background-image: url("../images/Icons/DesignerHome/FormBackground190@{res}.png");
        }

        &.workflow
        {
            background-image: url("../images/Icons/DesignerHome/WFBackground190@{res}.png");
        }
    }
}
