.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-container:empty {
  display: none;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-pane {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-pane {
  pointer-events: auto;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.6;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.spd-highlight {
  background-color: #fcfe90;
}
.spd-popup-custom-backdrop:nth-last-child(2),
.spd-popup-custom-backdrop:nth-last-child(3) {
  background: rgba(55, 71, 79, 0.1);
}
.style-profile-developer .page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
  overflow: hidden;
}
.style-profile-developer .file-list-container {
  width: 370px;
}
.style-profile-developer .content,
.style-profile-developer .spd-preview {
  flex-grow: 1;
}
.style-profile-developer .spd-preview .row {
  flex-wrap: nowrap;
}
.style-profile-developer .spd-preview .row.heading {
  background-color: rgba(238, 238, 238, 0.933333333333333);
  height: 28px;
  color: #4e5758;
  font: normal normal 600 10px Open-Sans, Segoe UI Regular, Helvetica, Arial, sans-serif;
  line-height: 14px;
  padding: 7px;
  box-sizing: border-box;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}
.style-profile-developer .spd-preview .row.heading .heading-text {
  flex-grow: 1;
}
.style-profile-developer .spd-preview .row.heading .heading-icon {
  flex-grow: 0;
  align-items: center;
  padding-right: 7px;
  cursor: pointer;
}
.style-profile-developer .spd-preview .row.spd-content {
  flex-grow: 1;
}
.style-profile-developer .preview-container {
  width: 100%;
  height: 100%;
  padding: 7px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
