.errorPage .mainLogo
{
    margin-left: -35px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    background-image: url("../images/Icons/DesignerHome/DesignerLogo70@{res}.png");

    /* Commented out below because for Nintex rebranding, we are using a generic Nintex logo. [942657] */
    /*
    html.designer &
    {
        margin-left: -35px;
        margin-top: 0px;
        width: 70px;
        height: 91px;
        background-size: 70px 91px;
        background-image: url("../images/Icons/DesignerHome/K2LogoDesigner70@{res}.png");
    }

    html.management &
    {
        margin-left: -50px;
        margin-top: 0px;
        width: 99px;
        height: 91px;
        background-size: 99px 91px;
        background-image: url("../images/Icons/DesignerHome/K2LogoManagement70@{res}.png");
    }

    html.workspace &
    {
        margin-left: -44px;
        margin-top: 0px;
        width: 88px;
        height: 91px;
        background-size: 88px 91px;
        background-image: url("../images/Icons/DesignerHome/K2LogoWorkspace70@{res}.png");
    }
    */
}
