#SignInPanel .main-logo,
.stsMainLogo
{
    margin-left: -50px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-image: url("../images/Icons/DesignerHome/K2Logo100@{res}.png");

    html.designer &
    {
        margin-left: -50px;
        margin-top: 0px;
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
        background-image: url("../images/Icons/DesignerHome/K2LogoDesigner100@{res}.png");
    }

    html.management &
    {
        margin-left: -70px;
        margin-top: 0px;
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
        background-image: url("../images/Icons/DesignerHome/K2LogoManagement100@{res}.png");
    }

    html.workspace &
    {
        margin-left: -63px;
        margin-top: 0px;
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
        background-image: url("../images/Icons/DesignerHome/K2LogoWorkspace100@{res}.png");
    }
}

.stsIssuerList .stsIssuer .stsAuthMethodIcon
{
    background-image: url("../images/Icons/DesignerLogin/AccountLoginGraphic120@{res}.png");
    background-size: 120px 120px;
    background-position: center;
}

.stsFooter .PageHelpLink > a
{   
    background-size: 32px 32px;
    background-image: url("../images/Icons/DesignerLogin/LearnMore32@{res}.png");
    background-position: 4px center;
}

.stsSignInButton .button.loading,
.preload-icon.button.loading
{
    background-image: url("../Images/Icons/Animated/LoadingControl_2196f3_24@{res}.gif");
}