#SignInPanel .main-logo,
.stsMainLogo 
{
    margin-left: -35px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    background-image: url("../images/Icons/DesignerHome/K2Logo70@{res}.png");

    html.designer & 
    {
        margin-left: -35px;
        margin-top: 0px;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
        background-image: url("../images/Icons/DesignerHome/K2LogoDesigner70@{res}.png");
    }

    html.management &
    {
        margin-left: -50px;
        margin-top: 0px;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
        background-image: url("../images/Icons/DesignerHome/K2LogoManagement70@{res}.png");
    }

    html.workspace & 
    {
        margin-left: -44px;
        margin-top: 0px;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
        background-image: url("../images/Icons/DesignerHome/K2LogoWorkspace70@{res}.png");
    }
}

.stsIssuerList .stsIssuer .stsAuthMethodIcon
{
    background-image: url("../images/Icons/DesignerLogin/AccountLoginGraphic82@{res}.png");
    background-size: 82px 82px;
    background-position: center;
}

.stsFooter .PageHelpLink > a
{   
    background-size: 24px 24px;
    background-image: url("../images/Icons/DesignerLogin/LearnMore24@{res}.png");
    background-position: 4px center;
}

.stsSignInButton .button.loading,
.preload-icon.button.loading
{
    background-image: url("../Images/Icons/Animated/LoadingControl_2196f3_16@{res}.gif");
}
