.menu
{
    a.menu-item
    {
        /* Menu Item Icons */
        &.favourite span.menu-item-icon
        {
            background-image: url("../Images/Icons/EditToolbox/Favourites16@{res}.png");
        }

        &.add span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Add16@{res}.png");
        }

        &.edit span.menu-item-icon
        {
            // background-image: url("../Images/Icons/Edit16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.move-up span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/MoveUp16@{res}.png");
        }

        &.move-down span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/MoveDown16@{res}.png");
        }

        &.drill-down span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Hyperlink16@{res}.png");
        }

        &.delete-drill-down span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteDrillThrough16@{res}.png");
            background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
        }

        &.delete span.menu-item-icon
        {
            //background-image: url("../Images/Icons/Delete16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-all span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/RemoveAll16@{res}.png");
        }

        &.remove span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Remove16@{res}.png");
        }

        &.remove-all span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/RemoveAll16@{res}.png");
        }

        &.lock span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Lock16@{res}.png");
        }

        &.load span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Load16@{res}.png");
        }

        &.play span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Run16@{res}.png");
        }

        &.refresh span.menu-item-icon
        {
            //background-image: url("../Images/Icons/Refresh16@{res}.png");
            background-image: url("../Images/Icons/ContextBrowser/Refresh16@{res}.png");
        }

        &.publish span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Deploy16@{res}.png");
        }

        &.properties span.menu-item-icon
        {
            //background-image: url("../Images/Icons/Properties16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Properties16@{res}.png");
        }

        &.auto-generate span.menu-item-icon
        {
            background-image: url("../Images/Icons/ConditionsDropdown/Auto16@{res}.png");
        }

        &.generate-smartobject span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/GenerateSmartObject16@{res}.png");
        }

        &.generate-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/GenerateView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/GenerateANewView16@{res}.png");
        }

        &.generate-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/GenerateForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/GenerateANewForm16@{res}.png");
        }

        &.generate-report span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Report16@{res}.png");
        }

        &.security span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Security16@{res}.png");
        }

        &.checkin span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckIn16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
        }

        &.checkout span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckOut16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CheckOut16@{res}.png");
        }

        &.undocheckout span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CancelCheckOut_Generic_16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
        }

        &.play span.menu-item-icon,
        &.run span.menu-item-icon
        {
            //background-image: url("../Images/Icons/play16flat@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
        }

        &.preview span.menu-item-icon,
        &.preview-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/FormPreview16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
        }

        &.preview-view span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.run-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
        }

        &.runas-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunWithParametersView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/RunWithParameters16@{res}.png");
        }

        &.run-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
        }

        &.copy span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Copy16@{res}.png");
        }

        &.clone span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/Copy16@{res}.png");
        }

        &.save span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Save16@{res}.png");
        }

        &.save-as span.menu-item-icon
        {
            //background-image: url("../Images/Icons/SaveAs16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }
        /* Rules Wizard Items */
        &.view-capture span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/View16@{res}.png");
        }

        &.formparameter-datetime span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/DateTime16@{res}.png");
        }

        &.formparameter-number span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Number16@{res}.png");
        }

        &.formparameter-text span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Text16@{res}.png");
        }

        &.formparameter-boolean span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/YesNo16@{res}.png");
        }
        /* view parameter icons in conditions */
        &.viewparameter-datetime span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/DateTime16@{res}.png");
        }

        &.viewparameter-number span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Number16@{res}.png");
        }

        &.viewparameter-text span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Text16@{res}.png");
        }

        &.viewparameterevent span.menu-item-icon,
        &.formparameterevent span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Method16@{res}.png");
        }

        &.viewparameter-boolean span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/YesNo16@{res}.png");
        }

        &.view-list span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/View16@{res}.png");
        }

        &.view-capturelist span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/View16@{res}.png");
        }

        &.viewmethod span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Method16@{res}.png");
        }

        &.rendermode span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RenderMode16@{res}.png");
            background-image: url("../Images/Icons/Toolbox/Connection16@{res}.png");
        }

        &.viewevent span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }

        &.formevent span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }
        //Design - All control SMO methods use the same icon.
        &.method-create span.menu-item-icon,
        &.create-method span.menu-item-icon,
        &.method-delete span.menu-item-icon,
        &.delete-method span.menu-item-icon,
        &.method-read span.menu-item-icon,
        &.read-method span.menu-item-icon,
        &.method-list span.menu-item-icon,
        &.list-method span.menu-item-icon,
        &.method-update span.menu-item-icon,
        &.update-method span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/SmartObjectMethod16@{res}.png");
        }

        &.control span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.control-toolbartable span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Table16@{res}.png");
        }

        &.control-tree span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Context16@{res}.png");
        }

        &.controlevent span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }
        //Design - All control methods use the same icon.
        &.controlmethod span.menu-item-icon,
        &.controlmethod-none span.menu-item-icon,
        &.none-controlmethod span.menu-item-icon,
        &.controlmethod-text span.menu-item-icon,
        &.controlmethod-boolean span.menu-item-icon,
        &.controlmethod-datetime span.menu-item-icon,
        &.controlmethod-number span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Method16@{res}.png");
        }

        &.control-panel span.menu-item-icon,
        &.panel-control.icon.ic-panel span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/GenericTab16@{res}.png");
        }

        &.panel span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/GenericTab16@{res}.png");
        }

        &.actionitemstate span.menu-item-icon
        {
            //background-image: url("../Images/Icons/ActionItemState16.png");
            background-image: url("../Images/Icons/Rules/State16.png");
        }

        &.actionexecutiontype span.menu-item-icon
        {
            //background-image: url("../Images/Icons/ActionExecution16.png");
            background-image: url("../Images/Icons/Toolbox/Action16.png");
        }

        &.rule span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbox/Event16.png");
        }
        /* AppStudio Menu Items */
        &.new-workflow span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CreateProcess16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/DesignANewWorkflowFile16@{res}.png");
        }

        &.new-smartobject span.menu-item-icon
        {
            //background-image: url("../Images/Icons/NewSmartObject16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/DesignANewSmartObject16@{res}.png");
        }

        &.new-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/NewView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/DesignANewView16@{res}.png");
        }

        &.new-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/NewForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/DesignANewForm16@{res}.png");
        }

        &.new-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/DesignANewStyleProfile16@{res}.png");
        }

        &.new-report span.menu-item-icon
        {
            //background-image: url("../Images/Icons/NewReport16@{res}.png");
            background-image: url("../Images/Icons/Steps/Create16@{res}.png");
        }

        &.new-application span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CreateNewApplication16@{res}.png");
            background-image: url("../Images/Icons/Steps/Create16@{res}.png");
        }

        &.new-category span.menu-item-icon
        {
            // background-image: url("../Images/Icons/CreateFolder16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/DesignANewCategory16@{res}.png");
        }

        &.reset-form span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/ResetToDefault.svg");
        }

        &.browse span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Browse.svg");
        }

        &.edit-smartobject span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditSmartObject16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-report span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditReport16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-application span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditApplication16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.edit-workflow span.menu-item-icon
        {
            //background-image: url("../Images/Icons/EditProcess16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
        }

        &.unlock-workflow span.menu-item-icon
        {
            //background-image: url("../Images/Icons/Management/UnlockProcess16@{res}.png");
            background-image: url("../Images/Icons/Management/Release16@{res}.png");
        }

        &.delete-smartobject span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteSmartObject16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-report span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteReport16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-application span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteApplication16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.delete-workflow span.menu-item-icon
        {
            //background-image: url("../Images/Icons/DeleteProcess16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
        }

        &.checkin-smartobject span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckInSmartObject16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
        }

        &.checkin-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckInView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
        }

        &.checkin-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckInForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
        }

        &.checkin-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
        }

        &.checkin-application span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.checkout-smartobject span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/CheckOut16@{res}.png");
        }

        &.checkout-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckOutView16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/CheckOut16@{res}.png");
        }

        &.checkout-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/CheckOutForm16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/CheckOut16@{res}.png");
        }

        &.checkout-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/CheckOut16@{res}.png");
        }

        &.checkout-application span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.undocheckout-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/UndoCheckOutView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
        }

        &.undocheckout-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/UndoCheckOutForm16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
        }

        &.undocheckout-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
        }

        &.undocheckout-application span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.save-as-smartobject span.menu-item-icon
        {
            //background-image: url("../Images/Icons/SaveAsSmartObject16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }

        &.save-as-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/SaveAsView16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }

        &.save-as-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/SaveAsForm16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }

        &.save-as-styleprofile span.menu-item-icon
        {
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }

        &.save-as-application span.menu-item-icon
        {
            background-image: url("../Images/Icons/Default16px@{res}.png");
        }

        &.save-as-workflow span.menu-item-icon
        {
            //background-image: url("../Images/Icons/SaveAsProcess16@{res}.png");
            background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
        }

        &.reuse-workflow span.menu-item-icon
        {
            background-image: url("../Images/Icons/ContextBrowser/Refresh16@{res}.png");
        }

        &.runas-form span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunFormParameter16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/RunWithParameters16@{res}.png");
        }

        &.run-application span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunApplication16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
        }

        &.rename span.menu-item-icon
        {
            //background-image: url("../Images/Icons/Rename16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Rename16@{res}.png");
        }

        &.moveto span.menu-item-icon,
        &.move-to span.menu-item-icon
        {
            //background-image: url("../Images/Icons/MoveBetweenFolders16@{res}.png");
            background-image: url("../Images/Icons/Steps/MoveFolder16@{res}.png");
        }

        &.run-new-tab span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunInNewTab16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/RunInNewTab16@{res}.png");
        }

        &.run-new-window span.menu-item-icon
        {
            //background-image: url("../Images/Icons/RunInNewWindow16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/RunInNewWindow16@{res}.png");
        }
        /* Form Design Layout Overflow */
        &.add-view span.menu-item-icon
        {
            //background-image: url("../Images/Icons/AddView16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/Add16@{res}.png");
        }

        &.insert-tab span.menu-item-icon
        {
            //background-image: url("../Images/Icons/InsertTab16@{res}.png");
            background-image: url("../Images/Icons/Toolbar/TabAdd16@{res}.png");
        }

        &.rename-tab span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/TabRename16@{res}.png");
        }

        &.remove-tab span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/TabDelete16@{res}.png");
        }

        &.move-tab-left span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/TabMoveLeft16@{res}.png");
        }

        &.move-tab-right span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/TabMoveRight16@{res}.png");
        }

        &.row-layout span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/RowLayout16@{res}.png");
        }

        &.column-layout span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/ColumnLayout16@{res}.png");
        }

        &.sigma span.menu-item-icon
        {
            background-image: url("../Images/Icons/DataTypes/Functions16@{res}.png");
        }

        &.align-left span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignLeft16@{res}.png");
        }

        &.align-right span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignRight16@{res}.png");
        }

        &.align-top span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignTop16@{res}.png");
        }

        &.align-bottom span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignBottom16@{res}.png");
        }

        &.align-middle span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignMiddleVert16@{res}.png");
        }

        &.align-center span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/AlignCentreHoriz16@{res}.png");
        }

        &.clear-table span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/ClearTable16@{res}.png");
        }

        &.clear-row span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/ClearRow16@{res}.png");
        }

        &.clear-column span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/ClearColumn16@{res}.png");
        }

        &.insert-column-left span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/InsertColumnLeft16@{res}.png");
        }

        &.insert-column-right span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/InsertColumnRight16@{res}.png");
        }

        &.insert-row-above span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/InsertRowAbove16@{res}.png");
        }

        &.insert-row-below span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/InsertRowBelow16@{res}.png");
        }

        &.remove-column span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/RemoveColumn16@{res}.png");
        }

        &.remove-row span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/RemoveRow16@{res}.png");
        }

        &.merge-cell-right span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/MergeRight16@{res}.png");
        }

        &.merge-cell-below span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/MergeBelow16@{res}.png");
        }

        &.sort-by-name span.menu-item-icon,
        &.sort-by-name-asc span.menu-item-icon
        {
            background-image: url("../Images/Icons/ConditionsDropdown/Descending16@{res}.png");
        }

        &.sort-by-name-desc span.menu-item-icon
        {
            background-image: url("../Images/Icons/ConditionsDropdown/Ascending16@{res}.png");
        }

        &.sort-by-type span.menu-item-icon,
        &.sort-by-type-asc span.menu-item-icon
        {
            background-image: url("../Images/Icons/ConditionsDropdown/Descending16@{res}.png");
        }

        &.sort-by-type-desc span.menu-item-icon
        {
            background-image: url("../Images/Icons/ConditionsDropdown/Ascending16@{res}.png");
        }

        &.view-flow span.menu-item-icon
        {
            background-image: url("../Images/Icons/Management/ViewFlow16.png");
        }
        /* SP Package menu items */
        &.create-package span.menu-item-icon
        {
            background-image: url("../Images/Icons/Steps/Create16@{res}.png");
        }

        &.deploy-package span.menu-item-icon
        {
            background-image: url("../Images/Icons/Toolbar/Deploy16@{res}.png");
        }
    }
}
