
div.ajaxLoader
{
    //background-image: url(../Images/Loaders/PreloaderGreen_32px.gif);
    background-image: url(../Images/Icons/Animated/LoadingPage_light40.gif);
}

.k2-overlay.k2-modal-overlay
{
    background-image: url(../Images/modalizer_spacer.png);
}

.k2-overlay .k2-overlay-icon.loading
{
    //background-image:url(../Images/Loaders/PreloaderGreen_32px.gif);
    background-image: url(../Images/Icons/Animated/LoadingPage_light40.gif);
}


.k2-overlay.designer-loader .k2-overlay-icon.loading,
.k2-overlay.app-loader .k2-overlay-icon.loading,
.k2-overlay.dark .k2-overlay-icon.loading
{
    background-image: url("../Images/Icons/Animated/LoadingPage40_37474f.gif");
}
