/* Button Icon Styling */
.navigation-panel .navigation-panel-buttons a.home .b
{
    background-image: url(../Images/Icons/Home16Red.png);
}

.navigation-panel .navigation-panel-footer-controls a.home .b
{
    background-image: url(../Images/Icons/Home16Red.png);
}

.navigation-panel .navigation-panel-buttons a.appstudio .b
{
    background-image: url(../Images/Icons/AppStudio16.png);
}

.navigation-panel .navigation-panel-footer-controls a.appstudio .b
{
    background-image: url(../Images/Icons/AppStudio16.png);
}

.navigation-panel .navigation-panel-buttons a.management .b
{
    background-image: url(../Images/Icons/Management16.png);
}

.navigation-panel .navigation-panel-footer-controls a.management .b
{
    background-image: url(../Images/Icons/Management16.png);
}



//Collapse/Expand Button

.navigation-panel .navigation-panel-header-controls a.collapse
{
    background-image: url(../Images/Icons/Runtime/MenuCollapse16.png);
}

.navigation-panel .navigation-panel-header-controls a.collapse:hover
{
    background-image: url(../Images/Icons/Runtime/MenuCollapse16.png);
}

.navigation-panel .navigation-panel-header-controls a.expand
{
    background-image: url(../Images/Icons/Runtime/MenuCollapse16.png);
}

.navigation-panel .navigation-panel-header-controls a.expand:hover
{
    background-image: url(../Images/Icons/Runtime/MenuCollapse16.png);
}
