/*Author: 		Lewis Garmston*/

/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */

/* [893303] Min-width for Table control so it display a thin bar when width of table is set to 0px in design-time */
.notauthorised-body {
  background-color: white;
}
.notauthorised-outer-panel {
  left: 50%;
  margin-left: -253px;
  margin-top: -190px;
  top: 50%;
  width: 660px;
  position: absolute;
  height: 361px;
}
.notauthorised-middle-panel {
  height: 361px;
  width: 490px;
  float: left;
  background-color: white;
  position: relative;
}
.notauthorised-k2-smartforms-logo {
  padding-top: 40px;
  position: relative;
}
.notauthorised-k2-smartforms-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.not-authorised-heading {
  font-size: 1.5rem;
  font-family: Verdana;
  text-align: center;
  color: #36474f;
  padding-top: 20px;
  padding-bottom: 8px;
  vertical-align: middle;
  position: relative;
}
.not-authorised-text {
  font-size: 1rem;
  font-family: Verdana;
  text-align: center;
  color: #36474f;
  padding-left: 32px;
  padding-right: 32px;
  line-height: 150%;
  position: relative;
}
.notauthorised-help-text {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 1rem;
  font-family: Verdana;
  color: #36474f;
  position: absolute;
  line-height: 200%;
  text-align: center;
}
.notauthorised-help-anchor,
.notauthorised-help-anchor:visited {
  font-size: 1rem;
  color: #003870;
}
