.details-view-icon
{
    // background-image: url("../Images/Icons/View64Shadow@{res}.png") ;
    background-image: url("../Images/Icons/FileTypes/View64@{res}.png");
}

.details-so-icon
{
    // background-image: url("../Images/Icons/SmartObject64@{res}.png");
    background-image: url("../Images/Icons/FileTypes/SmartObject64@{res}.png");
}

.details-form-icon
{
    // background-image: url("../Images/Icons/Forms64Shadow@{res}.png") ;
    background-image: url("../Images/Icons/FileTypes/Form64@{res}.png");
}

.details-styleprofile-icon
{
    background-image: url("../Images/Icons/FileTypes/StyleProfile64@{res}.png");
}

.details-workflow-icon
{
    // background-image: url("../Images/Icons/Process64@{res}.png") ;
    background-image: url("../Images/Icons/FileTypes/ProcessDefinition64@{res}.png");
}

.details-application-icon
{
    // background-image: url("../Images/Icons/Default64px@{res}.png");
    background-image: url("../Images/Icons/FileTypes/View64@{res}.png");
}

/* Panel Header Icons */
.panel-header-wrapper .panel-header-icon.search
{
    //background-image: url("../Images/Icons/Search16.png");
    background-image: url("../Images/Icons/Ribbon/Search16@{res}.png");
}

.panel-header-wrapper .panel-header-icon.preview-form,
.panel-header-wrapper .panel-header-icon.preview-view
{
    background-image: url("../Images/Icons/Ribbon/FormPreview16@{res}.png");
}

//View - Details Tab
#ViewDesignerDetailsPanel .field-page-icon
{
    background-image: url("../Images/Icons/FileTypes/ViewEtched128@{res}.png");
}

//SmartObjects - Details Tab
#SoWizard_DetailsStep .field-page-icon
{
    background-image: url("../Images/Icons/FileTypes/SmartObjectEtched128@{res}.png");
}

//Forms - Details Tab
#pgDetailsPanel .field-page-icon
{
    background-image: url("../Images/Icons/FileTypes/FormEtched128@{res}.png");
}
