/*Author: 		Lewis Garmston*/
/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */
/*This is because /styles, /forms, /rules etc all have css in them */
@import "../../../Designer_Variables.less";

/* Popup menu styles */
div.popup-menu
{
    position: absolute;
    min-width: 300px;
    height: auto;
    width: auto;
    overflow: visible;
}

div.popup-menu-content
{
    position: absolute;
    border: solid 1px #808080;
    width: auto;
}

div.popup-menu-content-wrapper
{
    -overflow: auto;
}

div.popup-menu-body
{
    overflow: auto;
    background-color: #fff;
}

div.popup-menu-body-wrapper
{
    overflow: auto;
    text-align: left;
}
