.message-box-content
{

    &.info .icon
    {
        background-image: url("../Images/Icons/Indicators/InformationBadge_Alt32@{res}.png");
    }

    &.warning .icon
    {
        background-image: url("../Images/Icons/Ribbon/ErrorHandling32@{res}.png");
    }

    &.error .icon
    {
        background-image: url("../Images/Icons/Management/Error32@{res}.png");
    }

    &.confirmation .icon
    {
        background-image: none;
    }

    &.sign-in .icon
    {
        background-image: url("../Images/Icons/Ribbon/Lock32@{res}.png");
    }
}



/* DIALOG CONTROL BOX - NORMAL STATES */

.popup-header-buttons a.close,
.popup-header-buttons a.close.only,
.popup-header-buttons a.close:only-child,
.popup-header-buttons a.close.last,
.popup-header-buttons a.close:last-child
{
    background-image: url("../Images/Icons/Runtime/HeaderClose16@{res}.png");
}


.popup-header-buttons a.minimize,
.popup-header-buttons a.minimize:first-child,
.popup-header-buttons a.minimize:first-child
{
    background-image: url("../Images/Icons/Runtime/HeaderMinimize16@{res}.png");
}

.popup-header-buttons a.maximize,
.popup-header-buttons a.maximize:first-child,
.popup-header-buttons a.maximize.first
{
    background-image: url("../Images/Icons/Runtime/HeaderMaximize16@{res}.png");
}

.popup-header-buttons a.restore,
.popup-header-buttons a.restore:first-child,
.popup-header-buttons a.restore.first
{
    background-image: url("../Images/Icons/Runtime/HeaderWindow16@{res}.png");
}


/* DIALOG CONTROL BOX - HOVER STATES */

.popup-header-buttons a.close:hover,
.popup-header-buttons a.close.only:hover,
.popup-header-buttons a.close:only-child:hover,
.popup-header-buttons a.close.last:hover,
.popup-header-buttons a.close:last-child:hover
{
    background-image: url("../Images/Icons/Runtime/HeaderClose_Hover16@{res}.png");
}


.popup-header-buttons a.minimize:hover,
.popup-header-buttons a.minimize:first-child:hover,
.popup-header-buttons a.minimize:first-child:hover
{
    background-image: url("../Images/Icons/Runtime/HeaderMinimize_Hover16@{res}.png");
}

.popup-header-buttons a.maximize:hover,
.popup-header-buttons a.maximize:first-child:hover,
.popup-header-buttons a.maximize.first:hover
{
    background-image: url("../Images/Icons/Runtime/HeaderMaximize_Hover16@{res}.png");
}

.popup-header-buttons a.restore:hover,
.popup-header-buttons a.restore:first-child:hover,
.popup-header-buttons a.restore.first:hover
{
    background-image: url("../Images/Icons/Runtime/HeaderWindow_Hover16@{res}.png");
}
