/*Author: 		Lewis Garmston*/
/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */
/*This is because /styles, /forms, /rules etc all have css in them */
@import "../../../Designer_Variables.less";

/* Resizable
----------------------------------*/
.ui-resizable
{
    position: relative;
}

.ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    z-index: @Designer-Adornments-z-index;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
{
    display: none;
}

.ui-resizable-n
{
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w
{
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se
{
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw
{
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw
{
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne
{
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

//Resize handles on the design canvas.
@ResizeHandleSize: 14px;

//Commented out for 769693 its nto possible to get this working for all scenarios right now in particularly the picture control
/*.controlwrapper.selectedobject
{
    .ui-resizable-handle
    {
        width:   @ResizeHandleSize !important;
        height:   @ResizeHandleSize !important;
        position:  absolute;
        border-radius:   @ResizeHandleSize;
        box-sizing: border-box;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
        border: 1px solid @Control-Selection-Border-Color;
        background-color: @Panel-Background-Color;
        z-index: inherit !important; //override inline style of 90, which makes the handles show ontop of dialogs.
    }
    //margin-left:-(@ResizeHandleSize/2);
    .ui-resizable-n
    {
        top: 0px;
        left: 50%;
    }

    .ui-resizable-s
    {
        bottom: 0px;
        left: 50%;
    }

    .ui-resizable-e
    {
        top: 50%;
        right: 0px;
    }

    .ui-resizable-w
    {
        top: 50%;
        left: 0px;
    }

    .ui-resizable-se
    {
        right: 0px;
        bottom: 0px;
    }

    .ui-resizable-sw
    {
        left: 0px;
        bottom: 0px;
    }

    .ui-resizable-nw
    {
        left: 0px;
        top: 0px;
    }

    .ui-resizable-ne
    {
        right: 0px;
        top: 0px;
    }

    .ui-resizable-n,
    .ui-resizable-s,
    .ui-resizable-w,
    .ui-resizable-sw,
    .ui-resizable-nw
    {
        margin-left: -(@ResizeHandleSize/2);
    }

    .ui-resizable-e,
    .ui-resizable-se,
    .ui-resizable-ne
    {
        margin-right: -(@ResizeHandleSize/2);
    }

    .ui-resizable-s,
    .ui-resizable-se,
    .ui-resizable-sw
    {
        margin-bottom: -(@ResizeHandleSize/2);
    }

    .ui-resizable-n,
    .ui-resizable-ne,
    .ui-resizable-nw,
    .ui-resizable-e,
    .ui-resizable-w
    {
        margin-top: -(@ResizeHandleSize/2);
    }
}*/

.controlwrapper
{
    overflow: visible; //769693
}

div.resizewrapper
{
    position: relative;
    max-width: 100%; //769693
}

td.editor-cell > div.controlwrapper > div.resizewrapper
{
    overflow: hidden; //769693
}

table.editor-table.toolbar > tbody > tr > td.editor-cell > div.controlwrapper > div.resizewrapper
{
    overflow: visible; //914804 - resizewrapper for the controls should be visible so that it does not hide the boxing shadow
}

.canvas-adornments.base-index //769693
{
    z-index: @Designer-Base-z-index !important;
}