/*Author: 		Lewis Garmston*/

/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */


.token-input .entity,
.input-control .drop-item,
/* This is used for conditional style tokens */ #BrowserNavigatePC .token/* This is used for rule widget tokens (TFS735813) */ {
  cursor: default;
  margin: 0 2px;
  display: inline-block;
  height: 18px;
  color: white;
  line-height: 17px;
  background-color: #2196f3;
  border-radius: 2px;
}
.token-input .entity.warning,
.input-control .drop-item.warning,
#BrowserNavigatePC .token.warning,
.token-input .entity.warning.error,
.input-control .drop-item.warning.error,
#BrowserNavigatePC .token.warning.error {
  background-color: darkorange;
  color: white;
}
.token-input .entity.error,
.input-control .drop-item.error,
#BrowserNavigatePC .token.error,
.token-input .entity.missing,
.input-control .drop-item.missing,
#BrowserNavigatePC .token.missing,
.token-input .entity.missing.error,
.input-control .drop-item.missing.error,
#BrowserNavigatePC .token.missing.error {
  background-color: firebrick;
  color: white;
}
.token-input .entity .entity-text {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  height: 18px;
}
.token-input .entity.icon {
  background-position: 2px 50%;
  padding-left: 20px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.input-control .drop-item,
/* This is used for conditional style tokens  */ #BrowserNavigatePC .token/* This is used for rule widget tokens (TFS756891) */ {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  height: 18px;
  background-position: 2px 50%;
  padding-left: 20px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
/*Images - normal*/

@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  .twisty.map .twisty-button .button-image {
    background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle16.png");
  }
  .twisty.drop .twisty-button .button-image {
    background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle_Selected16.png");
  }
  /* Token Icon Styling */
  
  #BrowserNavigatePC .token.smartfunction {
    background-image: url("../Images/Icons/DataTypes/Functions16.png");
  }
  #BrowserNavigatePC .token.eventbus {
    background-image: url("../Images/Icons/Toolbox/Event16.png");
  }
  #BrowserNavigatePC .token.field {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab16.png");
  }
  #BrowserNavigatePC .token.svcObj,
  #BrowserNavigatePC .token.service-object {
    background-image: url("../Images/Icons/Management/ServiceObject16.png");
  }
  #BrowserNavigatePC .token.svcMethod,
  #BrowserNavigatePC .token.service-method {
    background-image: url("../Images/Icons/Ribbon/Method16.png");
  }
  #BrowserNavigatePC .token.category {
    background-image: url("../Images/Icons/AssetBrowser/FolderClosed16.png");
  }
  #BrowserNavigatePC .token.user {
    background-image: url("../Images/Icons/Management/User16.png");
  }
  #BrowserNavigatePC .token.toolbar-control {
    background-image: url("../Images/Icons/Toolbox/ToolbarControl16.png");
  }
  #BrowserNavigatePC .token.plugin {
    background-image: url("../Images/Icons/Toolbox/Plugin_Alt16.png");
  }
  #BrowserNavigatePC .token.report-parameter {
    background-image: url("../Images/Icons/Toolbox/Parameter16.png");
  }
  #BrowserNavigatePC .token.smartobject-method {
    background-image: url("../Images/Icons/Ribbon/Method16.png");
  }
  #BrowserNavigatePC .token.event {
    background-image: url("../Images/Icons/Toolbox/Event16.png");
  }
  #BrowserNavigatePC .token.form-state {
    background-image: url("../Images/Icons/Rules/State16.png");
  }
  #BrowserNavigatePC .token.property {
    background-image: url("../Images/Icons/Toolbox/Properties16.png");
  }
  #BrowserNavigatePC .token.view-event {
    background-image: url("../Images/Icons/Toolbox/Event16.png");
  }
  #BrowserNavigatePC .token.process-activity {
    background-image: url("../Images/Icons/ContextBrowser/Activities16.png");
  }
  #BrowserNavigatePC .token.action {
    background-image: url("../Images/Icons/Toolbox/Action16.png");
  }
  #BrowserNavigatePC .token.data-field {
    background-image: url("../Images/Icons/ContextBrowser/DataField16.png");
  }
  #BrowserNavigatePC .token.xml-field {
    background-image: url("../Images/Icons/ContextBrowser/XamlField16.png");
  }
  #BrowserNavigatePC .token.workflow-action-name {
    background-image: url("../Images/Icons/Ribbon/Workflow16.png");
  }
  #BrowserNavigatePC .token.workflow-view {
    background-image: url("../Images/Icons/Management/Viewflow16.png");
  }
  #BrowserNavigatePC .token.expression {
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction16.png");
  }
  #BrowserNavigatePC .token.datetime-now {
    background-image: url("../Images/Icons/Functions/Today16.png");
  }
  #BrowserNavigatePC .token.false {
    background-image: url("../Images/Icons/Functions/False16.png");
  }
  #BrowserNavigatePC .token.true {
    background-image: url("../Images/Icons/Functions/True16.png");
  }
  #BrowserNavigatePC .token.empty-string {
    background-image: url("../Images/Icons/Functions/Empty16.png");
  }
  /* Token Icon Styling */
  
  .token-input .entity.icon.warning {
    background-image: url("../Images/Icons/Steps/ErrorHandling_Selected14.png");
  }
  .token-input .entity.icon.error,
  .token-input .entity.icon.missing {
    background-image: url("../Images/Icons/Ribbon/Error_Selected14.png");
  }
  .token-input .entity.icon.smartfunction {
    background-image: url("../Images/Icons/DataTypes/Functions_Selected14.png");
  }
  .token-input .entity.icon.eventbus {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14.png");
  }
  .token-input .entity.icon.field,
  .input-control .drop-item.field,
  #BrowserNavigatePC .token.field/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14.png");
  }
  .token-input .entity.icon.rendermode,
  .input-control .drop-item.rendermode,
  #BrowserNavigatePC .token.rendermode/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Toolbox/Connection_Selected14.png");
  }
  .token-input .entity.icon.memo {
    background-image: url("../Images/Icons/DataTypes/Memo_Selected14.png");
  }
  .token-input .entity.icon.svcObj,
  .token-input .entity.icon.service-object {
    background-image: url("../Images/Icons/Ribbon/ServiceObject_Selected14.png");
  }
  .token-input .entity.icon.svcMethod,
  .token-input .entity.icon.service-method {
    background-image: url("../Images/Icons/Toolbox/Method_Selected14.png");
  }
  .token-input .entity.icon.category {
    background-image: url("../Images/Icons/DataTypes/FolderClosed_Selected14.png");
  }
  .token-input .entity.icon.user {
    background-image: url("../Images/Icons/Management/User_Selected14.png");
  }
  .token-input .entity.icon.plugin {
    background-image: url("../Images/Icons/Toolbox/Plugin_Alt_Selected14.png");
  }
  .token-input .entity.icon.report-parameter {
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14.png");
  }
  .token-input .entity.icon.smartobject-method {
    background-image: url("../Images/Icons/Toolbox/Method_Selected14.png");
  }
  .token-input .entity.icon.event {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14.png");
  }
  .token-input .entity.icon.form-state {
    background-image: url("../Images/Icons/Rules/State_Selected14.png");
  }
  .token-input .entity.icon.property {
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14.png");
  }
  .token-input .entity.icon.view-event {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14.png");
  }
  .token-input .entity.icon.process-activity {
    background-image: url("../Images/Icons/ContextBrowser/Activities_Selected14.png");
  }
  .token-input .entity.icon.action {
    background-image: url("../Images/Icons/Toolbox/Action_Selected14.png");
  }
  .token-input .entity.icon.data-field,
  .input-control .drop-item.data-field,
  #BrowserNavigatePC .token.data-field/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14.png");
  }
  .token-input .entity.icon.xml-field {
    background-image: url("../Images/Icons/ContextBrowser/XamlField_Selected14.png");
  }
  .token-input .entity.icon.workflow-action-name {
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14.png");
  }
  .token-input .entity.icon.workflow-view {
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14.png");
  }
  .token-input .entity.icon.expression,
  .input-control .drop-item.expression,
  #BrowserNavigatePC .token.expression/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction_Selected14.png");
  }
  .token-input .entity.icon.datetime-now,
  #BrowserNavigatePC .token.datetime-now/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Functions/Today_Selected14.png");
  }
  .token-input .entity.icon.false {
    background-image: url("../Images/Icons/Functions/False_Selected14.png");
  }
  .token-input .entity.icon.true {
    background-image: url("../Images/Icons/Functions/True_Selected14.png");
  }
  .token-input .entity.icon.empty-string {
    background-image: url("../Images/Icons/Functions/Empty_Selected14.png");
  }
  .token-input .entity.icon.ControlProperty,
  .token-input .entity.icon.controlproperty,
  .input-control .drop-item.ControlProperty,
  .input-control .drop-item.controlproperty,
  #BrowserNavigatePC .token.ControlProperty,
  /* This is used for rule widget tokens (TFS735813) */ #BrowserNavigatePC .token.controlproperty/* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */ {
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14.png");
  }
  .token-input .entity.icon.environmentField,
  .token-input .entity.icon.environmentfield,
  .input-control .drop-item.environmentField,
  .input-control .drop-item.environmentfield,
  #BrowserNavigatePC .token.environmentField,
  /* This is used for rule widget tokens (TFS735813) */ #BrowserNavigatePC .token.environmentfield/* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14.png");
  }
  /* When control tokens are in error because we would not know what the control subtype was, we shall display it with an unknown error icon */
  
  /* View/Form Designer: Expression builder popup where control has been dropped as a token in an expression */
  
  .token-input .entity.icon.control.error,
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/ .input-control .drop-item.control.error,
  /* Rules Designer: Navigate to URL action widget tokens in error*/ .token.control.error {
    background-image: url("../Images/Icons/Toolbox/Unknown_Selected14.png");
  }
  .input-control .drop-item.formparameter.error,
  .token-input .entity.icon.formparameter.error,
  .token.formparameter.error,
  /* This is used for rule widget tokens (TFS756891) */ .input-control .drop-item.viewparameter.error,
  .token-input .entity.icon.viewparameter.error,
  .token.viewparameter.error/* This is used for rule widget tokens (TFS756891) */ {
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14.png");
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  .twisty.map .twisty-button .button-image {
    background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle16@2x.png");
  }
  .twisty.drop .twisty-button .button-image {
    background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle_Selected16@2x.png");
  }
  /* Token Icon Styling */
  
  #BrowserNavigatePC .token.smartfunction {
    background-image: url("../Images/Icons/DataTypes/Functions16@2x.png");
  }
  #BrowserNavigatePC .token.eventbus {
    background-image: url("../Images/Icons/Toolbox/Event16@2x.png");
  }
  #BrowserNavigatePC .token.field {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab16@2x.png");
  }
  #BrowserNavigatePC .token.svcObj,
  #BrowserNavigatePC .token.service-object {
    background-image: url("../Images/Icons/Management/ServiceObject16@2x.png");
  }
  #BrowserNavigatePC .token.svcMethod,
  #BrowserNavigatePC .token.service-method {
    background-image: url("../Images/Icons/Ribbon/Method16@2x.png");
  }
  #BrowserNavigatePC .token.category {
    background-image: url("../Images/Icons/AssetBrowser/FolderClosed16@2x.png");
  }
  #BrowserNavigatePC .token.user {
    background-image: url("../Images/Icons/Management/User16@2x.png");
  }
  #BrowserNavigatePC .token.toolbar-control {
    background-image: url("../Images/Icons/Toolbox/ToolbarControl16@2x.png");
  }
  #BrowserNavigatePC .token.plugin {
    background-image: url("../Images/Icons/Toolbox/Plugin_Alt16@2x.png");
  }
  #BrowserNavigatePC .token.report-parameter {
    background-image: url("../Images/Icons/Toolbox/Parameter16@2x.png");
  }
  #BrowserNavigatePC .token.smartobject-method {
    background-image: url("../Images/Icons/Ribbon/Method16@2x.png");
  }
  #BrowserNavigatePC .token.event {
    background-image: url("../Images/Icons/Toolbox/Event16@2x.png");
  }
  #BrowserNavigatePC .token.form-state {
    background-image: url("../Images/Icons/Rules/State16@2x.png");
  }
  #BrowserNavigatePC .token.property {
    background-image: url("../Images/Icons/Toolbox/Properties16@2x.png");
  }
  #BrowserNavigatePC .token.view-event {
    background-image: url("../Images/Icons/Toolbox/Event16@2x.png");
  }
  #BrowserNavigatePC .token.process-activity {
    background-image: url("../Images/Icons/ContextBrowser/Activities16@2x.png");
  }
  #BrowserNavigatePC .token.action {
    background-image: url("../Images/Icons/Toolbox/Action16@2x.png");
  }
  #BrowserNavigatePC .token.data-field {
    background-image: url("../Images/Icons/ContextBrowser/DataField16@2x.png");
  }
  #BrowserNavigatePC .token.xml-field {
    background-image: url("../Images/Icons/ContextBrowser/XamlField16@2x.png");
  }
  #BrowserNavigatePC .token.workflow-action-name {
    background-image: url("../Images/Icons/Ribbon/Workflow16@2x.png");
  }
  #BrowserNavigatePC .token.workflow-view {
    background-image: url("../Images/Icons/Management/Viewflow16@2x.png");
  }
  #BrowserNavigatePC .token.expression {
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction16@2x.png");
  }
  #BrowserNavigatePC .token.datetime-now {
    background-image: url("../Images/Icons/Functions/Today16@2x.png");
  }
  #BrowserNavigatePC .token.false {
    background-image: url("../Images/Icons/Functions/False16@2x.png");
  }
  #BrowserNavigatePC .token.true {
    background-image: url("../Images/Icons/Functions/True16@2x.png");
  }
  #BrowserNavigatePC .token.empty-string {
    background-image: url("../Images/Icons/Functions/Empty16@2x.png");
  }
  /* Token Icon Styling */
  
  .token-input .entity.icon.warning {
    background-image: url("../Images/Icons/Steps/ErrorHandling_Selected14@2x.png");
  }
  .token-input .entity.icon.error,
  .token-input .entity.icon.missing {
    background-image: url("../Images/Icons/Ribbon/Error_Selected14@2x.png");
  }
  .token-input .entity.icon.smartfunction {
    background-image: url("../Images/Icons/DataTypes/Functions_Selected14@2x.png");
  }
  .token-input .entity.icon.eventbus {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@2x.png");
  }
  .token-input .entity.icon.field,
  .input-control .drop-item.field,
  #BrowserNavigatePC .token.field/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@2x.png");
  }
  .token-input .entity.icon.rendermode,
  .input-control .drop-item.rendermode,
  #BrowserNavigatePC .token.rendermode/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Toolbox/Connection_Selected14@2x.png");
  }
  .token-input .entity.icon.memo {
    background-image: url("../Images/Icons/DataTypes/Memo_Selected14@2x.png");
  }
  .token-input .entity.icon.svcObj,
  .token-input .entity.icon.service-object {
    background-image: url("../Images/Icons/Ribbon/ServiceObject_Selected14@2x.png");
  }
  .token-input .entity.icon.svcMethod,
  .token-input .entity.icon.service-method {
    background-image: url("../Images/Icons/Toolbox/Method_Selected14@2x.png");
  }
  .token-input .entity.icon.category {
    background-image: url("../Images/Icons/DataTypes/FolderClosed_Selected14@2x.png");
  }
  .token-input .entity.icon.user {
    background-image: url("../Images/Icons/Management/User_Selected14@2x.png");
  }
  .token-input .entity.icon.plugin {
    background-image: url("../Images/Icons/Toolbox/Plugin_Alt_Selected14@2x.png");
  }
  .token-input .entity.icon.report-parameter {
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14@2x.png");
  }
  .token-input .entity.icon.smartobject-method {
    background-image: url("../Images/Icons/Toolbox/Method_Selected14@2x.png");
  }
  .token-input .entity.icon.event {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@2x.png");
  }
  .token-input .entity.icon.form-state {
    background-image: url("../Images/Icons/Rules/State_Selected14@2x.png");
  }
  .token-input .entity.icon.property {
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14@2x.png");
  }
  .token-input .entity.icon.view-event {
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@2x.png");
  }
  .token-input .entity.icon.process-activity {
    background-image: url("../Images/Icons/ContextBrowser/Activities_Selected14@2x.png");
  }
  .token-input .entity.icon.action {
    background-image: url("../Images/Icons/Toolbox/Action_Selected14@2x.png");
  }
  .token-input .entity.icon.data-field,
  .input-control .drop-item.data-field,
  #BrowserNavigatePC .token.data-field/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@2x.png");
  }
  .token-input .entity.icon.xml-field {
    background-image: url("../Images/Icons/ContextBrowser/XamlField_Selected14@2x.png");
  }
  .token-input .entity.icon.workflow-action-name {
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14@2x.png");
  }
  .token-input .entity.icon.workflow-view {
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14@2x.png");
  }
  .token-input .entity.icon.expression,
  .input-control .drop-item.expression,
  #BrowserNavigatePC .token.expression/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction_Selected14@2x.png");
  }
  .token-input .entity.icon.datetime-now,
  #BrowserNavigatePC .token.datetime-now/* This is used for rule widget tokens (TFS735813) */ {
    background-image: url("../Images/Icons/Functions/Today_Selected14@2x.png");
  }
  .token-input .entity.icon.false {
    background-image: url("../Images/Icons/Functions/False_Selected14@2x.png");
  }
  .token-input .entity.icon.true {
    background-image: url("../Images/Icons/Functions/True_Selected14@2x.png");
  }
  .token-input .entity.icon.empty-string {
    background-image: url("../Images/Icons/Functions/Empty_Selected14@2x.png");
  }
  .token-input .entity.icon.ControlProperty,
  .token-input .entity.icon.controlproperty,
  .input-control .drop-item.ControlProperty,
  .input-control .drop-item.controlproperty,
  #BrowserNavigatePC .token.ControlProperty,
  /* This is used for rule widget tokens (TFS735813) */ #BrowserNavigatePC .token.controlproperty/* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */ {
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14@2x.png");
  }
  .token-input .entity.icon.environmentField,
  .token-input .entity.icon.environmentfield,
  .input-control .drop-item.environmentField,
  .input-control .drop-item.environmentfield,
  #BrowserNavigatePC .token.environmentField,
  /* This is used for rule widget tokens (TFS735813) */ #BrowserNavigatePC .token.environmentfield/* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */ {
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@2x.png");
  }
  /* When control tokens are in error because we would not know what the control subtype was, we shall display it with an unknown error icon */
  
  /* View/Form Designer: Expression builder popup where control has been dropped as a token in an expression */
  
  .token-input .entity.icon.control.error,
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/ .input-control .drop-item.control.error,
  /* Rules Designer: Navigate to URL action widget tokens in error*/ .token.control.error {
    background-image: url("../Images/Icons/Toolbox/Unknown_Selected14@2x.png");
  }
  .input-control .drop-item.formparameter.error,
  .token-input .entity.icon.formparameter.error,
  .token.formparameter.error,
  /* This is used for rule widget tokens (TFS756891) */ .input-control .drop-item.viewparameter.error,
  .token-input .entity.icon.viewparameter.error,
  .token.viewparameter.error/* This is used for rule widget tokens (TFS756891) */ {
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14@2x.png");
  }
}
