//Dynamic button - when switching a control from normal to dynamic
.twisty-button .button-image
{
    //normal
    .twisty.map &
    {
        background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle16@{res}.png");
    }
    //dynamic
    .twisty.drop &
    {
        background-image: url("../Images/Icons/Toolbar/ControlsDynamicToggle_Selected16@{res}.png");
    }
}

/* Token Icon Styling */
#BrowserNavigatePC
{
    .token
    {
        &.smartfunction
        {
            background-image: url("../Images/Icons/DataTypes/Functions16@{res}.png");
        }

        &.eventbus
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }

        &.field
        {
            background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab16@{res}.png");
        }

        &.svcObj,
        &.service-object
        {
            background-image: url("../Images/Icons/Management/ServiceObject16@{res}.png");
        }

        &.svcMethod,
        &.service-method
        {
            background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
        }

        &.category
        {
            background-image: url("../Images/Icons/AssetBrowser/FolderClosed16@{res}.png");
        }

        &.user
        {
            background-image: url("../Images/Icons/Management/User16@{res}.png");
        }

        &.toolbar-control
        {
            background-image: url("../Images/Icons/Toolbox/ToolbarControl16@{res}.png");
        }

        &.plugin
        {
            background-image: url("../Images/Icons/Toolbox/Plugin_Alt16@{res}.png");
        }

        &.report-parameter
        {
            background-image: url("../Images/Icons/Toolbox/Parameter16@{res}.png");
        }

        &.smartobject-method
        {
            background-image: url("../Images/Icons/Ribbon/Method16@{res}.png");
        }

        &.event
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }

        &.form-state
        {
            background-image: url("../Images/Icons/Rules/State16@{res}.png");
        }

        &.property
        {
            background-image: url("../Images/Icons/Toolbox/Properties16@{res}.png");
        }

        &.view-event
        {
            background-image: url("../Images/Icons/Toolbox/Event16@{res}.png");
        }

        &.process-activity
        {
            background-image: url("../Images/Icons/ContextBrowser/Activities16@{res}.png");
        }

        &.action
        {
            background-image: url("../Images/Icons/Toolbox/Action16@{res}.png");
        }

        &.data-field
        {
            background-image: url("../Images/Icons/ContextBrowser/DataField16@{res}.png");
        }

        &.xml-field
        {
            background-image: url("../Images/Icons/ContextBrowser/XamlField16@{res}.png");
        }

        &.workflow-action-name
        {
            background-image: url("../Images/Icons/Ribbon/Workflow16@{res}.png");
        }

        &.workflow-view
        {
            background-image: url("../Images/Icons/Management/Viewflow16@{res}.png");
        }

        &.expression
        {
            background-image: url("../Images/Icons/Functions/RegularExpressionFunction16@{res}.png");
        }

        &.datetime-now
        {
            background-image: url("../Images/Icons/Functions/Today16@{res}.png");
        }

        &.false
        {
            background-image: url("../Images/Icons/Functions/False16@{res}.png");
        }

        &.true
        {
            background-image: url("../Images/Icons/Functions/True16@{res}.png");
        }

        &.empty-string
        {
            background-image: url("../Images/Icons/Functions/Empty16@{res}.png");
        }
    }
}

/* Token Icon Styling */
.token-input .entity.icon.warning
{
    //background-image: url("../Images/Icons/Warning16@{res}.png");
    background-image: url("../Images/Icons/Steps/ErrorHandling_Selected14@{res}.png");
}

.token-input .entity.icon.error,
.token-input .entity.icon.missing
{
    background-image: url("../Images/Icons/Ribbon/Error_Selected14@{res}.png");
}

.token-input .entity.icon.smartfunction
{
    //background-image: url("../Images/Icons/SmartFunctiont16@{res}.png");
    background-image: url("../Images/Icons/DataTypes/Functions_Selected14@{res}.png");
}

.token-input .entity.icon.eventbus
{
    //background-image: url("../Images/Icons/EventBus16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@{res}.png");
}

.token-input .entity.icon.field, //Environmental fields
.input-control .drop-item.field,
#BrowserNavigatePC .token.field /* This is used for rule widget tokens (TFS735813) */
{
    //background-image: url("../Images/Icons/Field16@{res}.png");
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@{res}.png");
}

.token-input .entity.icon.rendermode,
.input-control .drop-item.rendermode,
#BrowserNavigatePC .token.rendermode /* This is used for rule widget tokens (TFS735813) */
{
    //background-image: url("../Images/Icons/RenderMode16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Connection_Selected14@{res}.png");
}

.token-input .entity.icon.memo
{
    background-image: url("../Images/Icons/DataTypes/Memo_Selected14@{res}.png");
}

.token-input .entity.icon.svcObj,
.token-input .entity.icon.service-object
{
    background-image: url("../Images/Icons/Ribbon/ServiceObject_Selected14@{res}.png");
}

.token-input .entity.icon.svcMethod,
.token-input .entity.icon.service-method
{
    //background-image: url("../Images/Icons/ServiceMethod16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Method_Selected14@{res}.png");
}

.token-input .entity.icon.category
{
    background-image: url("../Images/Icons/DataTypes/FolderClosed_Selected14@{res}.png");
}

.token-input .entity.icon.user
{
    background-image: url("../Images/Icons/Management/User_Selected14@{res}.png");
}

.token-input .entity.icon.plugin
{
    //background-image: url("../Images/Icons/plugin_16_flat.png");
    background-image: url("../Images/Icons/Toolbox/Plugin_Alt_Selected14@{res}.png");
}

.token-input .entity.icon.report-parameter
{
    //background-image: url("../Images/Icons/Report_Parameters_16_flat.png");
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14@{res}.png");
}

.token-input .entity.icon.smartobject-method
{
    //background-image: url("../Images/Icons/SmartObjectMethod16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Method_Selected14@{res}.png");
}

.token-input .entity.icon.event
{
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@{res}.png");
}

.token-input .entity.icon.form-state
{
    background-image: url("../Images/Icons/Rules/State_Selected14@{res}.png");
}

.token-input .entity.icon.property
{
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14@{res}.png");
}

.token-input .entity.icon.view-event
{
    //background-image: url("../Images/Icons/ViewEvent16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Event_Selected14@{res}.png");
}

.token-input .entity.icon.process-activity
{
    background-image: url("../Images/Icons/ContextBrowser/Activities_Selected14@{res}.png");
}

.token-input .entity.icon.action
{
    background-image: url("../Images/Icons/Toolbox/Action_Selected14@{res}.png");
}

.token-input .entity.icon.data-field,
.input-control .drop-item.data-field,
#BrowserNavigatePC .token.data-field /* This is used for rule widget tokens (TFS735813) */
{
    //background-image: url("../Images/Icons/DataField16@{res}.png");
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@{res}.png");
}

.token-input .entity.icon.xml-field
{
    //background-image: url("../Images/Icons/XamlField16@{res}.png");
    background-image: url("../Images/Icons/ContextBrowser/XamlField_Selected14@{res}.png");
}

.token-input .entity.icon.workflow-action-name
{
    //background-image: url("../Images/Icons/WorkflowActionsName16@{res}.png");
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14@{res}.png");
}

.token-input .entity.icon.workflow-view
{
    //background-image: url("../Images/Icons/WorkflowView16@{res}.png");
    background-image: url("../Images/Icons/Ribbon/Workflow_Selected14@{res}.png");
}

.token-input .entity.icon.expression,
.input-control .drop-item.expression,
#BrowserNavigatePC .token.expression /* This is used for rule widget tokens (TFS735813) */
{
    //background-image: url("../Images/Icons/Expression16@{res}.png");
    background-image: url("../Images/Icons/Functions/RegularExpressionFunction_Selected14@{res}.png");
}

.token-input .entity.icon.datetime-now,
#BrowserNavigatePC .token.datetime-now /* This is used for rule widget tokens (TFS735813) */
{
    background-image: url("../Images/Icons/Functions/Today_Selected14@{res}.png");
}

.token-input .entity.icon.false
{
    background-image: url("../Images/Icons/Functions/False_Selected14@{res}.png");
}

.token-input .entity.icon.true
{
    background-image: url("../Images/Icons/Functions/True_Selected14@{res}.png");
}

.token-input .entity.icon.empty-string
{
    background-image: url("../Images/Icons/Functions/Empty_Selected14@{res}.png");
}

.token-input .entity.icon.ControlProperty,
.token-input .entity.icon.controlproperty,
.input-control .drop-item.ControlProperty,
.input-control .drop-item.controlproperty,
#BrowserNavigatePC .token.ControlProperty, /* This is used for rule widget tokens (TFS735813) */
#BrowserNavigatePC .token.controlproperty /* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */
{
    //background-image: url("../Images/Icons/ControlProperty16@{res}.png");
    background-image: url("../Images/Icons/Toolbox/Properties_Selected14@{res}.png");
}

.token-input .entity.icon.environmentField,
.token-input .entity.icon.environmentfield,
.input-control .drop-item.environmentField,
.input-control .drop-item.environmentfield,
#BrowserNavigatePC .token.environmentField, /* This is used for rule widget tokens (TFS735813) */
#BrowserNavigatePC .token.environmentfield /* We also need to define small case because after editing the tokenbox, it changes upcases to small cases */
{
    //background-image: url("../Images/Icons/EnvironmentField16@{res}.png");
    background-image: url("../Images/Icons/ContextBrowser/MenuFieldsTab_Selected14@{res}.png");
}

/* When control tokens are in error because we would not know what the control subtype was, we shall display it with an unknown error icon */
/* View/Form Designer: Expression builder popup where control has been dropped as a token in an expression */
.token-input .entity.icon.control.error,
/* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/
.input-control .drop-item.control.error,
/* Rules Designer: Navigate to URL action widget tokens in error*/
.token.control.error
{
    background-image: url("../Images/Icons/Toolbox/Unknown_Selected14@{res}.png");
}

.input-control .drop-item.formparameter.error,
.token-input .entity.icon.formparameter.error,
.token.formparameter.error, /* This is used for rule widget tokens (TFS756891) */
.input-control .drop-item.viewparameter.error,
.token-input .entity.icon.viewparameter.error,
.token.viewparameter.error /* This is used for rule widget tokens (TFS756891) */
{
    background-image: url("../Images/Icons/Toolbox/Parameter_Selected14@{res}.png");
}
