
.tab-box ul.tab-box-tabs a.tab .tab-icon
{

    &.tab-add
    {
        //background-image: url(../Image/Icons/New16.png);
        background-image: url(../Images/Icons/Steps/Create16.png);
    }

    &.controls-closed
    {
        //background-image: url(../Images/Icons/ControlsFolder16_closed.png);
        background-image: url(../Images/Icons/Toolbox/Controls16.png);
    }

    &.controls-closed.error
    {
        background-image: url(../Images/Icons/Toolbox/Controls_Error16.png);
    }

    &.fields
    {
        //background-image: url(../Images/Icons/FieldTypes16.png);
        background-image: url(../Images/Icons/ContextBrowser/MenuFieldsTab16.png);
    }

    &.fields.error
    {
        //background-image: url(../Images/Icons/FieldTypes_Error16.png);
        background-image: url(../Images/Icons/Badges/MenuFieldsTab_Error16.png);
    }

    &.so-methods
    {
        //background-image: url(../Images/Icons/SmartObjectMethod16.png);
        background-image: url(../Images/Icons/Toolbar/Method16.png);
    }

    &.properties
    {
        //background-image: url(../Images/Icons/Properties16.png);
        background-image: url(../Images/Icons/Toolbar/Properties16.png);
    }

    &.properties.error
    {
        //background: url(../Images/Icons/Properties_Generic_Error16.png) no-repeat;
        background-image: url(../Images/Icons/Badges/Properties_Error16.png);
    }

    &.events.error
    {
        //background: url(../Images/Icons/EventBus_Error16.png) no-repeat;
        background-image: url(../Images/Icons/Badges/Rules_Error16.png);
    }

    &.events
    {
        //background-image: url(../Images/Icons/EventBus16.png);
        background-image: url(../Images/Icons/Toolbox/Rules16.png);
    }

    &.browse
    {
        //background-image: url(../Images/Icons/BrowseOpen16.png);
        background-image: url(../Images/Icons/AssetBrowser/FolderOpen16.png);
    }

    &.search
    {
        background-image: url(../Images/Icons/Ribbon/Search16.png);
    }

    &.context
    {
        //background-image: url(../Images/Icons/ContextTab16.png);
        background-image: url(../Images/Icons/Toolbox/Context16.png);
    }

    &.context.error
    {
        //background-image: url(../Images/Icons/ContextTab_Error16.png);
        background-image: url(../Images/Icons/Toolbox/Context_Error16.png);
    }

    &.smartobjects
    {
        background-image: url(../Images/Icons/FileTypes/SmartObject16.png);
    }

    &.views
    {
        //background-image: url(../Images/Icons/SmartViewsOpen16.png);
        background-image: url(../Images/Icons/FileTypes/View16.png);
    }

    &.service-instances
    {
        background-image: url(../Images/Icons/Management/ServiceInstance16.png);
    }

    &.categories
    {
        background-image: url(../Images/Icons/AssetBrowser/CategoryServer16.png);
    }

    &.smartobject-properties
    {
        background-image: url(../Images/Icons/Toolbar/Properties16.png);
    }

    &.smartobject-methods
    {
        background-image: url(../Images/Icons/Toolbar/Method16.png);
    }

    &.operators
    {
        background-image: url(../Images/Icons/DataTypes/Functions16.png);
    }

    &.filter
    {
        background-image: url(../Images/Icons/Runtime/Filter16.png);
    }

    &.advanced-filter
    {
        background-image: url(../Images/Icons/Runtime/AdvancedFilter16.png);
    }

    &.ordering
    {
        background-image: url(../Images/Icons/ConditionsDropdown/Descending16.png);
    }

    &.rw-events
    {
        background-image: url(../Images/Icons/Toolbox/Event16.png);
    }

    &.rw-conditions
    {
        background-image: url(../Images/Icons/Toolbox/Conditions16.png);
    }

    &.rw-actions
    {
        background-image: url(../Images/Icons/Toolbox/Action16.png);
    }

    &.rw-rule
    {
        background-image: url(../Images/Icons/Toolbox/Rules16.png);
    }

    &.rw-rule.error
    {
        background-image: url(../Images/Icons/Badges/Rules_Error16.png);
    }
}
