/*Author: 		Lewis Garmston*/

/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */

/*This is because /styles, /forms, /rules etc all have css in them */

/* [893303] Min-width for Table control so it display a thin bar when width of table is set to 0px in design-time */
.common-top-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  overflow: hidden;
}
.common-top-box-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  overflow: hidden;
}
.common-top-box-header-l {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  overflow: hidden;
  background: transparent url(../Images/TitleBar/titlebar_left_corners.png) no-repeat left top;
}
.common-top-box-header-c {
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  right: 4px;
  overflow: hidden;
  background: transparent url(../Images/TitleBar/titlebar_repeater.png) repeat-x left top;
}
.common-top-box-header-r {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  overflow: hidden;
  background: transparent url(../Images/TitleBar/titlebar_right_corners.png) no-repeat right top;
}
.common-step-box-header-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-weight: 700;
  line-height: 22px;
  padding: 0 5px;
}
.common-top-box-body {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.common-top-box-body-l,
.common-top-box-body-r {
  display: none;
}
.common-top-box-body-c {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.common-top-box-footer {
  display: none;
}
/* AppRuntime Main Box Styling */

.common-main-box {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.common-main-box-header,
.common-main-box-footer {
  display: none;
}
.common-main-box-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.common-main-box-body-l,
.common-main-box-body-r {
  display: none;
}
.common-main-box-body-c {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
