/* Toolbar Buttons with Icons */
a.toolbar-button.default .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.generic .button-icon
{
    background-image: url("../Images/Icons/Toolbox/Button16@{res}.png");
}

a.toolbar-button.add .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Add16@{res}.png");
}

a.toolbar-button.edit .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Edit16@{res}.png");
}

a.toolbar-button.save .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Save16@{res}.png");
}

a.toolbar-button.security .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Security16@{res}.png");
}

a.toolbar-button.save-as .button-icon
{
    background-image: url("../Images/Icons/Ribbon/SaveAs16@{res}.png");
}

a.toolbar-button.delete .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.delete-all .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.remove .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Remove16@{res}.png");
}

a.toolbar-button.remove-all .button-icon
{
    background-image: url("../Images/Icons/Toolbar/RemoveAll16@{res}.png");
}

a.toolbar-button.play .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
}

a.toolbar-button.publish .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Deploy16@{res}.png");
}

a.toolbar-button.search .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Search16@{res}.png");
}

a.toolbar-button.refresh .button-icon
{
    background-image: url("../Images/Icons/ContextBrowser/Refresh16@{res}.png");
}

a.toolbar-button.checkin .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
}

a.toolbar-button.checkout .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckOut16@{res}.png");
}

a.toolbar-button.undocheckout .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
}

a.toolbar-button.assign .button-icon
{
    background-image: url("../Images/Icons/Toolbar/AssignStatement16@{res}.png");
}

a.toolbar-button.disable-form-rule .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Disable16@{res}.png");
}

a.toolbar-button.disable-view-rule .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Disable16@{res}.png");
}

a.toolbar-button.enable-form-rule .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/SelectedRowIndicator16@{res}.png");
}

a.toolbar-button.enable-view-rule .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/SelectedRowIndicator16@{res}.png");
}

a.toolbar-button.pdfdocument .button-icon
{
    background-image: url("../Images/Icons/Toolbar/PDFControl16@{res}.png");
}

a.toolbar-button.exceldocument .button-icon
{
    background-image: url("../Images/Icons/ToolbarButton/ExportExcel16@{res}.png");
}

a.toolbar-button.comment .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Comment16@{res}.png");
}

/* Clipboard Action Buttons */
a.toolbar-button.cut .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Cut16@{res}.png");
}

a.toolbar-button.copy .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Copy16@{res}.png");
}

a.toolbar-button.paste .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Paste16@{res}.png");
}

/* Advanced Actions Buttons */
a.toolbar-button.auto-generate .button-icon
{
    background-image: url("../Images/Icons/Toolbar/AutoTable16@{res}.png");
}

a.toolbar-button.default-canvas .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.properties .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Properties16@{res}.png");
}

a.toolbar-button.settings .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Settings16@{res}.png");
}

a.toolbar-button.auto-map .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Automap16@{res}.png");
}

a.toolbar-button.clear-formatting .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ClearFormatting16@{res}.png");
}

a.toolbar-button.lock .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Lock16@{res}.png");
}

a.toolbar-button.load .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Load16@{res}.png");
}

a.toolbar-button.clear .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Clear16@{res}.png");
}

/* Movement Actions Buttons */
a.toolbar-button.move-up .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MoveUp16@{res}.png");
}

a.toolbar-button.move-down .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MoveDown16@{res}.png");
}

a.toolbar-button.move-left .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MoveLeft16@{res}.png");
}

a.toolbar-button.move-right .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MoveRight16@{res}.png");
}

/* Paging Buttons */
a.toolbar-button.paging-first .button-icon
{
    background-image: url("../Images/Icons/Runtime/PageLeftDouble16@{res}.png");
}

a.toolbar-button.paging-left .button-icon
{
    background-image: url("../Images/Icons/Runtime/PageLeft16@{res}.png");
}

a.toolbar-button.paging-right .button-icon
{
    background-image: url("../Images/Icons/Runtime/PageRight16@{res}.png");
}

a.toolbar-button.paging-last .button-icon
{
    background-image: url("../Images/Icons/Runtime/PageRightDouble16@{res}.png");
}

/* Table Customisation Buttons */
a.toolbar-button.insert-table .button-icon
{
    background-image: url("../Images/Icons/Toolbox/Table16@{res}.png");
}

a.toolbar-button.insert-row-above .button-icon
{
    background-image: url("../Images/Icons/Toolbar/InsertRowAbove16@{res}.png");
}

a.toolbar-button.insert-row-below .button-icon
{
    background-image: url("../Images/Icons/Toolbar/InsertRowBelow16@{res}.png");
}

a.toolbar-button.insert-column-left .button-icon
{
    background-image: url("../Images/Icons/Toolbar/InsertColumnLeft16@{res}.png");
}

a.toolbar-button.insert-column-right .button-icon
{
    background-image: url("../Images/Icons/Toolbar/InsertColumnRight16@{res}.png");
}

a.toolbar-button.merge-cells .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MergeCells16@{res}.png");
}

a.toolbar-button.unmerge-cells .button-icon
{
    background-image: url("../Images/Icons/Toolbar/UnmergeCells16@{res}.png");
}

a.toolbar-button.merge-cell-right .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MergeRight16@{res}.png");
}

a.toolbar-button.merge-cell-below .button-icon
{
    background-image: url("../Images/Icons/Toolbar/MergeBelow16@{res}.png");
}

a.toolbar-button.clear-cell .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ClearCells16@{res}.png");
}

a.toolbar-button.clear-row .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ClearRow16@{res}.png");
}

a.toolbar-button.clear-column .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ClearColumn16@{res}.png");
}

a.toolbar-button.remove-column .button-icon
{
    background-image: url("../Images/Icons/Toolbar/RemoveColumn16@{res}.png");
}

a.toolbar-button.remove-row .button-icon
{
    background-image: url("../Images/Icons/Toolbar/RemoveRow16@{res}.png");
}

a.toolbar-button.edit-cell-props .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CellProperties16@{res}.png");
}

a.toolbar-button.edit-table-props .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TableProperties16@{res}.png");
}

/* Text Customisation Buttons */
a.toolbar-button.bold .button-icon
{
    background-image: url("../Images/Icons/RichText/Bold16@{res}.png");
}

a.toolbar-button.italic .button-icon
{
    background-image: url("../Images/Icons/RichText/Italic16@{res}.png");
}

a.toolbar-button.decoration-none .button-icon
{
    background-image: url("../Images/Icons/RichText/EffectsNone16@{res}.png");
}

a.toolbar-button.underline .button-icon
{
    background-image: url("../Images/Icons/RichText/Underline16@{res}.png");
}

a.toolbar-button.strike-through .button-icon
{
    background-image: url("../Images/Icons/RichText/StrikeThrough16@{res}.png");
}

a.toolbar-button.overline .button-icon
{
    background-image: url("../Images/Icons/RichText/Overline16@{res}.png");
}

a.toolbar-button.subscript .button-icon
{
    background-image: url("../Images/Icons/RichText/Subscript16@{res}.png");
}

a.toolbar-button.superscript .button-icon
{
    background-image: url("../Images/Icons/RichText/Superscript16@{res}.png");
}

a.toolbar-button.text-color .button-icon
{
    background-image: url("../Images/Icons/RichText/FontColour16@{res}.png");
}

a.toolbar-button.background-color .button-icon
{
    background-image: url("../Images/Icons/RichText/Shading16@{res}.png");
}

a.toolbar-button.text-highlight .button-icon
{
    background-image: url("../Images/Icons/RichText/TextHighLightColor16@{res}.png");
}

a.toolbar-button.text-align-left .button-icon,
a.toolbar-button.justify-left .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignLeft16@{res}.png");
}

a.toolbar-button.text-align-right .button-icon,
a.toolbar-button.justify-right .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignRight16@{res}.png");
}

a.toolbar-button.text-align-center .button-icon,
a.toolbar-button.justify-center .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignCentreHoriz16@{res}.png");
}

a.toolbar-button.text-align-justify .button-icon
{
    background-image: url("../Images/Icons/RichText/JustifyText16@{res}.png");
}

a.toolbar-button.text-indent .button-icon
{
    background-image: url("../Images/Icons/RichText/DecreaseIndent16@{res}.png");
}

a.toolbar-button.text-outdent .button-icon
{
    background-image: url("../Images/Icons/RichText/IncreaseIndent16@{res}.png");
}

a.toolbar-button.numbered-list .button-icon
{
    background-image: url("../Images/Icons/RichText/NumberList16@{res}.png");
}

a.toolbar-button.multilevel-list .button-icon
{
    background-image: url("../Images/Icons/RichText/MultiLevelList16@{res}.png");
}

a.toolbar-button.bullet-list .button-icon
{
    background-image: url("../Images/Icons/RichText/BulletList16@{res}.png");
}

a.toolbar-button.line-spacing .button-icon
{
    background-image: url("../Images/Icons/RichText/LineSpacing16@{res}.png");
}

a.toolbar-button.grow-font .button-icon
{
    background-image: url("../Images/Icons/RichText/IncreaseFont16@{res}.png");
}

a.toolbar-button.shrink-font .button-icon
{
    background-image: url("../Images/Icons/RichText/DecreaseFont16@{res}.png");
}

a.toolbar-button.text-size .button-icon, a.toolbar-button.font-size .button-icon
{
    background-image: url("../Images/Icons/RichText/FontSize16@{res}.png");
}

a.toolbar-button.text-family .button-icon, a.toolbar-button.font-family .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

/* Alignment Action Buttons */
a.toolbar-button.align-left .button-icon
{
    background-image: url("../Images/Icons/RichText/AlignLeft16@{res}.png");
}

a.toolbar-button.align-right .button-icon
{
    background-image: url("../Images/Icons/RichText/AlignRight16@{res}.png");
}

a.toolbar-button.align-top .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignTop16@{res}.png");
}

a.toolbar-button.align-bottom .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignBottom16@{res}.png");
}

a.toolbar-button.center-vertical .button-icon, a.toolbar-button.align-middle .button-icon
{
    background-image: url("../Images/Icons/Ribbon/AlignMiddleVert16@{res}.png");
}

a.toolbar-button.center-horizontal .button-icon, a.toolbar-button.align-center .button-icon
{
    background-image: url("../Images/Icons/RichText/AlignCentreHoriz16@{res}.png");
}

/* Borders Styling */
a.toolbar-button.border-solid .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/Solid16@{res}.png");
}

a.toolbar-button.border-dashed .button-icon
{
    background-image: url("../Images/Icons/DropDownSet/Dashed16@{res}.png");
}

a.toolbar-button.border-dotted .button-icon
{
    background-image: url("../Images/Icons/DropDownSet/Dotted16@{res}.png");
}

a.toolbar-button.border-inset .button-icon
{
    background-image: url("../Images/Icons/RichText/AlignLeft16@{res}.png");
}

a.toolbar-button.border-outset .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/Outset16@{res}.png");
}

a.toolbar-button.border-double .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/Double16@{res}.png");
}

a.toolbar-button.border-groove .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/Groove16@{res}.png");
}

a.toolbar-button.border-ridge .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/Ridge16@{res}.png");
}

a.toolbar-button.no-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/NoBorder16@{res}.png");
}

a.toolbar-button.all-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/AllBorder16@{res}.png");
}

a.toolbar-button.inside-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/InsideBorder16@{res}.png");
}

a.toolbar-button.outside-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/OutsideBorder16@{res}.png");
}

a.toolbar-button.inside-horizontal-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/InsideHorizontalBorder16@{res}.png");
}

a.toolbar-button.inside-vertical-borders .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/InsideVerticalBorder16@{res}.png");
}

a.toolbar-button.border-bottom .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/BottomBorder16@{res}.png");
}

a.toolbar-button.border-top .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/TopBorder16@{res}.png");
}

a.toolbar-button.border-left .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/LeftBorder16@{res}.png");
}

a.toolbar-button.border-right .button-icon
{
    background-image: url("../Images/Icons/DropdownSet/RightBorder16@{res}.png");
}

/* Misc Editor Actions Buttons */
a.toolbar-button.insert-line .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.insert-image .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

/* View Specific Actions Buttons */
a.toolbar-button.change-control .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ChangeControls16@{res}.png");
}

a.toolbar-button.fit-to-cell .button-icon
{
    background-image: url("../Images/Icons/Toolbar/RowLayout16@{res}.png");
}

a.toolbar-button.sigma .button-icon
{
    background-image: url("../Images/Icons/DataTypes/Functions16@{res}.png");
}

a.toolbar-button.event .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.bind-control .button-icon
{
    background-image: url("../Images/Icons/Toolbar/BindControl16@{res}.png");
}

a.toolbar-button.unbind-control .button-icon
{
    background-image: url("../Images/Icons/Toolbar/UnBindControl16@{res}.png");
}

a.toolbar-button.clear-table .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ClearTable16@{res}.png");
}

/* SmartObject Specific Actions Buttons */
a.toolbar-button.create-all .button-icon
{
    background-image: url("../Images/Icons/Steps/Create16@{res}.png");
}

/* Tab Control Action Buttons */
a.toolbar-button.new-tab .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabAdd16@{res}.png");
}

a.toolbar-button.insert-tab .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabAdd16@{res}.png");
}

a.toolbar-button.rename-tab .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabRename16@{res}.png");
}

a.toolbar-button.remove-tab .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabDelete16@{res}.png");
}

a.toolbar-button.move-tab-left .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabMoveLeft16@{res}.png");
}

a.toolbar-button.move-tab-right .button-icon
{
    background-image: url("../Images/Icons/Toolbar/TabMoveRight16@{res}.png");
}

/* Form Designer Specific Actions Buttons */
a.toolbar-button.row-layout .button-icon
{
    background-image: url("../Images/Icons/Toolbar/RowLayout16@{res}.png");
}

a.toolbar-button.column-layout .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ColumnLayout16@{res}.png");
}

a.toolbar-button.select-mode .button-icon
{
    background-image: url("../Images/Icons/RichText/BulletList16@{res}.png");
}

a.toolbar-button.preview-form .button-icon
{
    background-image: url("../Images/Icons/Ribbon/FormPreview16@{res}.png");
}

a.toolbar-button.preview-view .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.run .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Run16@{res}.png");
}

a.toolbar-button.run-form .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Run16@{res}.png");
}

a.toolbar-button.run-report .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.run-view .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Run16@{res}.png");
}

a.toolbar-button.run-app .button-icon,
a.toolbar-button.run-application .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Run16@{res}.png");
}

a.toolbar-button.clone .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Copy16@{res}.png");
}

a.toolbar-button.single-mode .button-icon
{
    background-image: url("../Images/Icons/RichText/MultiLevelList16@{res}.png");
}

a.toolbar-button.group-mode .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

/* AppStudio Buttons */
a.toolbar-button.import-report .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.import .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.publish-report .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.generate-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/GenerateANewView16@{res}.png");
}

a.toolbar-button.generate-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/GenerateANewForm16@{res}.png");
}

a.toolbar-button.new-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/DesignANewSmartObject16@{res}.png");
}

a.toolbar-button.new-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/DesignANewView16@{res}.png");
}

a.toolbar-button.add-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Add16@{res}.png");
}

a.toolbar-button.new-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/DesignANewForm16@{res}.png");
}

a.toolbar-button.new-styleprofile .button-icon
{
    background-image: url("../Images/Icons/Toolbar/DesignANewStyleProfile16@{res}.png");
}

a.toolbar-button.new-report .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.new-application .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.new-workflow .button-icon
{
    background-image: url("../Images/Icons/Toolbar/DesignANewWorkflowFile16@{res}.png");
}

a.toolbar-button.edit-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.edit-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.edit-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.edit-report .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.edit-application .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.edit-workflow .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Edit16@{res}.png");
}

a.toolbar-button.delete-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.delete-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.delete-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.delete-report .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.delete-application .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Delete16@{res}.png");
}

a.toolbar-button.save-as-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/SaveAs16@{res}.png");
}

a.toolbar-button.save-as-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/SaveAs16@{res}.png");
}

a.toolbar-button.save-as-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/SaveAs16@{res}.png");
}

a.toolbar-button.save-as-report .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.save-as-application .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.checkin-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
}

a.toolbar-button.checkin-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
}

a.toolbar-button.checkin-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckIn16@{res}.png");
}

a.toolbar-button.checkin-report .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.checkin-application .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.checkout-smartobject .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckOut16@{res}.png");
}

a.toolbar-button.checkout-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckOut16@{res}.png");
}

a.toolbar-button.checkout-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CheckOut16@{res}.png");
}

a.toolbar-button.checkout-report .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.checkout-application .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.undocheckout-view .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
}

a.toolbar-button.undocheckout-form .button-icon
{
    background-image: url("../Images/Icons/Toolbar/CancelCheckOut16@{res}.png");
}

a.toolbar-button.undocheckout-report .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.undocheckout-application .button-icon
{
    background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.rename .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Rename16@{res}.png");
}

a.toolbar-button.category .button-icon
{
    background-image: url("../Images/Icons/Toolbar/ShowCategory16@{res}.png");
}

a.toolbar-button.move-to .button-icon
{
    background-image: url("../Images/Icons/Steps/MoveFolder16@{res}.png");
}

a.toolbar-button.new .button-icon
{
    background-image: url("../Images/Icons/Steps/Create16@{res}.png");
}

/* Report Designer Specific Toolbar Buttons */
a.toolbar-button.drill-down .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.delete-drill-down .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

/* SmartObject Designer Specific Toolbar Buttons */
a.toolbar-button.add-so-property .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Add16@{res}.png");
}

a.toolbar-button.add-so-method .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Method16@{res}.png");
}

a.toolbar-button.display-method-model .button-icon
{
    background-image: url("../Images/Icons/Toolbar/Method16@{res}.png");
}

/* Aggregation Toolbar Buttons */
a.toolbar-button.aggregation-sum .button-icon
{
    background-image: url("../Images/Icons/DataTypes/Functions16@{res}.png");
}

a.toolbar-button.aggregation-average .button-icon
{
    background-image: url("../Images/Icons/ContextBrowser/Average16@{res}.png");
}

a.toolbar-button.aggregation-minimum .button-icon
{
    background-image: url("../Images/Icons/ContextBrowser/Minimum16@{res}.png");
}

a.toolbar-button.aggregation-maximum .button-icon
{
    background-image: url("../Images/Icons/ContextBrowser/Maximum16@{res}.png");
}

a.toolbar-button.aggregation-product .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.aggregation-count .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}




/* Expression Builder Toolbar Buttons */
a.toolbar-button.validate .button-icon
{
    background-image: url("../Images/Icons/Functions/True16@{res}.png");
}

/* Filter & Ordering Toolbar Buttons */
a.toolbar-button.filter .button-icon
{
    background-image: url("../Images/Icons/Runtime/Filter16@{res}.png");
}

a.toolbar-button.advanced-filter .button-icon
{
    background-image: url("../Images/Icons/Runtime/AdvancedFilter16@{res}.png");
}

a.toolbar-button.exclude-off .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.exclude-on .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.excludedata-on .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.excludedata-off .button-icon
{
    background-image: url("../Images/Icons/Placeholder/Placeholder16@{res}.png");
}

a.toolbar-button.configure-filter .button-icon {
    background-image: url("../Images/Icons/Runtime/FilterSpanner16@{res}.png");
}


a.toolbar-button.view-settings .button-icon
{
    background-image: url("../Images/Icons/Ribbon/Settings16@{res}.png");
}
