/*Author: 		Lewis Garmston*/
/*Purpose: 		[describe what is and what shouldn't be in this file]*/

/*The master variables/color file is stored in %K2Install%/K2 smartforms Designer/ - which is 3 folders up  */
/*This is because /styles, /forms, /rules etc all have css in them */
@import (reference) "../../../Designer_Variables.less";


/* Wizard Step Box Styling */
.wizard-step-box
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 47px;
    overflow: hidden;
}

.wizard-step-box-header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 24px;
    overflow: hidden;
}

.wizard-step-box-header-l
{
    position: absolute;
    top: 0;
    left: 0;
    height: @Wizard-StepBox-Header-Height;
    width: 5px;
    overflow: hidden;
}

.wizard-step-box-header-c
{
    position: absolute;
    top: 0;
    left: 5px;
    height: @Wizard-StepBox-Header-Height;
    right: 5px;
}

.wizard-step-box-header-r
{
    position: absolute;
    top: 0;
    right: 0;
    height: @Wizard-StepBox-Header-Height;
    width: 5px;
    overflow: hidden;
}

.wizard-step-box-header-text
{
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    overflow: hidden;
    font-weight: 700;
    line-height: @Wizard-StepBox-Header-Height;
    padding: 0 7px;
}

.wizard-step-box-body
{
    position: absolute;
    top: @Wizard-StepBox-Header-Height;
    left: 0;
    right: 0;
    height: 23px;
    overflow: hidden;
}

.wizard-step-box-body-l
{
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 23px;
    overflow: hidden;
}

.wizard-step-box-body-c
{
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 23px;
    overflow: hidden;
}

.wizard-step-box-body-r
{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 23px;
    overflow: hidden;
}

.wizard-step-box-footer
{
    display: none;
}

/* Step Tree Styling */
.wizard-step-box-body .wrapper
{
    padding: 2px 3px 0 3px;
}

ul.steptree
{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    border: 0px none;
    vertical-align: top;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    box-sizing: border-box;

    li
    {
        display: inline-block;
        position: relative;
        //vertical-align: middle;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        pointer-events: all;

        &.error.small::after,
        &.warning::after,
        &.error::after
        {
            -moz-animation: fadein 0.25s;
            -o-animation: fadein 0.25s;
            -webkit-animation: fadein 0.25s;
            animation: fadein 0.25s;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            right: -10px;
            top: 0px;
        }
    }

    a
    {
        display: inline-block;
        float: left;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0 50%;
        outline: none;
        text-transform: uppercase;
        background-image: none;
        line-height: 22px;
        height: 24px;
        vertical-align: middle;
        border-bottom: solid 2px transparent;
        box-sizing: border-box;

        html[dir=rtl] &
        {
            background-position: 100% 50%;
        }
    }

    span.number
    {
        display: none;
    }

    li.disabled span.number
    {
        color: #777;
    }
}

// Override the Rule Mapping Widget Tabs so that the badging isnt hidden
div#RuleMappingWizard ul.steptree li.error.small::after
{
    right: 4px;
}

//Breadcrumb variables, for when the steptree is in "MetroMap" style (almost all popup windows).
@Breadcrumb-Height: 22px;
@Breadcrumb-Arrow-Width: 10px;
@Breadcrumb-Background-Color: @Panel-Content-Background-Color;
@Breadcrumb-Hover-Background-Color: @Panel-Content-Background-Color;
@Breadcrumb-Text-Color: fadeout(@Main-Text-Color, 20%);
@Breadcrumb-Hover-Text-Color: fadeout(@Main-Text-Color, 0%);

//there are two types of step tree, normal (looks like breadcrumbs) and tabs (looks like tabs)
.wizard-steptree-bar
{
    //METRO  - Breadcumb style, on a light background.
    &.steptree-metro
    {
        background-color: @Wizard-Steps-Metro-Background-Color;

        ul.steptree
        {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            li:first-child a
            {
                border-radius: 2px 0px 0px 2px;
            }

            li:last-child a
            {
                border-radius: 0px 2px 2px 0px;
            }

            li.active a //the currently showing step
            {
                pointer-events: none;
                font-weight: bold;
            }

            a
            {
                background-color: @Breadcrumb-Background-Color;
                padding: 0px 5px;
                display: inline-block;
                height: @Breadcrumb-Height;
                line-height: @Breadcrumb-Height;

                html[dir=ltr] &
                {
                    margin-right: @Breadcrumb-Arrow-Width;
                }
                //make room for arrow
                html[dir=rtl] &
                {
                    margin-left: @Breadcrumb-Arrow-Width;
                }
                //make room for arrow
                position: relative; //for breadcrumb arrows to be positioned.
                font-weight: normal; //override the grid header style.
                color: @Breadcrumb-Text-Color;
                transition: background-color 0.15s linear, color 0.15s linear;
            }

            li
            {

                &:not(:last-child) a
                {
                    &::after
                    {
                        display: block;
                        content: " ";
                        width: 0px;
                        height: 0px;
                        overflow: hidden;
                        position: absolute;
                        top: 0px;
                    }

                    html[dir=ltr] &::after
                    {
                        border-right: 0px solid transparent;
                        border-top: (@Breadcrumb-Height/2) solid transparent;
                        border-left: @Breadcrumb-Arrow-Width solid @Breadcrumb-Background-Color;
                        border-bottom: (@Breadcrumb-Height/2) solid transparent;
                        right: -@Breadcrumb-Arrow-Width;
                        transition: border-left-color 0.15s linear;
                    }

                    html[dir=rtl] &::after
                    {
                        border-left: 0px solid transparent;
                        border-top: (@Breadcrumb-Height/2) solid transparent;
                        border-right: @Breadcrumb-Arrow-Width solid @Breadcrumb-Background-Color;
                        border-bottom: (@Breadcrumb-Height/2) solid transparent;
                        left: -@Breadcrumb-Arrow-Width;
                        transition: border-right-color 0.15s linear;
                    }
                }

                &:not(:first-child) a
                {
                    html[dir=ltr] &
                    {
                        margin-left: 3px;
                    }
                    //gap between arrows
                    html[dir=rtl] &
                    {
                        margin-right: 3px;
                    }

                    &::before
                    {
                        display: block;
                        position: absolute;
                        top: 0px;
                        content: '';
                        width: 0px;
                        height: 0px;
                    }

                    html[dir=ltr] &::before
                    {
                        border-left: @Breadcrumb-Arrow-Width solid transparent;
                        border-top: (@Breadcrumb-Height/2) solid @Breadcrumb-Background-Color;
                        border-bottom: (@Breadcrumb-Height/2) solid @Breadcrumb-Background-Color;
                        border-right: 0px transparent;
                        left: -@Breadcrumb-Arrow-Width;
                        transition: border-top-color 0.15s linear, border-bottom-color 0.15s linear;
                    }

                    html[dir=rtl] &::before
                    {
                        border-right: @Breadcrumb-Arrow-Width solid transparent;
                        border-top: (@Breadcrumb-Height/2) solid @Breadcrumb-Background-Color;
                        border-bottom: (@Breadcrumb-Height/2) solid @Breadcrumb-Background-Color;
                        border-left: 0px transparent;
                        right: -@Breadcrumb-Arrow-Width;
                        transition: border-top-color 0.15s linear, border-bottom-color 0.15s linear;
                    }
                }
                //breadcrumb hover styles
                a:hover
                {
                    color: @Breadcrumb-Hover-Text-Color;
                    background-color: @Breadcrumb-Hover-Background-Color;

                    html[dir=ltr] &::after
                    {
                        border-left-color: @Breadcrumb-Hover-Background-Color;
                    }

                    html[dir=rtl] &::after
                    {
                        border-right-color: @Breadcrumb-Hover-Background-Color;
                    }
                }

                &.disabled
                {
                    a,
                    a:hover
                    {
                        cursor: default;
                        color: @Text-Color-8;
                    }
                }

                &:not(:first-child) a:hover
                {
                    html[dir=ltr] &, html[dir=rtl] &
                    {
                        &::before
                        {
                            border-top-color: @Breadcrumb-Hover-Background-Color;
                            border-bottom-color: @Breadcrumb-Hover-Background-Color;
                        }
                    }
                }
            }
        }
    }
    //TAB STYLE  - on a dark background
    &.steptree-tabs
    {
        ul.steptree
        {
            li
            {
                margin-left: 16px;
                margin-right: 16px;
            }

            a
            {
                color: rgba(255,255,255,0.7);

                &:hover
                {
                    color: rgba(255,255,255,1.0);
                }
            }

            li.disabled a
            {
                color: rgba(255,255,255,0.3);
                cursor: default;
            }

            li.active a //the currently showing step
            {
                font-weight: bold;
                color: rgba(255,255,255,1.0);
                border-bottom-color: #29b6f6; //highlight 2
            }

            li.disabled a:hover
            {
                color: rgba(255,255,255,0.3);
            }
        }
    }
}


//top buttons - seen in main designer wizards :only-child
.wizard-steptree-buttons
{
    position: absolute;
    right: 0px;
    display: flex;
    height: @Wizard-StepTree-Height;
    align-items: center;

    a.button
    {
        margin-left: 3px;

        &.disabled
        {
            opacity: 0.0; //hide the buttons until they can be used.
        }
        //Specific tweaks to the Primary button style for this area of the wizard
        &.finish
        {
            height: auto; //overrrides
            line-height: auto; //overrides
            .button-wrapper
            {
                box-sizing: border-box;
                border-radius: 0px;
                line-height: @Wizard-StepTree-Height;
                height: @Wizard-StepTree-Height;
                -webkit-box-shadow: none; //override base button
                -moz-box-shadow: none; //override base button
                box-shadow: none; //override base button
            }

            &:focus
            {
                .button-wrapper
                {
                    border-color: @Highlight-Color-3;
                }
            }

            &.disabled
            {
                .button-wrapper
                {
                    background-color: transparent;
                }
            }
        }
    }
}

html[dir=rtl] .wizard-steptree-buttons
{
    left: 0px;
    right:auto;

    a.button
    {
        &.save
        {
            order:2;
        }        

        &.finish
        {
            order:1;
        }
    }
}


ul.childtree
{
    display: none;
}

/* Wizard Main Box Styling */
.wizard-main-box
{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 28px;
    overflow: hidden;
}

.wizard-main-box-header,
.wizard-main-box-footer
{
    display: none;
}

.wizard-main-box-body
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.wizard-main-box-body-l,
.wizard-main-box-body-r
{
    display: none;
}

.wizard-main-box-body-c
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

/* Wizard Button Bar Styling */
.wizard-button-bar
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: @Wizard-ButtonBar-Height;
    overflow: hidden;
}

.wizard-button-bar-t,
.wizard-button-bar-b
{
    display: none;
}

.wizard-button-bar-m
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.wizard-button-bar-ml
{
    display: none;
}

.wizard-button-bar-mc
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wizard-button-bar-mr
{
    display: none;
}

/* Wizard Step Content Styling */
.wizard-step-content
{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: opacity 0.25s;

    &.saving
    {
        opacity: 0.6;
    }

    &.finishing
    {
        opacity: 0.6;
    }
}


/* New Wizard Styling for partial page rendering */
.wizard
{
    position: relative;
}

.wizard.full
{
    height: 100%;
}

.wizard .wizard-header
{
    border: solid 1px @Wizard-Header-Border-Color;
    position: relative;
    height: @Wizard-Header-Height;
    background-color: @Wizard-Header-Background-Color;
}

.wizard .wizard-header-c
{
    background: @Wizard-Header-Background-Color-1; /* Old browsers */
    border: solid 1px @Wizard-Header-Inset-Border-Color;
    box-sizing: border-box;
    height: @Wizard-Header-Height;
}

.wizard .wizard-header-wrapper
{
    height: @Wizard-Header-Height;
}

.wizard .wizard-header-wrapper .wrapper
{
    font-weight: bold;
    line-height: @Wizard-Header-Height;
    padding: 0 5px;

    html[dir=rtl] &
    {
        direction: rtl;
    }
}

.wizard .wizard-steptree
{
    border: solid 1px @Wizard-Header-Border-Color;
    border-top-width: 0;
    position: relative;
    height: @Wizard-StepTree-Height;
    margin-bottom: @Wizard-StepTree-Margin-Bottom;
    background-color: @Wizard-Header-Background-Color;
    background-repeat: repeat-y;
    background-position: center top;
}

.wizard.with-top-buttons .wizard-steptree
{
    position: absolute;
    left: 0px;
    right: 0px;
    pointer-events: none; //as the edges will cover the buttons
}


.wizard .wizard-steptree
{
    .popup &
    {
        background-image: none;
    }
}


.wizard-steptree-c
{
    background: @Wizard-Header-Background-Color-1; /* Old browsers */
    border: solid @Wizard-Header-Inset-Border-Size @Wizard-Header-Inset-Border-Color;
    box-sizing: border-box;
    height: @Wizard-StepTree-Height;
}

.popupManager .popup .wizard
{
    .wizard-header-c
    {
        background: @Wizard-Header-Background-Color-2; /* Old browsers */
    }

    .wizard-steptree
    {
        background: @Wizard-Header-Background-Color-2; /* Old browsers */

        .wizard-steptree-c
        {
            background: @Wizard-Header-Background-Color-2; /* Old browsers */
        }
    }
}

.wizard.without-header.with-steptree .wizard-steptree
{
    border-top-width: 1px;
}

.wizard.without-header.with-steptree .wizard-steptree-c
{
    background: @Wizard-Header-Background-Color-1; /* Old browsers */
}

.wizard-steptree-wrapper
{
    height: @Wizard-StepTree-Height;
    line-height: @Wizard-StepTree-Height;
}

.wizard-steptree-wrapper > .wrapper
{
    overflow: visible;
}

.wizard-steptree-wrapper .steptree
{
    margin-left: 7px;
    text-align: center;

    html[dir=rtl] &
    {
        margin-right: 7px;
    }
}



.wizard-steps-container
{
    position: relative;
    margin-bottom: 3px;

    &.saving, &.finishing
    {
        *
        {
            pointer-events: none !important; //disable everything
        }
    }
}

.wizard.full .wizard-steps-container
{
    position: absolute;
    left: 0;
    right: 0;
}

.wizard.full.without-header.without-steptree .wizard-steps-container
{
    top: 0px;
}

.wizard.full.with-header.without-steptree .wizard-steps-container
{
    top: @Wizard-Header-Height + @Wizard-Header-Margin-Bottom;
}

.wizard.full.without-header.with-steptree .wizard-steps-container
{
    top: @Wizard-StepTree-Height + @Wizard-StepTree-Margin-Bottom;
}

.wizard.full.with-header.with-steptree .wizard-steps-container
{
    top: @Wizard-Header-Height + @Wizard-StepTree-Height + @Wizard-StepTree-Margin-Bottom;
}

.wizard.full.with-buttons .wizard-steps-container
{
    bottom: @Wizard-ButtonBar-Height;
    margin-bottom: 0;
}

.wizard.full.without-buttons .wizard-steps-container
{
    bottom: 0;
    margin-bottom: 0;
}

.wizard .wizard-buttons
{
    position: relative;
    height: @Wizard-ButtonBar-Height;
    //line-height: @Wizard-ButtonBar-Height;
    box-sizing: border-box;
    // padding-top:@Wizard-ButtonBar-Padding-Top;
    // padding-bottom: @Wizard-ButtonBar-Padding-Bottom;
}

.wizard.full.with-buttons .wizard-buttons
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.wizard .wizard-buttons .wizard-buttons-wrapper
{
    text-align: right;
    padding-right: 3px;
    padding-left: 0px; //so help button stays against the edge
    flex-grow: 1;
}

html[dir=rtl] .wizard .wizard-buttons .wizard-buttons-wrapper
{
    text-align: left;
}

.wizard .wizard-buttons .wizard-buttons-wrapper a.button
{
    margin-left: 3px;
    display: inline-block;
    float: none; //override a.button
}

html[dir=rtl] .wizard .wizard-buttons .wizard-buttons-wrapper a.button
{
    margin-left: 0;
    margin-right: 3px;
}


//Help button
.wizard .wizard-buttons .wizard-buttons-wrapper a.button.help
{
    float: left;
    margin-left: 0px;
}

html[dir=rtl] .wizard .wizard-buttons .wizard-buttons-wrapper a.button.help
{
    float: right;
}

.wizard .wizard-steps-container label.intro-checkbox
{
    bottom: 1px;
    position: absolute;
    padding-left: 6px;
    padding-bottom: 3px;
}

html[dir=rtl] .wizard .wizard-steps-container label.intro-checkbox
{
    padding-left: 0;
    padding-right: 6px;
}

/* Docked Step Content Styling */
.wizard-step-content.docked
{
    top: 0px; //was -3px???
    bottom: 0;
    position: absolute;
    height: auto;
}

.wizard-step-content.docked > .grid.full.without-header.with-toolbar .toolbars,
.wizard-step-content.docked > .pane-container > .pane:first-child > .toolbars,
.wizard-step-content.docked > .target-context-canvas > .pane-container > .pane:first-child > .toolbars
{
    border-top-width: 0;
}

.wizard-step-content.docked > .grid.full.without-header.with-toolbar .toolbars.single .toolbar-wrapper,
.wizard-step-content.docked > .pane-container > .pane:first-child > .toolbars.single .toolbar-wrapper,
.wizard-step-content.docked > .target-context-canvas > .pane-container > .pane:first-child > .toolbars.single .toolbar-wrapper
{
    background: @Toolbar-Background-Color-2; /* Old browsers */
}



/*Images - normal*/
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2)
{
    @import url('wizard_images.less');
}

/*Images@2x - hi-dpi*/
@media only screen and (min-resolution: 1.5dppx), /*this is for retina graphics, apple/samsung devices*/
(min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2)
{
    @import url('wizard_images@2x.less');
}
