@res: "";

div.toolboxitem.autonumber
{
    background-image: url( "../Images/Icons/DataTypes/AutoNumber16@{res}.png");
}

div.toolboxitem.autonumber.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.AutoNumber .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/AutoNumber_Error16@{res}.png");
}

div.toolboxitem.autoguid
{
    background-image: url( "../Images/Icons/DataTypes/AutoGUID16@{res}.png");
}

div.toolboxitem.autoguid.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.AutoGuid .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/AutoGUID_Error16@{res}.png");
}

div.toolboxitem.guid
{
    background-image: url( "../Images/Icons/DataTypes/GUID16@{res}.png");
}

div.toolboxitem.guid.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Guid .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/GUID_Error16@{res}.png");
}

div.toolboxitem.text
{
    background-image: url( "../Images/Icons/DataTypes/Text16@{res}.png");
}

div.toolboxitem.text.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Text .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Text_Error16@{res}.png");
}

div.toolboxitem.number
{
    background-image: url( "../Images/Icons/DataTypes/Number16@{res}.png");
}

div.toolboxitem.number.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Number .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Number_Error16@{res}.png");
}

div.toolboxitem.memo
{
    background-image: url( "../Images/Icons/DataTypes/Memo16@{res}.png");
}

div.toolboxitem.memo.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Memo .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Memo_Error16@{res}.png");
}

div.toolboxitem.decimal
{
    background-image: url( "../Images/Icons/DataTypes/Decimal16@{res}.png");
}

div.toolboxitem.decimal.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Decimal .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Decimal_Error16@{res}.png");
}

div.toolboxitem.yesno
{
    background-image: url( "../Images/Icons/DataTypes/YesNo16@{res}.png");
}

div.toolboxitem.yesno.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.YesNo .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/YesNo_Error16@{res}.png");
}

me div.toolboxitem.datetime
{
    background-image: url( "../Images/Icons/DataTypes/DateTime16@{res}.png");
}

div.toolboxitem.datetime.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.DateTime .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/DateTime_Error16@{res}.png");
}

div.toolboxitem.date
{
    background-image: url( "../Images/Icons/DataTypes/Date16@{res}.png");
}

div.toolboxitem.date.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Date .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Date_Error16@{res}.png");
}

div.toolboxitem.time
{
    background-image: url( "../Images/Icons/DataTypes/Time16@{res}.png");
}

div.toolboxitem.time.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Time .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Time_Error16@{res}.png");
}

div.toolboxitem.image
{
    background-image: url( "../Images/Icons/DataTypes/Image16@{res}.png");
}

div.toolboxitem.image.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Image .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Image_Error16@{res}.png");
}

div.toolboxitem.file
{
    background-image: url( "../Images/Icons/DataTypes/File16@{res}.png");
}

div.toolboxitem.file.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.File .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/File_Error16@{res}.png");
}

div.toolboxitem.hyperlink
{
    background-image: url( "../Images/Icons/DataTypes/Hyperlink16@{res}.png");
}

div.toolboxitem.hyperlink.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.Hyperlink .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Hyperlink_Error16.png");
}

div.toolboxitem.multivalue
{
    background-image: url( "../Images/Icons/DataTypes/MultiValue16@{res}.png");
}

div.toolboxitem.multivalue.invalid,
.propertyGridPropertyItem.error .input-control.icon-control.MultiValue .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/MultiValue_Error16@{res}.png");
}

.propertyGridPropertyItem.error .input-control.icon-control.expression .input-control-wrapper
{
    background-image: url( "../Images/Icons/Badges/Properties_Error16@{res}.png");
}

/* method type icons */
div.toolboxitem.create
{
    background-image: url( "../Images/Icons/Toolbar/Add16@{res}.png");
}

div.toolboxitem.update
{
    background-image: url( "../Images/Icons/Toolbar/Save16@{res}.png");
}

div.toolboxitem.delete
{
    background-image: url( "../Images/Icons/Toolbar/Delete16@{res}.png");
}

div.toolboxitem.read
{
    background-image: url( "../Images/Icons/Toolbar/Load16@{res}.png");
}

div.toolboxitem.list
{
    background-image: url( "../Images/Icons/Toolbar/View16@{res}.png");
}


span.layout-create-blank32
{
    background-image: url('../Images/Icons/Placeholder/PlaceHolder32@{res}.png');
}

span.layout-create-blank32.inactive
{
    background-image: url('../Images/Icons/Placeholder/PlaceHolder32@{res}.png');
}

span.layout-auto-generate32
{
    background-image: url('../Images/Icons/Steps/Create32@{res}.png');
}

span.layout-auto-generate32.inactive
{
    background-image: url('../Images/Icons/Placeholder/PlaceHolder32@{res}.png');
}

ul.steptree li.error.small::after,
ul.steptree li.error::after
{
    background-image: url('../Images/Icons/Badges/ErrorBadge_Alt12@{res}.png');
}

ul.steptree li.warning::after
{
    background-image: url('../Images/Icons/Badges/ErrorBadge20@{res}.png');
}
