.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor0 {
  color: #B8c4d0;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor1 {
  color: #A68c4d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor2 {
  color: #A65b4d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor3 {
  color: #648b7d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor4 {
  color: #62a64d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor5 {
  color: #A69d4d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor6 {
  color: #E0ecf0;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor7 {
  color: #Dec381;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor8 {
  color: #D39488;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor9 {
  color: #648b7d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor10 {
  color: #A3d394;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor11 {
  color: #D3ca7e;
}
