.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-HTMLEditor.expanded .stylewrapper
{
	border-color: #bcc2d2;
}

.theme-entry .Default.RadEditor, 
.theme-entry .Default.RadEditor .reModule, 
.theme-entry .Default.RadEditor .reWrapper
{
	border-color: #bcc2d2;
	background-color: #e0e6f3;
	color: #343E41;
	background: #f5f8ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f8ff 0%, #d7ddf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f8ff), color-stop(100%,#d7ddf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f8ff 0%,#d7ddf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f8ff 0%,#d7ddf0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f8ff 0%,#d7ddf0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f8ff 0%,#d7ddf0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8ff', endColorstr='#d7ddf0',GradientType=0 ); /* IE6-9 */
}

.theme-entry .Default.reWrapper, 
.theme-entry .Default.RadEditor .reContentCell, 
.theme-entry .Default.reColorPicker, 
.theme-entry .Default.reInsertTable, 
.theme-entry .Default.reDropDownBody, 
.theme-entry .Default.reCustomLinks a:hover
{
	border: 1px solid #bcc2d2;
}

/* item group separator */
.theme-entry .RadEditor .reToolbarWrapper .reGrip.grip_last
{
	border-right-color: #c5c5c5;
}

/* overflow tool item text color on hover */
.theme-entry .richtext-tool-item-name:hover
{
}

.theme-entry .reMode_selected span, /* selected edit mode text */
.theme-entry .reEditorModesr span /* non-selected edit mode text */
{
	color: #0f0a06;
}

.theme-entry .RadEditor .reToolbarWrapper span.split_arrow:hover,
.theme-entry .RadEditor .reToolbarWrapper .sub-wrapper:hover,
.theme-entry .rich-text-overflow-tool-item-position-base .rich-text-overflow-item-back-color:hover,
.theme-entry .rich-text-dropdown-item-container .rich-text-overflow-item-arrow:hover
{
	background-color: #bcc2d2;
}

.RadEditor .reToolbarWrapper a:hover, /* background color when hovering tool item icons */
.reEditorModes a:hover, /* edit mode area hover */
.reMode_selected, /* selected edit mode area */
.RadEditor .reToolbarWrapper .reTool_selected, /* highlight when tool item is in active state */
.rich-text-overflow-tool-item-position-base:hover /* color for hover over the overflow items */
{
	background-color: #bcc2d2;
}

/* tool item that has drop arrow needs explicit hover color to override parent hover style to prevent both item icon and arrow to be highlighted */
.theme-entry .RadEditor .reToolbar li a:hover .sub-wrapper:hover,
.theme-entry .RadEditor .reToolbar li a:hover .rich-text-tool-arrow:hover,
.theme-entry .RadEditor .reToolbar li a:hover .InsertTable:hover 
{
	background-color: #bcc2d2;
}
