.testa
{

}

.theme-entry .StandardChart .series0ActivityInstances
{
	stroke: #B8c4d0;
	fill: #B8c4d0;
}

.theme-entry .StandardChart .series1ActivityInstances
{
	stroke: #A68c4d;
	fill: #A68c4d;
}

.theme-entry .StandardChart .series2ActivityInstances
{
	stroke: #A65b4d;
	fill: #A65b4d;
}

.theme-entry .StandardChart .series3ActivityInstances
{
	stroke: #648b7d;
	fill: #648b7d;
}

.theme-entry .StandardChart .series4ActivityInstances
{
	stroke: #62a64d;
	fill: #62a64d;
}

.theme-entry .StandardChart .series5ActivityInstances
{
	stroke: #A69d4d;
	fill: #A69d4d;
}

.theme-entry .StandardChart .series6ActivityInstances
{
	stroke: #E0ecf0;
	fill: #E0ecf0;
}

.theme-entry .StandardChart .series7ActivityInstances
{
	stroke: #Dec381;
	fill: #Dec381;
}

.theme-entry .StandardChart .series8ActivityInstances
{
	stroke: #D39488;
	fill: #D39488;
}

.theme-entry .StandardChart .series9ActivityInstances
{
	stroke: #A7C5BA;
	fill: #A7C5BA;
}

.theme-entry .StandardChart .series10ActivityInstances
{
	stroke: #A3d394;
	fill: #A3d394;
}

.theme-entry .StandardChart .series11ActivityInstances
{
	stroke: #D3ca7e;
	fill: #D3ca7e;
}

.theme-entry .StandardChart .series12ActivityInstances
{
	stroke: #B8c4d0;
	fill: #B8c4d0;
}

.theme-entry .StandardChart .series13ActivityInstances
{
	stroke: #A68c4d;
	fill: #A68c4d;
}

.theme-entry .StandardChart .series14ActivityInstances
{
	stroke: #A65b4d;
	fill: #A65b4d;
}

.theme-entry .StandardChart .radchartlabel
{
	font-size: 12px;
	fill: #262626;
}

.theme-entry .StandardChart .radhtmlcharttitle
{
	font-weight: bold;
}

.theme-entry .StandardChart .radhtmlchartsubtitle
{
	fill: #CCCCCC;
	color: #CCCCCC;
}

.theme-entry .k-tooltip
{
	border-color: #CFD3DD !important;
}
