html[dir=rtl] #ExpressionsGrid table.grid-content-table td:last-child 
{
	direction: ltr;
}

html[dir=rtl] #EBExpressionsPanelContent
{
	direction: ltr;
	text-align: left;
}

#EBExpressionsPanelContent .drop-text.watermark
{
	min-width:150px;
}

#EBExpressionsPanelContent .operator-item,
#EBExpressionsPanelContent .left-bracket,
#EBExpressionsPanelContent .right-bracket,
#EBExpressionsPanelContent .function,
#EBExpressionsPanelContent .comma,
#EBExpressionsPanelContent .textbox-container,
#EBExpressionsPanelContent .operator-container,
#EBExpressionsPanelContent .add-extra-term,
#EBExpressionsPanelContent .sub-expression-wrapper
{
	background-repeat: no-repeat;
	border:1px solid transparent;
	display:inline-block;
	height:22px;
	line-height:22px;
	margin:0 3px;
	min-width:16px;
	vertical-align: bottom;
}

#EBExpressionsPanelContent .sub-expression-wrapper
{
	display: inline;
	margin: 1px 0;
}

#EBExpressionsPanelContent .operator-item,
#EBExpressionsPanelContent .left-bracket,
#EBExpressionsPanelContent .right-bracket,
#EBExpressionsPanelContent .function,
#EBExpressionsPanelContent .comma
{
	text-align:center;
}

#EBExpressionsPanelContent .comma
{
	margin-left:0;
}

#EBExpressionsPanelContent .operator-item.hover,
#EBExpressionsPanelContent .left-bracket.hover,
#EBExpressionsPanelContent .right-bracket.hover,
#EBExpressionsPanelContent .function.hover,
#EBExpressionsPanelContent .comma.hover
{
	background-color:#eff7d4;
}

#EBExpressionsPanelContent .function
{
	background-position:0 50%;
	padding-left:22px;
}

#EBExpressionsPanelContent .operator.selected,
#EBExpressionsPanelContent .operator-item.selected,
#EBExpressionsPanelContent .left-bracket.selected,
#EBExpressionsPanelContent .right-bracket.selected,
#EBExpressionsPanelContent .function.selected,
#EBExpressionsPanelContent .textbox-container.selected .input-control .input-control-m,
#EBExpressionsPanelContent .comma.selected
{
	background-color: #FCFFFC;
	border: 1px solid #84BF17;
}

#EBExpressionsPanelContent .textbox-container
{
	min-width:160px;
	max-width:260px;
}

#EBExpressionsPanelContent .operator-container,
#EBExpressionsPanelContent .add-extra-term
{
	width: 40px;
	line-height:22px;
}

#EBExpressionsPanelContent .operator-container,
#EBExpressionsPanelContent .add-extra-term,
#EBExpressionsPanelContent .existing-operator
{
	color: #A0A0A0;
	background-color: #FCFCFC;
	border: 1px dashed #D0D0D0;
	min-width: 40px;
	min-height: 22px;
}

#EBExpressionsPanelContent .add-extra-term
{
	cursor:pointer;	
}

#EBExpressionsPanelContent .operator-container.hover,
#EBExpressionsPanelContent .existing-operator.hover,
#EBExpressionsPanelContent .add-extra-term.hover
{
	background-color: #FCFFFC;
	border: 1px solid #84BF17;
}

#EBExpressionsPanelContent .operator-item,
#EBExpressionsPanelContent .left-bracket,
#EBExpressionsPanelContent .right-bracket
{
	background-position:50% 50%;
	text-indent:-99999px;
}

#EBExpressionsPanelContent .left-bracket.collapsed-margin,
#EBExpressionsPanelContent .right-bracket.collapsed-margin
{
	margin-left:0;
}

#EBExpressionsPanelContent .function.collapsed-margin
{
	margin-right:0;
}

#EBExpressionsPanelContent .left-bracket
{
	background-image: url(../Images/Icons/BracketLeft16.png);
}

#EBExpressionsPanelContent .right-bracket
{
	background-image: url(../Images/Icons/BracketRight16.png);
}

#EBExpressionsPanelContent .left-bracket.hover
{
	background-image: url(../Images/Icons/BracketLeftHover16.png);
}

#EBExpressionsPanelContent .right-bracket.hover
{
	background-image: url(../Images/Icons/BracketRightHover16.png);
}

#EBExpressionsPanelContent .operator-item.add
{
	background-image: url(../Images/Icons/Plus16.png);
}

#EBExpressionsPanelContent .operator-item.minus
{
	background-image: url(../Images/Icons/Subtract16.png);
}

#EBExpressionsPanelContent .operator-item.multiply
{
	background-image: url(../Images/Icons/Multiply16.png);
}

#EBExpressionsPanelContent .operator-item.divide
{
	background-image: url(../Images/Icons/Divide16.png);
}

#EBExpressionsPanelContent .operator-item.modulus
{
	background-image: url(../Images/Icons/Module16.png);
}

#EBExpressionsPanelContent .operator-item.equals
{
	background-image: url(../Images/Icons/Equals16.png);
}

#EBExpressionsPanelContent .operator-item.not-equals
{
	background-image: url(../Images/Icons/NotEqual16.png);
}

#EBExpressionsPanelContent .operator-item.greater-than
{
	background-image: url(../Images/Icons/GreaterThan16.png);
}

#EBExpressionsPanelContent .operator-item.less-than
{
	background-image: url(../Images/Icons/LessThan16.png);
}

#EBExpressionsPanelContent .operator-item.greater-than-equals
{
	background-image: url(../Images/Icons/GreaterThanEqual16.png);
}

#EBExpressionsPanelContent .operator-item.less-than-equals
{
	background-image: url(../Images/Icons/LessThanEqual16.png);
}

#EBExpressionsPanelContent .operator-item.and
{
	background-image: url(../Images/Icons/And16.png);
}

#EBExpressionsPanelContent .operator-item.or
{
	background-image: url(../Images/Icons/Or16.png);
}

#EBExpressionsPanelContent .operator-item.xor
{
	background-image: url(../Images/Icons/Xor16.png);
}

#EBExpressionsPanelContent .function.not
{
	background-image: url(../Images/Icons/Not16.png);
}

#EBExpressionsPanelContent .literal.true
{
	background-image: url(../Images/Icons/True16.png);
}

#EBExpressionsPanelContent .literal.false
{
	background-image: url(../Images/Icons/False16.png);
}

#EBExpressionsPanelContent .literal.empty-string
{
	background-image: url(../Images/Icons/EmptyString16.png);
}

a.ui-draggable-dragging.left-bracket
{
	background-image: url(../Images/Icons/BracketLeft16.png);
}

a.ui-draggable-dragging.right-bracket
{
	background-image: url(../Images/Icons/BracketRight16.png);
}

#EBExpressionsPanelContent .function.text-upper
{
	background-image: url(../Images/Icons/Uppercase16.png);
}

#EBExpressionsPanelContent .function.text-lower
{
	background-image: url(../Images/Icons/Lowercase16.png);
}

#EBExpressionsPanelContent .function.text-matches
{
	background-image: url(../Images/Icons/MatchGeneric16.png);
}

#EBExpressionsPanelContent .function.text-not-matches
{
	background-image: url(../Images/Icons/MatchDoesNot16.png);
}

#EBExpressionsPanelContent .function.text-contains
{
	background-image: url(../Images/Icons/Contains16.png);
}

#EBExpressionsPanelContent .function.text-starts-with
{
	background-image: url(../Images/Icons/StartsWith16.png);
}

#EBExpressionsPanelContent .function.text-ends-with
{
	background-image: url(../Images/Icons/EndsWith16.png);
}

#EBExpressionsPanelContent .function.text-blank
{
	background-image: url(../Images/Icons/IsBlank16.png);
}

#EBExpressionsPanelContent .function.text-not-blank
{
	background-image: url(../Images/Icons/IsNotBlank16.png);
}

#EBExpressionsPanelContent .function.text-substring
{
	background-image: url(../Images/Icons/Substring16.png);
}

#EBExpressionsPanelContent .function.text-trim
{
	background-image: url(../Images/Icons/Trim16.png);
}

#EBExpressionsPanelContent .function.text-concat
{
	background-image: url(../Images/Icons/Concat16.png);
}

#EBExpressionsPanelContent .function.text-length
{
	background-image: url(../Images/Icons/Length16.png);
}

#EBExpressionsPanelContent .function.text-find
{
	background-image: url(../Images/Icons/Find16.png);
}

#EBExpressionsPanelContent .function.text-left
{
	background-image: url(../Images/Icons/SubstringLeft16.png);
}

#EBExpressionsPanelContent .function.text-right
{
	background-image: url(../Images/Icons/SubstringRight16.png);
}

#EBExpressionsPanelContent .function.text-to-upper
{
	background-image: url(../Images/Icons/Uppercase16.png);
}

#EBExpressionsPanelContent .function.text-to-lower
{
	background-image: url(../Images/Icons/Lowercase16.png);
}

#EBExpressionsPanelContent .function.text-mid
{
	background-image: url(../Images/Icons/Mid.png);
}

#EBExpressionsPanelContent .function.text-hyperlink
{
	background-image: url(../Images/Icons/HyperlinkFunction16.png);
}

#EBExpressionsPanelContent .function.text-insert
{
	background-image: url(../Images/Icons/Insert16.png);
}

#EBExpressionsPanelContent .function.text-join
{
	background-image: url(../Images/Icons/Join16.png);
}

#EBExpressionsPanelContent .function.text-pad-left
{
	background-image: url(../Images/Icons/PadLeft16.png);
}

#EBExpressionsPanelContent .function.text-pad-right
{
	background-image: url(../Images/Icons/PadRight16.png);
}

#EBExpressionsPanelContent .function.text-proper
{
	background-image: url(../Images/Icons/Proper16.png);
}

#EBExpressionsPanelContent .function.text-replace
{
	background-image: url(../Images/Icons/Replace16.png);
}

#EBExpressionsPanelContent .function.text-url-decode
{
	background-image: url(../Images/Icons/Decode16.png);
}

#EBExpressionsPanelContent .function.text-url-encode
{
	background-image: url(../Images/Icons/Encode16.png);
}

#EBExpressionsPanelContent .function.text-xml-decode
{
	background-image: url(../Images/Icons/Decode16.png);
}

#EBExpressionsPanelContent .function.text-xml-encode
{
	background-image: url(../Images/Icons/Encode16.png);
}

#EBExpressionsPanelContent .function.text-html-decode
{
	background-image: url(../Images/Icons/Decode16.png);
}

#EBExpressionsPanelContent .function.text-html-encode
{
	background-image: url(../Images/Icons/Encode16.png);
}

#EBExpressionsPanelContent .function.number-abs
{
	background-image: url(../Images/Icons/AbsoluteValue16.png);
}

#EBExpressionsPanelContent .function.number-average
{
	background-image: url(../Images/Icons/Average16.png);
}

#EBExpressionsPanelContent .function.number-count
{
	background-image: url(../Images/Icons/Count16.png);
}

#EBExpressionsPanelContent .function.number-max
{
	background-image: url(../Images/Icons/Maximum16.png);
}

#EBExpressionsPanelContent .function.number-min
{
	background-image: url(../Images/Icons/Minimum16.png);
}

#EBExpressionsPanelContent .function.number-power
{
	background-image: url(../Images/Icons/Power16.png);
}

#EBExpressionsPanelContent .function.number-sum
{
	background-image: url(../Images/Icons/Sum16.png);
}

#EBExpressionsPanelContent .function.number-format
{
	background-image: url(../Images/Icons/FormatNumber16.png);
}

#EBExpressionsPanelContent .function.number-random
{
	background-image: url(../Images/Icons/RandBetween16.png);
}

#EBExpressionsPanelContent .function.number-root
{
	background-image: url(../Images/Icons/Root16.png);
}

#EBExpressionsPanelContent .function.number-square
{
	background-image: url(../Images/Icons/Square16.png);
}

#EBExpressionsPanelContent .function.number-square-root
{
	background-image: url(../Images/Icons/SquareRoot16.png);
}

#EBExpressionsPanelContent .function.number-ceiling
{
	background-image: url(../Images/Icons/Ceiling16.png);
}

#EBExpressionsPanelContent .function.number-floor
{
	background-image: url(../Images/Icons/Floor16.png);
}

#EBExpressionsPanelContent .function.number-round
{
	background-image: url(../Images/Icons/Round16.png);
}

#EBExpressionsPanelContent .function.datetime-add-days
{
	background-image: url(../Images/Icons/AddDays16.png);
}

#EBExpressionsPanelContent .function.datetime-add-hours
{
	background-image: url(../Images/Icons/AddHours16.png);
}

#EBExpressionsPanelContent .function.datetime-add-minutes
{
	background-image: url(../Images/Icons/AddMinutes16.png);
}

#EBExpressionsPanelContent .function.datetime-add-seconds
{
	background-image: url(../Images/Icons/AddSeconds16.png);
}

#EBExpressionsPanelContent .function.datetime-subtract-days
{
	background-image: url(../Images/Icons/SubtractDay16.png);
}

#EBExpressionsPanelContent .function.datetime-subtract-hours
{
	background-image: url(../Images/Icons/SubtractHours16.png);
}

#EBExpressionsPanelContent .function.datetime-subtract-minutes
{
	background-image: url(../Images/Icons/SubtractMinutes16.png);
}

#EBExpressionsPanelContent .function.datetime-subtract-seconds
{
	background-image: url(../Images/Icons/SubtractSec16_02.png);
}

#EBExpressionsPanelContent .function.datetime-format
{
	background-image: url(../Images/Icons/FormatDate16.png);
}

#EBExpressionsPanelContent .function.datetime-today
{
	background-image: url(../Images/Icons/Today16.png);
}

#EBExpressionsPanelContent .function.datetime-now
{
	background-image: url(../Images/Icons/Now16.png);
}

#EBExpressionsPanelContent .function.datetime-tomorrow
{
	background-image: url(../Images/Icons/Tomorrow16.png);
}

#EBExpressionsPanelContent .function.datetime-yesterday
{
	background-image: url(../Images/Icons/Yesterday16.png);
}

#EBExpressionsPanelContent .function.datetime-day
{
	background-image: url(../Images/Icons/Day16.png);
}

#EBExpressionsPanelContent .function.datetime-month
{
	background-image: url(../Images/Icons/Month16.png);
}

#EBExpressionsPanelContent .function.datetime-year
{
	background-image: url(../Images/Icons/YearOne16.png);
}

#EBExpressionsPanelContent .function.datetime-week-number
{
	background-image: url(../Images/Icons/WeekNum16.png);
}

#EBExpressionsPanelContent .function.datetime-weekday
{
	background-image: url(../Images/Icons/WeekdayE16.png);
}

#EBExpressionsPanelContent .function.datetime-day-difference
{
	background-image: url(../Images/Icons/DateDif16.png);
}

#EBExpressionsPanelContent .function.datetime-end-month
{
	background-image: url(../Images/Icons/EndMonth16.png);
}

#EBExpressionsPanelContent .function.datetime-end-year
{
	background-image: url(../Images/Icons/EndYear16.png);
}

#EBExpressionsPanelContent .function.datetime-end-week
{
	background-image: url(../Images/Icons/EndWeek16.png);
}

#EBExpressionsPanelContent .function.datetime-end-quarter
{
	background-image: url(../Images/Icons/EndQuarter16.png);
}

#EBExpressionsPanelContent .function.datetime-start-month
{
	background-image: url(../Images/Icons/BeginMonth16.png);
}

#EBExpressionsPanelContent .function.datetime-start-year
{
	background-image: url(../Images/Icons/BeginYear16.png);
}

#EBExpressionsPanelContent .function.datetime-start-week
{
	background-image: url(../Images/Icons/BeginWeek16.png);
}

#EBExpressionsPanelContent .function.datetime-start-quarter
{
	background-image: url(../Images/Icons/StartQuarter16.png);
}

#EBExpressionsPanelContent .function.to-boolean
{
	background-image: url(../Images/Icons/ToBoolean16.png);
}

#EBExpressionsPanelContent .function.to-date
{
	background-image: url(../Images/Icons/Date16.png);
}

#EBExpressionsPanelContent .function.to-datetime
{
	background-image: url(../Images/Icons/ToDateAndTime16.png);
}

#EBExpressionsPanelContent .function.to-decimal
{
	background-image: url(../Images/Icons/ToDecimal16.png);
}

#EBExpressionsPanelContent .function.to-number
{
	background-image: url(../Images/Icons/ToNumber16.png);
}

#EBExpressionsPanelContent .function.to-text
{
	background-image: url(../Images/Icons/ToText16.png);
}

#EBExpressionsPanelContent .function.to-time
{
	background-image: url(../Images/Icons/Time16.png);
}

#EBExpressionsPanelContent .function.if-statement
{
	background-image: url(../Images/Icons/IfStatement16.png);
}

#EBExpressionsPanelContent .expression
{
	background-image: url(../Images/Icons/Expression16.png);
}

/* Tokenbox Implementation in Expression Builder */
#EBExpressionsPanelContent .token-input .token-input-editor-area 
{
	height: 18px;
	line-height: 18px;
	text-align: left;
}

html[dir=rtl] #EBExpressionPreviewPanel .scroll-wrapper
{
	direction: ltr;
	text-align: left;
}
