/* Undoing the sins of the IE fathers */

/* buttons.css */
.ie10 .gradient-box,
.ie10 a.button span.button-wrapper,
.ie10 a.button.disabled span.button-wrapper, 
.ie10 a.button.disabled:hover span.button-wrapper, 
.ie10 a.button.disabled:focus span.button-wrapper,
.ie10 a.button.disabled:active span.button-wrapper,
.ie10 a.button.disabled:hover:focus .button-wrapper,
.ie10 a.button.disabled:hover:active .button-wrapper,
.ie10 a.button:hover span.button-wrapper,
.ie10 a.button:hover:active span.button-wrapper, 
.ie10 a.button:hover:focus span.button-wrapper,
.ie10 a.button:active span.button-wrapper, 
.ie10 a.button:focus span.button-wrapper,
.ie10 a.button.save,
.ie10 a.button.save:hover,
.ie10 a.button.save.disabled,
.ie10 a.button.save.disabled:hover,
.ie10 a.button.save.disabled:focus,
.ie10 a.button.save.disabled:active,
.ie10 a.button.help,
.ie10 a.button.help:hover,
.ie10 a.button.help:hover:active,
.ie10 a.button.help:hover:focus,
.ie10 a.button.clearsearch.disabled,
.ie10 a.button.clearsearch.disabled:hover,
.ie10 a.button.clearsearch.disabled:focus,
.ie10 a.button.clearsearch.disabled:active,
.ie10 a.button.clearsearch.disabled:hover:focus,
.ie10 a.button.clearsearch.disabled:hover:active,
.ie10 a.button.clearsearch,
.ie10 a.button.clearsearch:hover,
.ie10 a.button.clearsearch:hover:active,
.ie10 a.button.clearsearch:hover:focus
{
	filter:none;
}

/* forms.css */
.ie10 .input-control.select-box .input-control-buttons,
.ie10 .input-control.select-box.disabled .input-control-buttons,
.ie10 .input-control.select-box .input-control-buttons a:hover,
.ie10 .input-control.select-box .input-control-buttons a:focus,
.ie10 .input-control.select-box.disabled .input-control-buttons a:hover,
.ie10 .input-control.select-box.disabled .input-control-buttons a:focus,
.ie10 .input-control.select-box .input-control-buttons a:active,
.ie10 .input-control.select-box.active .input-control-buttons,
.ie10 .input-control.select-box.disabled .input-control-buttons a:active,
.ie10 .input-control.select-box.active.disabled .input-control-buttons a,
.ie10 .input-control.select-box.disabled .input-control-buttons a > span,
.ie10 .input-control.select-box.disabled .input-control-buttons:hover a > span,
.ie10 .input-control.select-box.disabled .input-control-buttons:focus a > span,
.ie10 .input-control.select-box.disabled .input-control-buttons:active a > span,
.ie10 .option-select-box label:hover .option-c,
.ie10 .option-select-box label.selected .option-c,
.ie10 .option-select-box label.selected:hover .option-c
{
	filter:none;
}

/* grid.css */
.ie10 .grid-header-wrapper,
.ie10 .grid.with-header .grid-toolbars .toolbars.single .toolbar .toolbar-wrapper,
.ie10 .grid .grid-column-headers-wrapper,
.ie10 .grid .grid-column-header-cell:hover,
.ie10 .grid-aggregation-header-c
{
	filter:none;
}

/* navpanel.css */
.ie10 .navigation-panel .navigation-panel-header-c,
.ie10 .navigation-panel .navigation-panel-buttons a,
.ie10 .navigation-panel .navigation-panel-buttons a:hover,
.ie10 .navigation-panel .navigation-panel-buttons a.active,
.ie10 .navigation-panel .navigation-panel-footer-c
{
	filter:none;
}

/* panels.css */
.ie10 .panel-header-c,
.ie10 .panel.with-header.with-toolbar > .panel-toolbars .toolbars.single .toolbar-wrapper,
.ie10 .details-header,
.ie10 .details-headerfull
{
	filter:none;
}

/* popup.css */
.ie10 .popup-header,
.ie10 .popup-body
{
	filter:none;
}

/* tabs.css */
.ie10 .tab-box ul.tab-box-tabs a.tab .tab-wrapper,
.ie10 .tab-box.tabs-bottom ul.tab-box-tabs a.tab .tab-wrapper,
.ie10 .tab-box.with-header .tab-box-header-c
{
	filter:none;
}

/* toolbar.css */
.ie10 .toolbars.single .toolbar .toolbar-wrapper,
.ie10 .toolbars.double .toolbar .toolbar-wrapper,
.ie10 .toolbars.double .toolbar:first-child .toolbar-wrapper,
.ie10 .toolbars.single.bottom-docked .toolbar .toolbar-wrapper,
.ie10 a.toolbar-button.selected,
.ie10 a.toolbar-button:hover,
.ie10 a.toolbar-button:focus,
.ie10 a.toolbar-button:active,
.ie10 a.action-row:active,
.ie10 a.action-row:focus,
.ie10 .toolbar.floating .toolbar-wrapper
{
	filter:none;
}

/* wizard.css */
.ie10 .wizard .wizard-header-c,
.ie10 .wizard .wizard-steptree-c,
.ie10 .wizard.without-header.with-steptree .wizard-steptree-c,
.ie10 .wizard-step-content.docked > .grid.full.without-header.with-toolbar .toolbars.single .toolbar-wrapper,
.ie10 .wizard-step-content.docked > .pane-container > .pane:first-child > .toolbars.single .toolbar-wrapper,
.ie10 .wizard-step-content.docked > .target-context-canvas > .pane-container > .pane:first-child > .toolbars.single .toolbar-wrapper
{
	filter:none;
}

.categorySectionsList > div.section-specifier
{
	position: absolute;
	top: 11px;
	bottom: 5px;
	left: 7px;
	width: 4px;
	border-top: none;
	border-bottom: 1px solid #ADAE9C;
	border-left: 1px solid #ADAE9C;
	border-right: none;
}

.categorySectionsList > div.section-specifier.no-border
{
	border: none;
}

.categorySectionsList
{
	padding-bottom: 10px;
	margin: 1px 5px 0 2px;
	position: relative;
}

html[dir=rtl] .categorySectionsList
{
	direction: ltr;
	text-align: left;
}

.categorySectionsList .radiobox
{
	margin-left: 13px;
	margin-top: 3px;
}

.categorySectionsList .categorySectionsHeading
{
	margin-left: 18px;
	padding-top: 1px;
	display: inline-block;
}

#rgAddRule
{
	line-height:20px; 
	margin:0 0 3px 4px;
	display:block;
	cursor:pointer;
	text-align: left;
}

#pgStateGrid.grid.full .grid-body,
#pgRuleList.grid.full .grid-body
{
	margin-top: 4px;
}

#pgStateGrid.grid.full .grid-body .grid-body-content,
#pgRuleList.grid.full .grid-body .grid-body-content
{
	top: 0;
}

#pgRuleList .grid-content-table .grid-content-cell
{
	padding-top: 2px;
}

#pgStateGrid .grid-toolbars .toolbars.single,
#pgRuleList .grid-toolbars .toolbars.single,
#pgStateGrid .grid-toolbars .toolbars.single .toolbar,
#pgRuleList .grid-toolbars .toolbars.single .toolbar 
{
	height: 26px;
}

#pgStateGrid .grid-toolbars .toolbars.single .toolbar .toolbar-wrapper,
#pgRuleList .grid-toolbars .toolbars.single .toolbar .toolbar-wrapper
{
	min-height: 21px;
	padding-top: 2px;
}
