.toolbars
{
	border:solid 1px #adae9c;
	position: relative;
	overflow: hidden;
}

.toolbars.single
{
	min-height: 22px;
}

.toolbars.double
{
	height: 45px;
}

.toolbars.triple
{
	height: 68px;
}

/* Toolbar Styling */
.toolbar
{
	min-height:22px;
	position: relative;
}

.toolbar.hidden
{
	display: none;
}

.toolbar-c
{
	min-height:20px;
}

.toolbar-wrapper
{
	overflow:hidden;
	border:solid 1px #fff;
	min-height:20px;
}

/* Need fixed height for overflow on these toolbars to function correctly */
#AppStudioToolbar .toolbar-wrapper,
#pgTableToolbar .toolbar-wrapper,
#FormLayoutTopToolbar .toolbar-wrapper
{
	height: 20px;
}

/* Single Toolbar Styling */
.toolbars.single .toolbar 
{
	height:22px;
}

.toolbars.single .toolbar .toolbar-wrapper
{
	background: #f5f5f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f1 0%, #e2e4da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f1), color-stop(100%,#e2e4da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f1 0%,#e2e4da 100%); /* W3C */
}

.ie8 .toolbars.single .toolbar .toolbar-wrapper,
.ie9 .toolbars.single .toolbar .toolbar-wrapper
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f1', endColorstr='#e2e4da',GradientType=0 ); /* IE6-9 */
}

/* Double Toolbar Styling */
.toolbars.double .toolbar
{
	border-top:solid 1px #adae9c;
}

.toolbars.double .toolbar:first-child
{
	border-top-width:0;
}

.toolbars.double .toolbar .toolbar-wrapper
{
	background: #dfe4d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #dfe4d7 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe4d7), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dfe4d7 0%,#f9f9f9 100%); /* W3C */
}

.ie8 .toolbars.double .toolbar .toolbar-wrapper,
.ie9 .toolbars.double .toolbar .toolbar-wrapper
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe4d7', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.toolbars.double .toolbar:first-child .toolbar-wrapper
{
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #dfe4d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dfe4d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#dfe4d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#dfe4d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#dfe4d7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#dfe4d7 100%); /* W3C */
}

.ie8 .toolbars.double .toolbar:first-child .toolbar-wrapper,
.ie9 .toolbars.double .toolbar:first-child .toolbar-wrapper
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dfe4d7',GradientType=0 ); /* IE6-9 */
}

/* Override Toolbar Styling */
.toolbars.single.bottom-docked
{
	border-top-width:0;
}

.toolbars.single.bottom-docked .toolbar .toolbar-wrapper
{
	background: #dfe4d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #dfe4d7 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe4d7), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dfe4d7 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dfe4d7 0%,#f9f9f9 100%); /* W3C */
}

.ie8 .toolbars.single.bottom-docked .toolbar .toolbar-wrapper,
.ie9 .toolbars.single.bottom-docked .toolbar .toolbar-wrapper
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe4d7', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

/* Toolbar Buttons Styling */
a.toolbar-button
{
	text-decoration: none;
	color: #343E41;
	display: block;
	float: left;
	height: 20px;
}

html[dir=rtl] a.toolbar-button
{
	float:right;
}

a.toolbar-button.error .button-icon::after
{
	-moz-animation: fadein 0.25s;
	-o-animation: fadein 0.25s;
	-webkit-animation: fadein 0.25s;
	animation: fadein 0.25s;
	background: url(../Images/Icons/Error16.png) no-repeat;
	background-size: contain;
	width: 10px;
	height: 10px;
	content: '';
	display: block;
	position: absolute;
	left: 12px;
	top: 0;
}

a.toolbar-button.toolbar-button-inline
{
	float:none;
	display: table-cell;
	line-height: normal;
	height: inherit;
	vertical-align: middle;
}

a.toolbar-button:focus, a.toolbar-button:active
{
	outline: none;
}

a.toolbar-button span
{
	cursor: pointer;
	display: block;
	float: left;
	height: inherit;
}

html[dir=rtl] a.toolbar-button span
{
	float: right;
}

a.toolbar-button.toolbar-button-inline span
{
	float:none;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

a.toolbar-button span.button-c
{
	border:solid 1px transparent;
	padding:0 2px;
	display: table-cell;
	vertical-align: middle;
	height: inherit;
}

a.toolbar-button.style-builder-controls span.button-c
{
	height: auto;
}

a.toolbar-button span.button-l,
a.toolbar-button span.button-r
{
	display:none;   
}

a.toolbar-button.selected,
a.toolbar-button:hover,
a.toolbar-button:focus,
a.toolbar-button:active
{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ebece5 50%, #ccd0c1 51%, #e6e9e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#ebece5), color-stop(51%,#ccd0c1), color-stop(100%,#e6e9e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* W3C */
}

.ie8 a.toolbar-button.selected,
.ie9 a.toolbar-button.selected,
.ie8 a.toolbar-button:hover,
.ie9 a.toolbar-button:hover,
.ie8 a.toolbar-button:focus,
.ie9 a.toolbar-button:focus,
.ie8 a.toolbar-button:active
.ie9 a.toolbar-button:active
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e9e0',GradientType=0 ); /* IE6-9 */
}

a.toolbar-button.selected span.button-c,
a.toolbar-button:focus span.button-c,
a.toolbar-button:active span.button-c
{
	border-color:#87c41f;
}

a.toolbar-button.disabled,
a.toolbar-button.disabled:hover,
a.toolbar-button.disabled:focus,
a.toolbar-button.disabled:active
{
	cursor: default;
	background: transparent;
	border-color:transparent;
	filter:inherit;
}

a.toolbar-button.disabled span,
a.toolbar-button.disabled:hover span,
a.toolbar-button.disabled:focus span,
a.toolbar-button.disabled:active span
{
	cursor: default;
}

a.toolbar-button.disabled span.button-c,
a.toolbar-button.disabled:hover span.button-c,
a.toolbar-button.disabled:focus span.button-c,
a.toolbar-button.disabled:active span.button-c
{
	border:solid 1px transparent;
}

a.toolbar-button.disabled span.button-icon,
a.toolbar-button.disabled:hover span.button-icon,
a.toolbar-button.disabled:focus span.button-icon,
a.toolbar-button.disabled:active span.button-icon
{
	cursor: default;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}

a.toolbar-button.disabled span.button-text,
a.toolbar-button.disabled:hover span.button-text,
a.toolbar-button.disabled:focus span.button-text,
a.toolbar-button.disabled:active span.button-text
{
	cursor: default;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}

a.toolbar-button span.button-icon
{
	height: 18px;
	width: 18px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
}

a.toolbar-button span.button-text
{
	line-height: 18px;
	padding: 0 3px;
}
a.toolbar-button.toolbar-button-inline span.button-text
{
	display: inline-block;
	vertical-align: middle;
}

a.toolbar-button.hidden
{
	display:none;
}

/* Toolbar Divider Styling */
.toolbar-divider
{
	background: transparent url(../Images/Toolbar/toolbar_divider.png) no-repeat 0 -2px;
	float: left;
	height: 20px;
	width: 3px;
}

html[dir=rtl] .toolbar-divider
{
	float: right;
}

.toolbar-divider.hidden
{
	display:none;
}

/*************************************************************************************/

/* Toolbar Labels */
.toolbar-label
{
	float: left;
	line-height: 19px;
	margin-top: 1px;
	padding-left: 5px;
}

.toolbar.bottom-aligned .toolbar-label
{
	margin-top: 1px;
}

/* Toolbar Controls Grouping */
.toolbar-control-wrapper
{
	float: left;
	height: 20px;
}

html[dir=rtl] .toolbar-control-wrapper
{
	float:right;
}

.toolbar-controls-group
{
	float: left;
	height: 21px;
	margin-top: -1px;
	padding-left: 3px;
	padding-top: 1px;
	background: transparent url(../Images/Toolbar/toolbar_button_group_divider.gif) repeat-y 0 0;
}

html[dir=rtl] .toolbar-controls-group
{
	background-position:100% 0;
	float:right;
}

.toolbar-controls-group:first-child,
.toolbar-controls-group.first
{
	padding-left: 0;
	background: none;
}

html[dir=rtl] .toolbar-controls-group:first-child,
html[dir=rtl] .toolbar-controls-group.first
{
	padding-left: 3px;
	padding-right: 0;
}

.toolbar-controls-group-label
{
	float: left;
	line-height: 19px;
	height: 20px;
	padding: 0 5px;
}

html[dir=rtl] .toolbar-controls-group-label
{
	float:right;
}

.toolbar-button span.button-down
{
	background-image: url(../Images/Arrows/black_arrow_down.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 15px;
}

.toolbar-button.disabled span.button-down
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /*IE8*/
}

/* Toolbar Buttons with Icons */
a.toolbar-button.default .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.generic .button-icon
{
	background-image: url(../Images/Icons/ToolbarButtonControl16.png);
}

a.toolbar-button.add .button-icon
{
	background-image: url(../Images/Icons/Add16.png);
}

a.toolbar-button.edit .button-icon
{
	background-image: url(../Images/Icons/Edit16.png);
}

a.toolbar-button.save .button-icon
{
	background-image: url(../Images/Icons/Save16.png);
}

a.toolbar-button.save-as .button-icon
{
	background-image: url(../Images/Icons/SaveAs16.png);
}

a.toolbar-button.delete .button-icon
{
	background-image: url(../Images/Icons/Delete16.png);
}

a.toolbar-button.delete-all .button-icon
{
	background-image: url(../Images/Icons/DeleteAll16.png);
}

a.toolbar-button.remove .button-icon
{
	background-image: url(../Images/Icons/Remove16.png);
}

a.toolbar-button.remove-all .button-icon
{
	background-image: url(../Images/Icons/RemoveAll16.png);
}

a.toolbar-button.play .button-icon
{
	background-image: url(../Images/Icons/play16flat.png);
}

a.toolbar-button.publish .button-icon
{
	background-image: url(../Images/Icons/Publish16.png);
}

a.toolbar-button.search .button-icon
{
	background-image: url(../Images/Icons/Search16.png);
}

a.toolbar-button.refresh .button-icon
{
	background-image: url(../Images/Icons/Refresh16.png);
}

a.toolbar-button.checkin .button-icon
{
	background-image: url(../Images/Icons/CheckIn16.png);
}

a.toolbar-button.checkout .button-icon
{
	background-image: url(../Images/Icons/CheckOut16.png);
}

a.toolbar-button.undocheckout .button-icon
{
	background-image: url(../Images/Icons/CancelCheckOut_Generic_16.png);
}

a.toolbar-button.assign .button-icon
{
	background-image: url(../Images/Icons/AssignStatement16.png);
}

a.toolbar-button.disable-form-rule .button-icon
{
	background-image: url(../Images/Icons/DisablePageRule16.png);
}

a.toolbar-button.disable-view-rule .button-icon
{
	background-image: url(../Images/Icons/DisableRule.png);
}

a.toolbar-button.enable-form-rule .button-icon
{
	background-image: url(../Images/Icons/EnablePageRule16.png);
}

a.toolbar-button.enable-view-rule .button-icon
{
	background-image: url(../Images/Icons/EnableRule.png);
}

a.toolbar-button.pdfdocument .button-icon
{
	background-image:url(../Images/Icons/PDFcontrol16.png);
}

a.toolbar-button.exceldocument .button-icon
{
	background-image:url(../Images/Icons/ExportExcel16.png);
}

a.toolbar-button.comment .button-icon
{
	background-image: url(../Images/Icons/Comment16.png);
}

/* Clipboard Action Buttons */
a.toolbar-button.cut .button-icon
{
	background-image: url(../Images/Icons/Cut16.png);
}

a.toolbar-button.copy .button-icon
{
	background-image: url(../Images/Icons/Copy16.png);
}

a.toolbar-button.paste .button-icon
{
	background-image: url(../Images/Icons/Paste16.png);
}

/* Advanced Actions Buttons */
a.toolbar-button.auto-generate .button-icon
{
	background-image: url("../Images/Icons/AutoGenerate16.png");
}

a.toolbar-button.default-canvas .button-icon
{
	background-image: url("../Images/Icons/Default16px.png");
}

a.toolbar-button.properties .button-icon
{
	background-image: url(../Images/Icons/Properties16.png);
}

a.toolbar-button.settings .button-icon
{
	background-image: url(../Images/Icons/Settings16flat.png);
}

a.toolbar-button.auto-map .button-icon
{
	background-image: url(../Images/Icons/Automap16.png);
}

a.toolbar-button.clear-formatting .button-icon
{
	background-image: url(../Images/Icons/ClearFormatting16.png);
}

a.toolbar-button.lock .button-icon
{
	background-image: url(../Images/Icons/Lock16.png);
}

a.toolbar-button.load .button-icon
{
	background-image: url(../Images/Icons/LoadFlat16.png);
}

a.toolbar-button.clear .button-icon
{
	background-image: url(../Images/Icons/clear16.png);
}

/* Movement Actions Buttons */
a.toolbar-button.move-up .button-icon
{
	background-image: url(../Images/Icons/MoveUp16.png);
}

a.toolbar-button.move-down .button-icon
{
	background-image: url(../Images/Icons/MoveDown16.png);
}

a.toolbar-button.move-left .button-icon
{
	background-image: url(../Images/Icons/MoveLeft16.png);
}

a.toolbar-button.move-right .button-icon
{
	background-image: url(../Images/Icons/MoveRight16.png);
}

/* Paging Buttons */
a.toolbar-button.paging-first .button-icon
{
	background-image: url(../Images/Grid/paging_arrows_double_left.png);
}

a.toolbar-button.paging-left .button-icon
{
	background-image: url(../Images/Grid/paging_arrows_single_left.png);
}

a.toolbar-button.paging-right .button-icon
{
	background-image: url(../Images/Grid/paging_arrows_single_right.png);
}

a.toolbar-button.paging-last .button-icon
{
	background-image: url(../Images/Grid/paging_arrows_double_right.png);
}

/* Table Customisation Buttons */
a.toolbar-button.insert-table .button-icon
{
	background-image: url(../Images/Icons/InsertTable16.png);
}

a.toolbar-button.insert-row-above .button-icon
{
	background-image: url(../Images/Icons/InsertTableRowAbove16.png);
}

a.toolbar-button.insert-row-below .button-icon
{
	background-image: url(../Images/Icons/InsertTableRowBelow16.png);
}

a.toolbar-button.insert-column-left .button-icon
{
	background-image: url(../Images/Icons/InsertTableColumnsToLeft16.png);
}

a.toolbar-button.insert-column-right .button-icon
{
	background-image: url(../Images/Icons/InsertTableColumnsToRight16.png);
}

a.toolbar-button.merge-cells .button-icon
{
	background-image: url(../Images/Icons/MergeCells16.png);
}

a.toolbar-button.unmerge-cells .button-icon
{
	background-image: url(../Images/Icons/UnMergeCells16.png);
}

a.toolbar-button.merge-cell-right .button-icon
{
	background-image: url(../Images/Icons/MergeCellRight16.png);
}

a.toolbar-button.merge-cell-below .button-icon
{
	background-image: url(../Images/Icons/MergeCellBelow16.png);
}

a.toolbar-button.clear-cell .button-icon
{
	background-image: url(../Images/Icons/ClearCell16_2.png);
}

a.toolbar-button.clear-row .button-icon
{
	background-image: url(../Images/Icons/ClearRow16.png);
}

a.toolbar-button.clear-column .button-icon
{
	background-image: url(../Images/Icons/ClearColumn16.png);
}

a.toolbar-button.remove-column .button-icon
{
	background-image: url(../Images/Icons/RemoveColumn16.png);
}

a.toolbar-button.remove-row .button-icon
{
	background-image: url(../Images/Icons/RemoveRow16.png);
}

a.toolbar-button.edit-cell-props .button-icon
{
	background-image: url(../Images/Icons/CellProperties16.png);
}

a.toolbar-button.edit-table-props .button-icon
{
	background-image: url(../Images/Icons/TableProperties16.png);
}

/* Text Customisation Buttons */
a.toolbar-button.bold .button-icon
{
	background-image: url(../Images/Icons/Bold16.png);
}

a.toolbar-button.italic .button-icon
{
	background-image: url(../Images/Icons/Italic16.png);
}

a.toolbar-button.decoration-none .button-icon
{
	background-image: url(../Images/Icons/EffectsNone16.png);
}

a.toolbar-button.underline .button-icon
{
	background-image: url(../Images/Icons/Underline16.png);
}

a.toolbar-button.strike-through .button-icon
{
	background-image: url(../Images/Icons/StrikeThrough16.png);
}

a.toolbar-button.overline .button-icon
{
	background-image: url(../Images/Icons/Overline16.png);
}

a.toolbar-button.subscript .button-icon
{
	background-image: url(../Images/Icons/SubScript16.png);
}

a.toolbar-button.superscript .button-icon
{
	background-image: url(../Images/Icons/SuperScript16.png);
}

a.toolbar-button.text-color .button-icon
{
	background-image: url(../Images/Icons/FontColour16.png);
}

a.toolbar-button.background-color .button-icon
{
	background-image: url(../Images/Icons/Shading16.png);
}

a.toolbar-button.text-highlight .button-icon
{
	background-image: url(../Images/Icons/TextHighLightColour16.png);
}

a.toolbar-button.text-align-left .button-icon,
a.toolbar-button.justify-left .button-icon
{
	background-image: url(../Images/Icons/LeftAlign16.png);
}

a.toolbar-button.text-align-right .button-icon,
a.toolbar-button.justify-right .button-icon
{
	background-image: url(../Images/Icons/RightAlign16.png);
}

a.toolbar-button.text-align-center .button-icon,
a.toolbar-button.justify-center .button-icon
{
	background-image: url(../Images/Icons/CentreAlign16.png);
}

a.toolbar-button.text-align-justify .button-icon
{
	background-image: url(../Images/Icons/JustifyText16.png);
}

a.toolbar-button.text-indent .button-icon
{
	background-image: url(../Images/Icons/DecreaseIndent16.png);
}

a.toolbar-button.text-outdent .button-icon
{
	background-image: url(../Images/Icons/IncreaseIndent16.png);
}

a.toolbar-button.numbered-list .button-icon
{
	background-image: url(../Images/Icons/NumberedList16.png);
}

a.toolbar-button.multilevel-list .button-icon
{
	background-image: url(../Images/Icons/MultiLevelList16.png);
}

a.toolbar-button.bullet-list .button-icon
{
	background-image: url(../Images/Icons/BulletList16.png);
}

a.toolbar-button.line-spacing .button-icon
{
	background-image: url(../Images/Icons/LineSpacing16.png);
}

a.toolbar-button.grow-font .button-icon
{
	background-image: url(../Images/Icons/GrowFont16.png);
}

a.toolbar-button.shrink-font .button-icon
{
	background-image: url(../Images/Icons/ShrinkFont16.png);
}

a.toolbar-button.text-size .button-icon, a.toolbar-button.font-size .button-icon
{
	background-image: url(../Images/Icons/FontSize16.png);
}

a.toolbar-button.text-family .button-icon, a.toolbar-button.font-family .button-icon
{
	background-image: url(../Images/Icons/FontFamily16.png);
}

/* Alignment Action Buttons */
a.toolbar-button.align-left .button-icon
{
	background-image: url(../Images/Icons/AlignLeft16.png);
}

a.toolbar-button.align-right .button-icon
{
	background-image: url(../Images/Icons/AlignRight16.png);
}

a.toolbar-button.align-top .button-icon
{
	background-image: url(../Images/Icons/AlignTop16.png);
}

a.toolbar-button.align-bottom .button-icon
{
	background-image: url(../Images/Icons/AlignBottom16.png);
}

a.toolbar-button.center-vertical .button-icon, a.toolbar-button.align-middle .button-icon
{
	background-image: url(../Images/Icons/AlignMiddel16.png);
}

a.toolbar-button.center-horizontal .button-icon, a.toolbar-button.align-center .button-icon
{
	background-image: url(../Images/Icons/AlignCenter16.png);
}

/* Borders Styling */
a.toolbar-button.border-solid .button-icon
{
	background-image: url(../Images/Icons/Solid16.png);
}

a.toolbar-button.border-dashed .button-icon
{
	background-image: url(../Images/Icons/Dashed16.png);
}

a.toolbar-button.border-dotted .button-icon
{
	background-image: url(../Images/Icons/Dotted16.png);
}

a.toolbar-button.border-inset .button-icon
{
	background-image: url(../Images/Icons/AlignLeft16.png);
}

a.toolbar-button.border-outset .button-icon
{
	background-image: url(../Images/Icons/Outset16.png);
}

a.toolbar-button.border-double .button-icon
{
	background-image: url(../Images/Icons/Double16.png);
}

a.toolbar-button.border-groove .button-icon
{
	background-image: url(../Images/Icons/Groove16.png);
}

a.toolbar-button.border-ridge .button-icon
{
	background-image: url(../Images/Icons/Ridge16.png);
}

a.toolbar-button.no-borders .button-icon
{
	background-image: url(../Images/Icons/NoBorder16.png);
}

a.toolbar-button.all-borders .button-icon
{
	background-image: url(../Images/Icons/AllBorder16.png);
}

a.toolbar-button.inside-borders .button-icon
{
	background-image: url(../Images/Icons/InsideBorder16.png);
}

a.toolbar-button.outside-borders .button-icon
{
	background-image: url(../Images/Icons/OutsideBorder16.png);
}

a.toolbar-button.inside-horizontal-borders .button-icon
{
	background-image: url(../Images/Icons/InsideHorizontalBorder16.png);
}

a.toolbar-button.inside-vertical-borders .button-icon
{
	background-image: url(../Images/Icons/InsideVerticalBorder16.png);
}

a.toolbar-button.border-bottom .button-icon
{
	background-image: url(../Images/Icons/BottomBorder16.png);
}

a.toolbar-button.border-top .button-icon
{
	background-image: url(../Images/Icons/TopBorder16.png);
}

a.toolbar-button.border-left .button-icon
{
	background-image: url(../Images/Icons/LeftBorder16.png);
}

a.toolbar-button.border-right .button-icon
{
	background-image: url(../Images/Icons/RightBorder16.png);
}

/* Misc Editor Actions Buttons */
a.toolbar-button.insert-line .button-icon
{
	background-image: url(../Images/Icons/InsertRule16.png);
}

a.toolbar-button.insert-image .button-icon
{
	background-image: url(../Images/Icons/InsertImage16.png);
}

/* View Specific Actions Buttons */
a.toolbar-button.change-control .button-icon
{
	background-image: url(../Images/Icons/ChangeControls16.png);
}

a.toolbar-button.fit-to-cell .button-icon
{
	background-image: url(../Images/Icons/RowLayout16.png);
}

a.toolbar-button.sigma .button-icon
{
	background-image: url(../Images/Icons/Sigma16.png);
}

a.toolbar-button.event .button-icon
{
	background-image: url(../Images/Icons/Event16.png);
}

a.toolbar-button.bind-control .button-icon
{
	background-image: url(../Images/Icons/BindControl16.png);
}

a.toolbar-button.unbind-control .button-icon
{
	background-image: url(../Images/Icons/UnBindControl16.png);
}

a.toolbar-button.clear-table .button-icon
{
	background-image: url(../Images/Icons/ClearTable16.png);
}

/* SmartObject Specific Actions Buttons */
a.toolbar-button.create-all .button-icon
{
	background-image: url(../Images/Icons/CreateAll16.png);
}

/* Tab Control Action Buttons */
a.toolbar-button.new-tab .button-icon
{
	background-image: url(../Images/Icons/NewTab16.png);
}

a.toolbar-button.insert-tab .button-icon
{
	background-image: url(../Images/Icons/InsertTab16.png);
}

a.toolbar-button.rename-tab .button-icon
{
	background-image: url(../Images/Icons/RenameTab16.png);
}

a.toolbar-button.remove-tab .button-icon
{
	background-image: url(../Images/Icons/RemoveTab16.png);
}

a.toolbar-button.move-tab-left .button-icon
{
	background-image: url(../Images/Icons/MoveTabLeft16.png);
}

a.toolbar-button.move-tab-right .button-icon
{
	background-image: url(../Images/Icons/MoveTabRight16.png);
}

/* Form Designer Specific Actions Buttons */
a.toolbar-button.row-layout .button-icon
{
	background-image: url(../Images/Icons/RowLayout16.png);
}

a.toolbar-button.column-layout .button-icon
{
	background-image: url(../Images/Icons/ColumnLayout16.png);
}

a.toolbar-button.select-mode .button-icon
{
	background-image: url(../Images/Icons/BulletList16.png);
}

a.toolbar-button.preview-form .button-icon
{
	background-image: url(../Images/Icons/FormPreview16.png);
}

a.toolbar-button.preview-view .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.run .button-icon
{
	background-image: url(../Images/Icons/GenericRun16.png);
}

a.toolbar-button.run-form .button-icon
{
	background-image: url(../Images/Icons/RunForm16.png);
}

a.toolbar-button.run-report .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.run-view .button-icon
{
	background-image: url(../Images/Icons/RunView16.png);
}

a.toolbar-button.run-app .button-icon,
a.toolbar-button.run-application .button-icon
{
	background-image: url(../Images/Icons/RunApplication16.png);
}

a.toolbar-button.clone .button-icon
{
	background-image: url(../Images/Icons/Copy16.png);
}

a.toolbar-button.single-mode .button-icon
{
	background-image: url(../Images/Icons/MultiLevelList16.png);
}

a.toolbar-button.group-mode .button-icon
{
	background-image: url(../Images/Icons/MultipleSelection16flat.png);
}

/* AppStudio Buttons */
a.toolbar-button.import-report .button-icon
{
	background-image: url(../Images/Icons/ImportReports16.png);
}

a.toolbar-button.import .button-icon
{
	background-image: url(../Images/Icons/Import16.png);
}

a.toolbar-button.publish-report .button-icon
{
	background-image: url(../Images/Icons/PublishReports16.png);
}

a.toolbar-button.generate-view .button-icon
{
	background-image: url("../Images/Icons/GenerateView16.png");
}

a.toolbar-button.generate-form .button-icon
{
	background-image: url("../Images/Icons/GenerateForm16.png");
}

a.toolbar-button.new-smartobject .button-icon
{
	background-image: url(../Images/Icons/NewSmartObject16.png);
}

a.toolbar-button.new-view .button-icon
{
	background-image: url(../Images/Icons/NewView16.png);
}

a.toolbar-button.add-view .button-icon
{
	background-image: url(../Images/Icons/AddView16.png);
}

a.toolbar-button.new-form .button-icon
{
	background-image: url(../Images/Icons/NewForm16.png);
}

a.toolbar-button.new-report .button-icon
{
	background-image: url(../Images/Icons/NewReport16.png);
}

a.toolbar-button.new-application .button-icon
{
	background-image: url(../Images/Icons/CreateNewApplication16.png);
}

a.toolbar-button.new-workflow .button-icon
{
	background-image: url(../Images/Icons/CreateProcess16.png);
}

a.toolbar-button.edit-smartobject .button-icon
{
	background-image: url(../Images/Icons/EditSmartObject16.png);
}

a.toolbar-button.edit-view .button-icon
{
	background-image: url(../Images/Icons/EditView16.png);
}

a.toolbar-button.edit-form .button-icon
{
	background-image: url(../Images/Icons/EditForm16.png);
}

a.toolbar-button.edit-report .button-icon
{
	background-image: url(../Images/Icons/EditReport16.png);
}

a.toolbar-button.edit-application .button-icon
{
	background-image: url(../Images/Icons/EditApplication16.png);
}

a.toolbar-button.edit-workflow .button-icon
{
	background-image: url(../Images/Icons/EditProcess16.png);
}

a.toolbar-button.delete-smartobject .button-icon
{
	background-image: url(../Images/Icons/DeleteSmartObject16.png);
}

a.toolbar-button.delete-view .button-icon
{
	background-image: url(../Images/Icons/DeleteView16.png);
}

a.toolbar-button.delete-form .button-icon
{
	background-image: url(../Images/Icons/DeleteForm16.png);
}

a.toolbar-button.delete-report .button-icon
{
	background-image: url(../Images/Icons/DeleteReport16.png);
}

a.toolbar-button.delete-application .button-icon
{
	background-image: url(../Images/Icons/DeleteApplication16.png);
}

a.toolbar-button.save-as-smartobject .button-icon
{
	background-image: url(../Images/Icons/SaveAsSmartObject16.png);
}

a.toolbar-button.save-as-view .button-icon
{
	background-image: url(../Images/Icons/SaveAsView16.png);
}

a.toolbar-button.save-as-form .button-icon
{
	background-image: url(../Images/Icons/SaveAsForm16.png);
}

a.toolbar-button.save-as-report .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.save-as-application .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.checkin-smartobject .button-icon
{
	background-image: url(../Images/Icons/CheckInSmartObject16.png);
}

a.toolbar-button.checkin-view .button-icon
{
	background-image: url(../Images/Icons/CheckInView16.png);
}

a.toolbar-button.checkin-form .button-icon
{
	background-image: url(../Images/Icons/CheckInForm16.png);
}

a.toolbar-button.checkin-report .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.checkin-application .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.checkout-smartobject .button-icon
{
	background-image: url(../Images/Icons/CheckOutSmartObject16.png);
}

a.toolbar-button.checkout-view .button-icon
{
	background-image: url(../Images/Icons/CheckOutView16.png);
}

a.toolbar-button.checkout-form .button-icon
{
	background-image: url(../Images/Icons/CheckOutForm16.png);
}

a.toolbar-button.checkout-report .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.checkout-application .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.undocheckout-view .button-icon
{
	background-image: url(../Images/Icons/UndoCheckOutView16.png);
}

a.toolbar-button.undocheckout-form .button-icon
{
	background-image: url(../Images/Icons/UndoCheckOutForm16.png);
}

a.toolbar-button.undocheckout-report .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.undocheckout-application .button-icon
{
	background-image: url(../Images/Icons/Default16px.png);
}

a.toolbar-button.rename .button-icon
{
	background-image: url(../Images/Icons/Rename16.png);
}

a.toolbar-button.category .button-icon
{
	background-image: url(../Images/Icons/CategoryOpen16.png);
}

a.toolbar-button.move-to .button-icon
{
	background-image: url(../Images/Icons/MoveBetweenFolders16.png);
}

a.toolbar-button.new .button-icon
{
	background-image: url(../Images/Icons/GenericNew16.png);
}

/* Report Designer Specific Toolbar Buttons */
a.toolbar-button.drill-down .button-icon
{
	background-image: url("../Images/Icons/Link16.png");
}

a.toolbar-button.delete-drill-down .button-icon
{
	background-image: url("../Images/Icons/DeleteDrillThrough16.png");
}

/* SmartObject Designer Specific Toolbar Buttons */
a.toolbar-button.add-so-property .button-icon
{
	background-image: url("../Images/Icons/AddSmartObjectProperties16.png");
}

a.toolbar-button.add-so-method .button-icon
{
	background-image: url("../Images/Icons/AddSmartObjectMethod16.png");
}

a.toolbar-button.display-method-model .button-icon
{
	background-image: url("../Images/Icons/DisplayModel16.png");
}

/* Aggregation Toolbar Buttons */
a.toolbar-button.aggregation-sum .button-icon
{
	background-image: url(../Images/Icons/Sigma16.png);
}

a.toolbar-button.aggregation-average .button-icon
{
	background-image: url(../Images/Icons/Average_16.png);
}

a.toolbar-button.aggregation-minimum .button-icon
{
	background-image: url(../Images/Icons/Minimum_16.png);
}

a.toolbar-button.aggregation-maximum .button-icon
{
	background-image: url(../Images/Icons/Maximum_16.png);
}

a.toolbar-button.aggregation-product .button-icon
{
	background-image: url(../Images/Icons/Product_16.png);
}

a.toolbar-button.aggregation-count .button-icon
{
	background-image: url(../Images/Icons/Count_16.png);
}

/* Toolbar Overflow Button */
a.toolbar-button.overflow
{
	float:right;
}

html[dir=rtl] a.toolbar-button.overflow
{
	float:left;
}

a.toolbar-button.overflow .button-icon
{
	background:url(../Images/Arrows/OverflowArrow.png) no-repeat 50% 0;
	height:6px;
	margin:5px 1px;
	width:7px;
}

a.toolbar-button.overflow:hover .button-icon
{
	background-position:50% -6px;
}

a.toolbar-button.overflow.disabled .button-icon,
a.toolbar-button.overflow.disabled:hover .button-icon
{
	background-position:50% -12px;
}

/* Expression Builder Toolbar Buttons */
a.toolbar-button.validate .button-icon
{
	background-image: url(../Images/Icons/True16.png);
}

/* Filter & Ordering Toolbar Buttons */
a.toolbar-button.filter .button-icon
{
	background-image: url(../Images/Icons/Filter16.png);
}

a.toolbar-button.advanced-filter .button-icon
{
	background-image: url(../Images/Icons/AdvancedFilter16.png);
}

a.toolbar-button.exclude-off .button-icon
{
	background-image: url("../../Themes/SharePoint 2013/Images/Icons/Exclude16.png");
}

a.toolbar-button.exclude-on .button-icon
{
	background-image: url("../../Themes/SharePoint 2013/Images/Icons/Exclude_selected16.png");
}

a.toolbar-button.excludedata-on .button-icon
{
	background-image: url("../../Themes/SharePoint 2013/Images/Icons/ExcludeData16.png");
}

a.toolbar-button.excludedata-off .button-icon
{
	background-image: url("../../Themes/SharePoint 2013/Images/Icons/IncludeData16.png");
}

/* Floating Toolbar */
.toolbar.floating
{
	border:solid 1px #adae9c;
	position: relative;
	height: 22px;
	float: left;
}

.toolbar.floating .toolbar-wrapper
{
	background: #f5f5f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f1 0%, #e2e4da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f1), color-stop(100%,#e2e4da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f1 0%,#e2e4da 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f1 0%,#e2e4da 100%); /* W3C */
	border:solid 1px #fff;
	height:20px;
}

.ie8 .toolbar.floating .toolbar-wrapper,
.ie9 .toolbar.floating .toolbar-wrapper
{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f1', endColorstr='#e2e4da',GradientType=0 ); /* IE6-9 */
}

/* Toolbar As Header Implementation (Hack) */
.toolbar strong.header
{
	line-height: 19px;
	padding: 0 0 0 7px;
}
.single-button-toolbar-wrapper
{
	float:left;
	width:28px;
	margin-bottom:3px;
}

html[dir=rtl] .single-button-toolbar-wrapper
{
	float:right;
}

a.toolbar-button.view-settings .button-icon
{
	background-image: url(../Images/Icons/Activity16.png);
}

/* Button Element Styling */
button.toolbar-button
{
	background: none;
	border: solid 0px transparent;
	height: 20px;
}

button.toolbar-button.selected,
button.toolbar-button:hover,
button.toolbar-button:focus,
button.toolbar-button:active
{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ebece5 50%, #ccd0c1 51%, #e6e9e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#ebece5), color-stop(51%,#ccd0c1), color-stop(100%,#e6e9e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#ebece5 50%,#ccd0c1 51%,#e6e9e0 100%); /* W3C */
	border: solid 0px transparent;
	color: #343E41;
}

button.toolbar-button .ico
{
	vertical-align: middle;
}