
/*Images - normal*/
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  /* View Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.workflowdatagrid-control,
  /* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.workflowdatagrid-control,
  /* View Designer: Configure Data Source popup for list controls the 'Parent Control' dropdown*/ .drop-menu.icon-control ul.drop-menu a.workflowdatagrid-control,
  /* Rule Designer: Action configuration target mappings tree*/ .input-control.icon-control.workflowdatagrid-control .input-control-icon,
  .input-control.icon-control.workflowdatagrid-control .input-control-wrapper,
  /* View/Form Designer: Droppable control's list on the left and the change control popup list*/ .toolboxitem.workflowdatagrid-control,
  /* Rules Designer: Popup of Specify edit state for controls action*/ .grid .grid-content-cell.icon.workflowdatagrid-control,
  /* Rule Designer: Action hot spot context menu*/ .menu a.menu-item.workflowdatagrid-control span.menu-item-icon,
  /* Rules Designer:  Action configuration mappings screens context trees*/ .tree li.workflowdatagrid-control > a,
  .tree li.workflowdatagrid-control > span,
  .tree li.workflowdatagrid-control.children > a,
  .tree li.workflowdatagrid-control.children.open > a,
  .tree li.workflowdatagrid-control.children.closed > a,
  .tree li.workflowdatagrid-control.children > span,
  .tree li.workflowdatagrid-control.children.open > span,
  .tree li.workflowdatagrid-control.children.closed > span,
  /* Runtime: List View filter context tree*/ .theme-entry .tree li.workflowdatagrid-control > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.open > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.closed > a.workflowdatagrid-control,
  /* Rules Designer: Select controls to validate popup of the View passes validation condition*/ .grid .grid-content-cell.icon.control-workflowdatagrid,
  .input-control.checkbox .icon-control .workflowdatagrid-control > span,
  /* View/Form Designer: Dependencies popup when deleting a control that is referenced*/ .ico.icon-workflowdatagrid-control {
    background-image: url('Images/WorkflowDataGrid16.png');
  }
  /* Form Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.canvasDragGhost.workflowdatagrid-control,
  /* View/Form Designer: At top of properties panel when control is selected on the canvas*/ .icon.icon-size32.workflowdatagrid-control,
  .ico.icon-workflowdatagrid-control.medium {
    background-image: url('Images/WorkflowDataGrid32.png');
  }
  /* Form Designer: Selection tree when control is in error*/
  
  .tree li a.workflowdatagrid-control.error {
    background-image: url('Images/WorkflowDataGrid_Error16.png') !important;
  }
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/
  
  /* Runtime: List View Advanced Filter Drop items */
  
  .input-control .drop-object.drop-item.workflowdatagrid-control,
  /* View/Form Designer:  Conditional Styles Left side of expression*/ .input-control .drop-item.workflowdatagrid-control,
  /* Rules Designer: Action configuration target mappings screens where the control has been dropped*/ .token-input .entity.icon.workflowdatagrid-control,
  /* Runtime: List View Filter Drop items*/ .theme-entry .token-input .entity.icon.workflowdatagrid-control span.entity-text,
  /* Rules Designer: Navigate to Form action in the URL preview*/ #FormNavigatePreviewPanel .token.workflowdatagrid-control,
  /* Rules Designer: Navigate to URL action widget tokens*/ #BrowserNavigatePC .token.workflowdatagrid-control {
    background-image: url('Images/WorkflowDataGrid_Selected14.png');
  }
  /* Runtime: List View Advanced Filter Drop items */
  
  .theme-entry .input-control .drop-object.drop-item.workflowdatagrid-control,
  /* Runtime: List View Filter Drop items */ .theme-entry .token-input .entity.icon.workflowdatagrid-control span.entity-text,
  /* Runtime: List View filter context tree *//* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.open > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.closed > a.workflowdatagrid-control {
    background-position-y: 50%;
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  /* View Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.workflowdatagrid-control,
  /* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.workflowdatagrid-control,
  /* View Designer: Configure Data Source popup for list controls the 'Parent Control' dropdown*/ .drop-menu.icon-control ul.drop-menu a.workflowdatagrid-control,
  /* Rule Designer: Action configuration target mappings tree*/ .input-control.icon-control.workflowdatagrid-control .input-control-icon,
  .input-control.icon-control.workflowdatagrid-control .input-control-wrapper,
  /* View/Form Designer: Droppable control's list on the left and the change control popup list*/ .toolboxitem.workflowdatagrid-control,
  /* Rules Designer: Popup of Specify edit state for controls action*/ .grid .grid-content-cell.icon.workflowdatagrid-control,
  /* Rule Designer: Action hot spot context menu*/ .menu a.menu-item.workflowdatagrid-control span.menu-item-icon,
  /* Rules Designer:  Action configuration mappings screens context trees*/ .tree li.workflowdatagrid-control > a,
  .tree li.workflowdatagrid-control > span,
  .tree li.workflowdatagrid-control.children > a,
  .tree li.workflowdatagrid-control.children.open > a,
  .tree li.workflowdatagrid-control.children.closed > a,
  .tree li.workflowdatagrid-control.children > span,
  .tree li.workflowdatagrid-control.children.open > span,
  .tree li.workflowdatagrid-control.children.closed > span,
  /* Runtime: List View filter context tree*/ .theme-entry .tree li.workflowdatagrid-control > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.open > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.closed > a.workflowdatagrid-control,
  /* Rules Designer: Select controls to validate popup of the View passes validation condition*/ .grid .grid-content-cell.icon.control-workflowdatagrid,
  .input-control.checkbox .icon-control .workflowdatagrid-control > span,
  /* View/Form Designer: Dependencies popup when deleting a control that is referenced*/ .ico.icon-workflowdatagrid-control {
    background-image: url('Images/WorkflowDataGrid16@2x.png');
  }
  /* Form Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.canvasDragGhost.workflowdatagrid-control,
  /* View/Form Designer: At top of properties panel when control is selected on the canvas*/ .icon.icon-size32.workflowdatagrid-control,
  .ico.icon-workflowdatagrid-control.medium {
    background-image: url('Images/WorkflowDataGrid32@2x.png');
  }
  /* Form Designer: Selection tree when control is in error*/
  
  .tree li a.workflowdatagrid-control.error {
    background-image: url('Images/WorkflowDataGrid_Error16@2x.png') !important;
  }
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/
  
  /* Runtime: List View Advanced Filter Drop items */
  
  .input-control .drop-object.drop-item.workflowdatagrid-control,
  /* View/Form Designer:  Conditional Styles Left side of expression*/ .input-control .drop-item.workflowdatagrid-control,
  /* Rules Designer: Action configuration target mappings screens where the control has been dropped*/ .token-input .entity.icon.workflowdatagrid-control,
  /* Runtime: List View Filter Drop items*/ .theme-entry .token-input .entity.icon.workflowdatagrid-control span.entity-text,
  /* Rules Designer: Navigate to Form action in the URL preview*/ #FormNavigatePreviewPanel .token.workflowdatagrid-control,
  /* Rules Designer: Navigate to URL action widget tokens*/ #BrowserNavigatePC .token.workflowdatagrid-control {
    background-image: url('Images/WorkflowDataGrid_Selected14@2x.png');
  }
  /* Runtime: List View Advanced Filter Drop items */
  
  .theme-entry .input-control .drop-object.drop-item.workflowdatagrid-control,
  /* Runtime: List View Filter Drop items */ .theme-entry .token-input .entity.icon.workflowdatagrid-control span.entity-text,
  /* Runtime: List View filter context tree *//* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.open > a.workflowdatagrid-control,
  .theme-entry .tree li.workflowdatagrid-control.children.closed > a.workflowdatagrid-control {
    background-position-y: 50%;
  }
}
