
.button-gradient
{
	background: #f8f4f8;
    background: -moz-linear-gradient(top, #f8f4f8 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f4f8), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #f8f4f8 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #f8f4f8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #f8f4f8 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #f8f4f8 0%,#ffffff 100%);
    border-color: #e9e4e8;
}

.button-gradient-hover
{
	background: #eaf6ff;
    background: -moz-linear-gradient(top, #eaf6ff 0%, #bfe4fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf6ff), color-stop(100%,#bfe4fc));
    background: -webkit-linear-gradient(top, #eaf6ff 0%,#bfe4fc 100%);
    background: -o-linear-gradient(top, #eaf6ff 0%,#bfe4fc 100%);
    background: -ms-linear-gradient(top, #eaf6ff 0%,#bfe4fc 100%);
    background: linear-gradient(to bottom, #eaf6ff 0%,#bfe4fc 100%);
}

.theme-entry
{
	.SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar
	{
		.search-button-wrapper,
		.clear-search-button-wrapper
		{
			.button-gradient;
		}

		.search-button-wrapper:hover,
		.clear-search-button-wrapper:hover
		{
			.button-gradient-hover;
		}
	}
}
