.testa
{

}

.theme-entry .StandardChart .series0ActivityInstances
{
	stroke: #F2ac00;
	fill: #F2ac00;
}

.theme-entry .StandardChart .series1ActivityInstances
{
	stroke: #7f57a8;
	fill: #7f57a8;
}

.theme-entry .StandardChart .series2ActivityInstances
{
	stroke: #1b406a;
	fill: #1b406a;
}

.theme-entry .StandardChart .series3ActivityInstances
{
	stroke: #9d8900;
	fill: #9d8900;
}

.theme-entry .StandardChart .series4ActivityInstances
{
	stroke: #1c7463;
	fill: #1c7463;
}

.theme-entry .StandardChart .series5ActivityInstances
{
	stroke: #A54422;
	fill: #A54422;
}

.theme-entry .StandardChart .series6ActivityInstances
{
	stroke: #F9dc77;
	fill: #F9dc77;
}

.theme-entry .StandardChart .series7ActivityInstances
{
	stroke: #Ad87d4;
	fill: #Ad87d4;
}

.theme-entry .StandardChart .series8ActivityInstances
{
	stroke: #85a9d1;
	fill: #85a9d1;
}

.theme-entry .StandardChart .series9ActivityInstances
{
	stroke: #B5a42d;
	fill: #B5a42d;
}

.theme-entry .StandardChart .series10ActivityInstances
{
	stroke: #50baa5;
	fill: #50baa5;
}

.theme-entry .StandardChart .series11ActivityInstances
{
	stroke: #D27555;
	fill: #D27555;
}

.theme-entry .StandardChart .series12ActivityInstances
{
	stroke: #F2ac00;
	fill: #F2ac00;
}

.theme-entry .StandardChart .series13ActivityInstances
{
	stroke: #7f57a8;
	fill: #7f57a8;
}

.theme-entry .StandardChart .series14ActivityInstances
{
	stroke: #1b406a;
	fill: #1b406a;
}

.theme-entry .StandardChart .radchartlabel
{
	font-size: 12px;
	fill: #262626;
}

.theme-entry .StandardChart .radhtmlcharttitle
{
	font-size: 11px;
	font-weight: bold;
}

.theme-entry .StandardChart .radhtmlchartsubtitle
{
	font-size: 11px;
	fill: #CCCCCC;
	color: #CCCCCC;
}

.theme-entry .k-tooltip
{
	border-color: #EBDBA8 !important;
}