.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor0 {
  color: #393e00;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor1 {
  color: #360018;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor2 {
  color: #10022b;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor3 {
  color: #005637;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor4 {
  color: #563300;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor5 {
  color: #500005;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor6 {
  color: #a4B02c;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor7 {
  color: #a92a62;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor8 {
  color: #5834a1;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor9 {
  color: #2bab7d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor10 {
  color: #ab762b;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor11 {
  color: #a82a33;
}
