.testa
{

}

.theme-entry .StandardChart .series0ActivityInstances
{
	stroke: #393e00;
	fill: #393e00;
}

.theme-entry .StandardChart .series1ActivityInstances
{
	stroke: #360018;
	fill: #360018;
}

.theme-entry .StandardChart .series2ActivityInstances
{
	stroke: #10022b;
	fill: #10022b;
}

.theme-entry .StandardChart .series3ActivityInstances
{
	stroke: #005637;
	fill: #005637;
}

.theme-entry .StandardChart .series4ActivityInstances
{
	stroke: #563300;
	fill: #563300;
}

.theme-entry .StandardChart .series5ActivityInstances
{
	stroke: #500005;
	fill: #500005;
}

.theme-entry .StandardChart .series6ActivityInstances
{
	stroke: #A4b02c;
	fill: #A4b02c;
}

.theme-entry .StandardChart .series7ActivityInstances
{
	stroke: #A92a62;
	fill: #A92a62;
}

.theme-entry .StandardChart .series8ActivityInstances
{
	stroke: #5834a1;
	fill: #5834a1;
}

.theme-entry .StandardChart .series9ActivityInstances
{
	stroke: #2bab7d;
	fill: #2bab7d;
}

.theme-entry .StandardChart .series10ActivityInstances
{
	stroke: #Ab762b;
	fill: #Ab762b;
}

.theme-entry .StandardChart .series11ActivityInstances
{
	stroke: #a82a33;
	fill: #a82a33;
}

.theme-entry .StandardChart .series12ActivityInstances
{
	stroke: #393e00;
	fill: #393e00;
}

.theme-entry .StandardChart .series13ActivityInstances
{
	stroke: #360018;
	fill: #360018;
}

.theme-entry .StandardChart .series14ActivityInstances
{
	stroke: #10022b;
	fill: #10022b;
}

.theme-entry .StandardChart .radchartlabel
{
	font-size: 12px;
	fill: #262626;
}

.theme-entry .StandardChart .radhtmlcharttitle
{
	font-weight: bold;
}

.theme-entry .StandardChart .radhtmlchartsubtitle
{
	fill: #CCCCCC;
	color:#CCCCCC;
}

.theme-entry .k-tooltip
{
	border-color:#A2AA6E !important;
}