
/*Images - normal*/
@media only screen and (max-resolution: 1.5dppx), (max-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 1.5), (-o-max-device-pixel-ratio: 3/2) {
  /* View Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.timer-control,
  /* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.timer-control,
  /* View Designer: Configure Data Source popup for list controls the 'Parent Control' dropdown*/ .drop-menu.icon-control ul.drop-menu a.timer-control,
  /* Rule Designer: Action configuration target mappings tree*/ .input-control.icon-control.timer-control .input-control-icon,
  .input-control.icon-control.timer-control .input-control-wrapper,
  /* View/Form Designer: Droppable control's list on the left and the change control popup list*/ .toolboxitem.timer-control,
  /* Rules Designer: Popup of Specify edit state for controls action*/ .grid .grid-content-cell.icon.timer-control,
  /* Rule Designer: Action hot spot context menu*/ .menu a.menu-item.timer-control span.menu-item-icon,
  /* Rules Designer:  Action configuration mappings screens context trees*/ .tree li.timer-control > a,
  .tree li.timer-control > span,
  .tree li.timer-control.children > a,
  .tree li.timer-control.children.open > a,
  .tree li.timer-control.children.closed > a,
  .tree li.timer-control.children > span,
  .tree li.timer-control.children.open > span,
  .tree li.timer-control.children.closed > span,
  /* Runtime: List View filter context tree*/ .theme-entry .tree li.timer-control > a.timer-control,
  .theme-entry .tree li.timer-control.children.open > a.timer-control,
  .theme-entry .tree li.timer-control.children.closed > a.timer-control,
  /* Rules Designer: Select controls to validate popup of the View passes validation condition*/ .grid .grid-content-cell.icon.control-timer,
  .input-control.checkbox .icon-control .timer-control > span,
  /* View/Form Designer: Dependencies popup when deleting a control that is referenced*/ .ico.icon-timer-control {
    background-image: url('Images/TimerControl16.png');
  }
  /* Form Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.canvasDragGhost.timer-control,
  /* View/Form Designer: At top of properties panel when control is selected on the canvas*/ .icon.icon-size32.timer-control,
  .ico.icon-timer-control.medium {
    background-image: url('Images/TimerControl32.png');
  }
  /* Form Designer: Selection tree when control is in error*/
  
  .tree li a.timer-control.error {
    background-image: url('Images/TimerControl_Error16.png') !important;
  }
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/
  
  /* Runtime: List View Advanced Filter Drop items */
  
  .input-control .drop-object.drop-item.timer-control,
  /* View/Form Designer:  Conditional Styles Left side of expression*/ .input-control .drop-item.timer-control,
  /* Rules Designer: Action configuration target mappings screens where the control has been dropped*/ .token-input .entity.icon.timer-control,
  /* Runtime: List View Filter Drop items*/ .theme-entry .token-input .entity.icon.timer-control span.entity-text,
  /* Rules Designer: Navigate to Form action in the URL preview*/ #FormNavigatePreviewPanel .token.timer-control,
  /* Rules Designer: Navigate to URL action widget tokens*/ #BrowserNavigatePC .token.timer-control {
    background-image: url('Images/TimerControl_Selected14.png');
  }
  /* Runtime: List View Advanced Filter Drop items */
  
  .theme-entry .input-control .drop-object.drop-item.timer-control,
  /* Runtime: List View Filter Drop items */ .theme-entry .token-input .entity.icon.timer-control span.entity-text,
  /* Runtime: List View filter context tree *//* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.timer-control,
  .theme-entry .tree li.timer-control > a.timer-control,
  .theme-entry .tree li.timer-control.children.open > a.timer-control,
  .theme-entry .tree li.timer-control.children.closed > a.timer-control {
    background-position-y: 50%;
  }
}
/*Images@2x - hi-dpi*/

@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  /* View Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.timer-control,
  /* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.timer-control,
  /* View Designer: Configure Data Source popup for list controls the 'Parent Control' dropdown*/ .drop-menu.icon-control ul.drop-menu a.timer-control,
  /* Rule Designer: Action configuration target mappings tree*/ .input-control.icon-control.timer-control .input-control-icon,
  .input-control.icon-control.timer-control .input-control-wrapper,
  /* View/Form Designer: Droppable control's list on the left and the change control popup list*/ .toolboxitem.timer-control,
  /* Rules Designer: Popup of Specify edit state for controls action*/ .grid .grid-content-cell.icon.timer-control,
  /* Rule Designer: Action hot spot context menu*/ .menu a.menu-item.timer-control span.menu-item-icon,
  /* Rules Designer:  Action configuration mappings screens context trees*/ .tree li.timer-control > a,
  .tree li.timer-control > span,
  .tree li.timer-control.children > a,
  .tree li.timer-control.children.open > a,
  .tree li.timer-control.children.closed > a,
  .tree li.timer-control.children > span,
  .tree li.timer-control.children.open > span,
  .tree li.timer-control.children.closed > span,
  /* Runtime: List View filter context tree*/ .theme-entry .tree li.timer-control > a.timer-control,
  .theme-entry .tree li.timer-control.children.open > a.timer-control,
  .theme-entry .tree li.timer-control.children.closed > a.timer-control,
  /* Rules Designer: Select controls to validate popup of the View passes validation condition*/ .grid .grid-content-cell.icon.control-timer,
  .input-control.checkbox .icon-control .timer-control > span,
  /* View/Form Designer: Dependencies popup when deleting a control that is referenced*/ .ico.icon-timer-control {
    background-image: url('Images/TimerControl16@2x.png');
  }
  /* Form Designer: While dragging and dropping control on to the canvas*/
  
  a.ui-draggable-dragging.canvasDragGhost.timer-control,
  /* View/Form Designer: At top of properties panel when control is selected on the canvas*/ .icon.icon-size32.timer-control,
  .ico.icon-timer-control.medium {
    background-image: url('Images/TimerControl32@2x.png');
  }
  /* Form Designer: Selection tree when control is in error*/
  
  .tree li a.timer-control.error {
    background-image: url('Images/TimerControl_Error16@2x.png') !important;
  }
  /* View/Form Designer: Conditional Styles popup where control has been dropped in a condition*/
  
  /* Runtime: List View Advanced Filter Drop items */
  
  .input-control .drop-object.drop-item.timer-control,
  /* View/Form Designer:  Conditional Styles Left side of expression*/ .input-control .drop-item.timer-control,
  /* Rules Designer: Action configuration target mappings screens where the control has been dropped*/ .token-input .entity.icon.timer-control,
  /* Runtime: List View Filter Drop items*/ .theme-entry .token-input .entity.icon.timer-control span.entity-text,
  /* Rules Designer: Navigate to Form action in the URL preview*/ #FormNavigatePreviewPanel .token.timer-control,
  /* Rules Designer: Navigate to URL action widget tokens*/ #BrowserNavigatePC .token.timer-control {
    background-image: url('Images/TimerControl_Selected14@2x.png');
  }
  /* Runtime: List View Advanced Filter Drop items */
  
  .theme-entry .input-control .drop-object.drop-item.timer-control,
  /* Runtime: List View Filter Drop items */ .theme-entry .token-input .entity.icon.timer-control span.entity-text,
  /* Runtime: List View filter context tree *//* Runtime: List View filter dragging*/ .theme-entry a.icon.ui-draggable-dragging.timer-control,
  .theme-entry .tree li.timer-control > a.timer-control,
  .theme-entry .tree li.timer-control.children.open > a.timer-control,
  .theme-entry .tree li.timer-control.children.closed > a.timer-control {
    background-position-y: 50%;
  }
}
.SourceCode-Forms-Controls-Web-ControlPack-Timer.designtime .timerControlContainer {
  background-image: url('Images/TimerControl32.png');
  background-repeat: no-repeat;
  background-size: 32px;
  height: 32px;
  width: 32px;
}
