
.button-gradient
{
	background: #034db0;
    background: -moz-linear-gradient(top, #034faf 0%, #00387b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#034faf), color-stop(100%,#00387b));
    background: -webkit-linear-gradient(top, #034faf 0%,#00387b 100%);
    background: -o-linear-gradient(top, #034faf 0%,#00387b 100%);
    background: -ms-linear-gradient(top, #034faf 0%,#00387b 100%);
    background: linear-gradient(to bottom, #034faf 0%,#00387b 100%);
    box-shadow: inset 0px 1px 2px #2168ba;
    border-color: #2f3100;
}

.button-gradient-hover
{
	background: #3183eb;
    background: -moz-linear-gradient(top, #3183eb 0%, #075dc8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3183eb), color-stop(100%,#075dc8));
    background: -webkit-linear-gradient(top, #3183eb 0%,#075dc8 100%);
    background: -o-linear-gradient(top, #3183eb 0%,#075dc8 100%);
    background: -ms-linear-gradient(top, #3183eb 0%,#075dc8 100%);
    background: linear-gradient(to bottom, #3183eb 0%,#075dc8 100%);
}

.theme-entry
{
	.SourceCode-Forms-Controls-Web-ControlPack-Common-SearchBar
	{
		.search-button-wrapper,
		.clear-search-button-wrapper
		{
			.button-gradient;
		}

		.search-button-wrapper:hover,
		.clear-search-button-wrapper:hover
		{
			.button-gradient-hover;
		}
	}
}
