.designtime.SourceCode-Forms-Controls-Web-ControlPack-ImageAnnotation .imageAnnotation-container {
  background-image: url('Images/ImageAnnotation46.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 46px;
  height: 46px;
}
.runtime.SourceCode-Forms-Controls-Web-ControlPack-ImageAnnotation {
  display: none;
}
