.full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.workspace.workspace-editcredentials {
  /* #region Custom styling for smartforms */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* #endregion */
}
.workspace.workspace-editcredentials html,
.workspace.workspace-editcredentials body,
.workspace.workspace-editcredentials body > form,
.workspace.workspace-editcredentials .runtime-content,
.workspace.workspace-editcredentials .runtime-form,
.workspace.workspace-editcredentials .form {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100% !important;
}
.workspace.workspace-editcredentials .runtime-content {
  margin: 0 !important;
  /* override inline style */
}
.workspace.workspace-editcredentials .form {
  padding: 0;
  display: table;
}
.workspace.workspace-editcredentials .form .row {
  display: table-row;
}
    .workspace.workspace-editcredentials .row:nth-child(2) .innerpanel > .SourceCode-Forms-Controls-Web-Table .editor-cell[row='1'][col='1']
    {
        padding: 0;
    }
.workspace.workspace-editcredentials ::-webkit-input-placeholder,
.workspace.workspace-editcredentials :-moz-placeholder,
.workspace.workspace-editcredentials ::-moz-placeholder,
.workspace.workspace-editcredentials :-ms-input-placeholder {
  color: #c3c3c3;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Open-Sans Regular', 'Segoe UI Regular', 'Helvetica' !important;
  font-size: 1.2rem !important;
}
.workspace.workspace-editcredentials .form,
.workspace.workspace-editcredentials span.SFC.SourceCode-Forms-Controls-Web-Label,
.workspace.workspace-editcredentials span.SFC.SourceCode-Forms-Controls-Web-DataLabel {
  font-family: 'Open-Sans Regular', 'Segoe UI Regular', 'Helvetica';
  font-size: 1.5rem;
  color: #6b7785;
}
    .workspace.workspace-editcredentials .SourceCode-Forms-Controls-Web-Table > .editor-cell.lastrow
    {
        padding-bottom: 0;
    }
    .workspace.workspace-editcredentials .SourceCode-Forms-Controls-Web-Table > .editor-cell[row='1']
    {
        padding-top: 0;
    }
    .workspace.workspace-editcredentials .SourceCode-Forms-Controls-Web-Table .editor-cell
    {
        padding: .5rem 1rem;
    }
.workspace.workspace-editcredentials div.row:nth-child(1) {
  display: none;
}
.workspace.workspace-editcredentials div.row:nth-child(2) {
  margin-bottom: 60px;
}
.workspace.workspace-editcredentials div.workspace-dialogbuttons-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  padding-top: 1.5rem;
}
.workspace.workspace-editcredentials table.workspace-providerheadertable {
  background-color: #f2f2f2;
}
    .workspace.workspace-editcredentials .workspace-providerheadertable > .editor-cell[row='1'][col='1']
    {
        white-space: nowrap;
        width: 3.2rem !important;
        /* override inline style */
        padding: .5rem !important;
        padding-left: 1rem !important;
        vertical-align: middle;
        text-align: center;
    }
.workspace.workspace-editcredentials .workspace-providerheadertable > .editor-cell[row='1'].lastcellinrow {
  width: 100% !important;
  /* override inline style */
  padding: 1rem;
  padding-left: 0;
}
    .workspace.workspace-editcredentials .workspace-providerheadertable
    {
        -ms-grid-columns: auto 1fr !important;
        grid-template-columns: auto 1fr !important;
    }

.workspace.workspace-editcredentials span.SourceCode-Forms-Controls-Web-Label[name="lbProviderIcon"] {
  display: inline-block;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-image: url('SecurityLabels/ActiveDirectoryProvider32.png');
  padding: 0;
}
.workspace.workspace-editcredentials span.SFC.SourceCode-Forms-Controls-Web-DataLabel[name="dlProviderName"] {
  padding: 0 .5rem;
  color: #6b7785;
}
.workspace.workspace-editcredentials span.SFC.SourceCode-Forms-Controls-Web-DataLabel[name="dlLabelName"] {
  padding: 0 .5rem;
  color: #000000;
}
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button {
  background-image: none;
  box-shadow: none;
  outline: none;
}
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button[name="btnOK"],
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button[name="btnRemoveCredentials"] {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  margin: 0 auto;
  color: #c3c3c3;
  padding: .5rem 0;
  background-color: #305b74;
  border-radius: .3rem;
  -moz-transition: color linear .05s;
  -o-transition: color linear .05s;
  -webkit-transition: color linear .05s;
  transition: color linear .05s;
}
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button[name="btnOK"]:hover,
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button[name="btnRemoveCredentials"]:hover {
  color: #fff;
}
.workspace.workspace-editcredentials a.SFC.SourceCode-Forms-Controls-Web-Button[name="btnRemoveCredentials"] {
  background: #bf0000;
  background: -moz-linear-gradient(top, #bf0000 0, #a00000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0, #bf0000), color-stop(100%, #a00000));
  background: -webkit-linear-gradient(top, #bf0000 0, #a00000 100%);
  background: -o-linear-gradient(top, #bf0000 0, #a00000 100%);
  background: -ms-linear-gradient(top, #bf0000 0, #a00000 100%);
  background: linear-gradient(to bottom, #bf0000 0, #a00000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf0000', endColorstr='#a00000', GradientType=0);
}
.workspace.workspace-editcredentials span.SourceCode-Forms-Controls-Web-Label[name="lbPasswordEncrypted"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('workspace/PasswordLock12.png');
  background-position: left center;
  background-size: 1.2rem;
  padding: .5rem;
  padding-left: 1.5rem;
  padding-top: .7rem;
  font-size: 1rem;
  color: #c3c3c3;
}
.workspace.workspace-editcredentials .workspace-editcredentials-datatable {
  padding-bottom: 1rem;
}
.workspace.workspace-editcredentials .workspace-editcredentials-datatable .editor-cell {
  padding: 0;
}
@media only screen and (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
  .workspace-homepage .theme-entry span.SourceCode-Forms-Controls-Web-Label[name="lbPasswordEncrypted"] {
    background-image: url('workspace/PasswordLock12@2x.png');
  }
  .workspace-homepage .theme-entry span.SourceCode-Forms-Controls-Web-Label[name="lbProviderIcon"] {
    background-image: url('SecurityLabels/ActiveDirectoryProvider32@2x.png');
  }
}
