.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor0 {
  color: #530309;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor1 {
  color: #023530;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor2 {
  color: #395003;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor3 {
  color: #B07d00;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor4 {
  color: #591c4b;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor5 {
  color: #1f7a73;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor6 {
  color: #800811;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor7 {
  color: #055249;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor8 {
  color: #597c08;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor9 {
  color: #D19f23;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor10 {
  color: #7e3d6f;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-GenericChart .genericChartThemeWrapper .genericChartControlColor11 {
  color: #499b95;
}
