.testa
{

}

.theme-entry .StandardChart .series0ActivityInstances
{
	stroke: #530309;
	fill: #530309;
}

.theme-entry .StandardChart .series1ActivityInstances
{
	stroke: #023530;
	fill: #023530;
}

.theme-entry .StandardChart .series2ActivityInstances
{
	stroke: #395003;
	fill: #395003;
}

.theme-entry .StandardChart .series3ActivityInstances
{
	stroke: #B07D00;
	fill: #B07D00;
}

.theme-entry .StandardChart .series4ActivityInstances
{
	stroke: #591C4B;
	fill: #591C4B;
}

.theme-entry .StandardChart .series5ActivityInstances
{
	stroke: #1F7A73;
	fill: #1F7A73;
}

.theme-entry .StandardChart .series6ActivityInstances
{
	stroke: #800811;
	fill: #800811;
}

.theme-entry .StandardChart .series7ActivityInstances
{
	stroke: #055249;
	fill: #055249;
}

.theme-entry .StandardChart .series8ActivityInstances
{
	stroke: #597C08;
	fill: #597C08;
}

.theme-entry .StandardChart .series9ActivityInstances
{
	stroke: #D19F23;
	fill: #D19F23;
}

.theme-entry .StandardChart .series10ActivityInstances
{
	stroke: #7E3D6F;
	fill: #7E3D6F;
}

.theme-entry .StandardChart .series11ActivityInstances
{
	stroke: #499B95;
	fill: #499B95;
}

.theme-entry .StandardChart .series12ActivityInstances
{
	stroke: #530309;
	fill: #530309;
}

.theme-entry .StandardChart .series13ActivityInstances
{
	stroke: #023530;
	fill: #023530;
}

.theme-entry .StandardChart .series14ActivityInstances
{
	stroke: #395003;
	fill: #395003;
}

.theme-entry .StandardChart .radchartlabel
{
	font-size: 12px;
	fill: #262626;
}

.theme-entry .StandardChart .radhtmlcharttitle
{
	font-weight: bold;
}

.theme-entry .StandardChart .radhtmlchartsubtitle
{
	fill: #CCCCCC;
	color: #CCCCCC;
}

.theme-entry .k-tooltip
{
	border-color: #CC8084 !important;
}