#wizardContainerLoading, #wizardContainerWrapper
{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#wizardContainerLoading
{
	background-color:#fff;
}

.wizardContainer
{
	height: 100%;
	width: 100%;
}

/* Mapping screen */
table.mappingTable
{
	width: 100%;
}

td.mappingLabel
{
	width: 280px;
}

td.mappingValue
{
}
