
@res: "@2x";

.propertyGridPropertyItem.error .input-control.icon-control.expression .input-control-wrapper
{
    background-image: url( "../../../../Styles/Platinum2/Images/Icons/Badges/Properties_Error16@{res}.png");
}


span.layout-create-blank32
{
    background-image: url('../../../../Styles/Platinum2/Images/Icons/Toolbox/Table32@{res}.png');
}

span.layout-create-blank32.inactive
{
    background-image: url('../../../../Styles/Platinum2/Images/Icons/Toolbox/Table_Alt32@{res}.png');
}

span.layout-auto-generate32
{
    background-image: url('../../../../Styles/Platinum2/Images/Icons/Toolbar/AutoTable32@{res}.png');
}

span.layout-auto-generate32.inactive
{
    background-image: url('../../../../Styles/Platinum2/Images/Icons/Toolbar/AutoTable_Alt32@{res}.png');
}

#EmptyViewIcon
{
    background-image: url('../../../../Styles/Platinum2/Images/Icons/FileTypes/ViewEtched128@{res}.png');
}
